<div id="chat" resize>
  <div class="pageHeader banner" style="background-image: url(./img/chat.jpg)">
    <div class="banner-text">
      <div>
        <div class="slogan">{{"chat_title" | translate}}</div>
      </div>
    </div>
  </div>

  <div class="main_section">
    
      <div class="container">
        <div class="row">
          <!--<h1 class="text-center  ng-binding">{{"chat_title" | translate}}</h1>-->
          <div class="chat_container">
            <div ng-click="variables.isChatListOpen = true" ng-swipe-right="variables.isChatListOpen = true" class="coll-chatrooms open-chatrooms visible-xs">
              <span><i class="fa fa-chevron-right"></i></span>
              <span id="msg-count" ng-if="currentUser.msg_unseen > 0">{{currentUser.msg_unseen}}</span>
            </div>
            <div class="col-sm-4 chat_sidebar" slideout="variables.isChatListOpen" slideout-direction="from-left" ng-swipe-disable-mouse ng-swipe-left="variables.isChatListOpen = false">
            <div class="row">
              <div id="custom-search-input">
                <div class="input-group col-md-12 col-xs-12">
                  <input type="text" ng-model="searchquery" class="  search-query form-control" placeholder="{{ 'entertaining_book_search_article' | translate}} ..." />
                  <button class="btn btn-danger" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
              <div ng-click="variables.isChatListOpen = false" class="coll-chatrooms close-chatrooms visible-xs">
                <span><i class="fa fa-close"></i></span>
              </div>
              <div class="member_list" ng-swipe-right="variables.isChatListOpen = false;" >
                <ul class="list-unstyled">
                  <li ng-repeat="room in variables.chatrooms| filter:searchquery | orderBy:'-last_message.timestamp.toString()'" ng-click='getChatHistory(room.id, 0, variables.limit)' class="left clearfix chat-type-{{room.type}} {{room.id == variables.active_room.id ? 'active' : ''}}" >
                    <span class="chat-img pull-left">
                      <img src="{{room.type == 'user' ? (room.picture ? room.picture : './img/no-photo.png') : './img/no-photo-group.png'}}" alt="User Avatar" class="img-circle">
                    </span>
                    <div class="chat-body clearfix">
                      <div class="header_sec">
                        <div class="chat-title" ng-init="popoverOpened = false" ng-mouseover="popoverOpened = true" ng-mouseleave="popoverOpened = false">
                          <div popover-html="'<a href=\'profile/{{room.user_id}}\' target=\'_blank\'> {{'admin_user_view_profile'| translate }} </a>'" popover-trigger="none" popover-placement="right" popover-is-open="popoverOpened">
                            <strong class="primary-font" ng-if='room.name !== "only_you"'>{{room.name[$root.language]}}</strong>
                            <strong class="primary-font" ng-if='room.name == "only_you"'>{{room.name| translate}}</strong>
                          </div>
                        </div>
                        <span ng-show='room.unseen_messages > 0' class="badge pull-right">{{room.unseen_messages}}</span>
                      </div>
                      <div class="contact_sec">
                        <span class="primary-font">{{ room.last_message.message | limitTo : 30 : 0}}{{room.last_message.message.length > 30 ? '...' : ''}}</span>
                        <span class="pull-right time">{{formatTime(room.last_message.timestamp, true)}}</span>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class='chats-message'>{{variables.chat_chatrooms_msg| translate}}</div>
              </div></div>
          </div>
          <!--chat_sidebar-->
          <div class="col-sm-8 message_section">
            <div class="row">
              <div class="new_message_head">
                <div class="pull-right" ng-show="variables.history.length && variables.active_room.type == 'group'">
                  <div class="dropdown">
                    <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-cogs" aria-hidden="true"></i>  {{'settings'| translate}}
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                      <li><a href="#" ng-click="addUsersToGroup()">{{'add_users'| translate}}</a></li>
                      <li><a href="#" ng-click="renameGroup()">{{'rename_group'| translate}}</a></li>
                      <li><a href="#" ng-click="removeGroup()" ng-if="variables.currUser == variables.active_room.author">{{'remove_group'| translate}}</a></li>
                    </ul>
                  </div>
                </div>
              </div><!--new_message_head-->
              <div class="chat_area chat-type-{{variables.active_room.type}}">
                <div ng-if="variables.history.length" scroll-glue-bottom="glued" exec-on-scroll-to-top="handleScrollToTop" class='chat-area-history'>
                  <div scroll-glue-anchor class="msg-group" ng-repeat="(key, value) in variables.history | groupBy: '[date_day, date_month, date_year]'">
                    <div class='group-title'> 
                      {{'month_' + key.split(',')[1] | translate}} {{key.split(',')[0]}}, {{key.split(',')[2]}}
                    </div>
                    <ul class="list-unstyled">
                      <li ng-repeat="message in value" class="single-message left clearfix author-{{variables.currUser == message.user_id ? 'me' : 'other'}} {{message.status}}" id="msg-{{(message.id != undefined) ? message.id : message.message_js_id}}">
                        <span class="col-md-1 col-sm-2 col-xs-3 chat-img">
                          <img src="{{message.user_info.picture ? message.user_info.picture : './img/no-photo.png'}}" alt="User Avatar" class="img-circle">
                        </span>
                        <div class="col-md-11 col-sm-10 col-xs-9 chat-body clearfix">
                          <div class='msg' ng-bind-html="message.message | ios_emoji | smilies | file_thumbnail"></div>
                          <div class='msg-info'>
                            <span ng-if="variables.currUser != message.user_id">
                              <span class='chat-name'> {{message.user_info.name[$root.language]}}</span>
                            </span>
                            <span ng-if="variables.currUser == message.user_id" class='chat-name'>{{'me'| translate}}</span>
                            <span class="chat_time" ng-show="message.timestamp != undefined">, {{formatTime(message.timestamp, false)}}</span>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class='chats-message'>{{variables.chat_history_msg| translate}}</div>
              </div><!--chat_area-->
              <div class="message_write" ng-show="variables.history.length">
                <form ng-submit="sendChatMessage(form)" name='sendMessageForm' id="sendMessageForm">
                    <textarea ng-model="form.message" focus-on-change="form.message" name="message" prevententer ng-keyup="submitMessage($event) && sendChatMessage(form)" class="form-control" placeholder="{{'type_message'| translate }}" required></textarea>
                  <div class="clearfix"></div>
                  <div class="chat_bottom">
                    <input  type="submit" class="pull-right btn btn-success" id="submit" value="{{ 'contact_us_form_submit' | translate }}" ng-disabled="!sendMessageForm.$valid" />
                  </div>
                </form>
                <div class="clearfix"></div>
                <div class="bottom-actions">
                  <form class="pull-left attach-file">
                    <input type="file" id="file-attach" class="file-attach" custom-on-change="uploadFile" />
                    <label for="file-attach" class="upload_btn">
                      <i class="fa fa-paperclip"></i>
                      {{'attach_file'| translate}}
                    </label>
                  </form>
                  <a href="#" class="pull-left add_users_btn" ng-click="addUsersToGroup()">
                    <i class="fa fa-user-plus"></i>
                    {{'add_users'| translate}}
                  </a>
                  <div class="pull-left insert_emoji">
                    <span smilies-selector="form.message" smilies-placement="top" smilies-text="{{'insert_emoji'| translate}}"></span>
                  </div>
                </div>
                <ul class="list-inline chat-members-list" ng-if="variables.active_room.type == 'group'">
                  <li ng-repeat="member in variables.members"> 
                    <div class="chat-member">
                      <a href="/profile/{{member.id}}" target="_blank"><span class="primary-font">{{member.name[$root.language]}}</span></a>
                      <i ng-if="variables.currUser == variables.active_room.author" ng-click="removeUserFromGroup(member.id, member.name[$root.language])" class="fa fa-times"></i>
                    </div>
                  </li>
                </ul>
                <div class="group-info" ng-if="variables.active_room.type == 'group'">
                  <i class="fa fa-info-circle"></i>
                  {{"group_chat_info_msg" | translate}}
                </div>
              </div>
            </div>
          </div>
        </div> <!--message_section-->
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="footer-block">
      <div class="container">
        <h3 class="ng-binding">{{"our_all_users_are_here" | translate}}</h3>
        <ul class="ng-scope">
          <li>
            <a class="btn btn-info ng-binding" ng-click="changeTab('familyTree')">{{"menu_family_tree" | translate}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
