<button type="button" class="close modal-btn" data-dismiss="modal" ng-click="$close()">&times;</button>
<div id="renameGroupPopup">
  <h3> {{ 'rename_group' | translate }} </h3>
  <form role="form" id="renameGroupForm" name="renameGroupForm">
    <input type="text" ng-model="form.name" placeholder="{{ 'type_group_name' | translate }}">
    <div class="clearfix"></div>
    <div class="form-bottom">
      <input type="submit" class="btn btn-success" id="submit" value="{{ 'rename' | translate }}" ng-click="renameGroup()"/>
    </div>
  </form>
</div>

