<button type="button" class="close modal-btn" data-dismiss="modal" ng-click="$close()">&times;</button>
<div id="selectUsersPopup">
  <h3> {{"select_users" | translate}} </h3>
  <form role="form" id="SelectUsersForm" name="SelectUsersForm">
    <select ng-model="form.selected_users" chosen
      multiple
      placeholder-text-multiple="'{{'type_user_name' | translate}}'"
      no-results-text="'No users found'"
      ng-model="select_users"
      ng-options="u.id as u.name.{{$root.language}} for u in chat_users" >
    </select>
    <div class="clearfix"></div>
    <div class="form-bottom">
      <input type="submit" class="btn btn-success" id="submit" value="{{ 'add_users' | translate }}" ng-click="selectUsers()"/>
    </div>
  </form>
</div>

