<div class="modal-header">
    <button type="button" class="close fa fa-times" data-dismiss="modal" ng-click="$close()"></button>
</div>
<div class="modal-body">
    <div class="container-fluid ">
        <form class="form-horizontal" role="form" id="articleForm" name="articleForm">
            <h3 class="text-center">{{'admin_article_form_title' | translate}}</h3>
            <div class="form-group">
                <label  class="col-sm-3 control-label">{{ 'admin_article_author' | translate }}:</label>
                <div class="col-sm-9">
                    <p class="form-control-static" >{{variables.article.first_name}} {{variables.article.last_name}}</p>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-3 control-label">{{ 'admin_article_author_picture' | translate }}:</label>
                <div class="col-sm-9">
                    <img class="form-control-static" width="50px" height="50px" ng-if="variables.article.user_avatar && variables.article.user_avatar != ''" ng-src="{{variables.article.user_avatar}}" />
                </div>
            </div>
            <div class="row lang-area">
                <div class="col-sm-8 col-xs-8">
                    <p class="description">{{'popup_all_languages_title' | translate}}:</p>
                </div>
                <div class="col-sm-4 col-xs-4">
                    <ul ng-init="tab = 1" class="blueTab lang" >
                        <li ng-class="{active:tab===1}">
                            <a href ng-click="tab = 1">{{ 'lang_en' | translate }}</a>
                        </li>
                        <li ng-class="{active:tab===2}">
                            <a href ng-click="tab = 2">{{ 'lang_ru' | translate }}</a>
                        </li>
                        <li ng-class="{active:tab===3}">
                            <a href ng-click="tab = 3">{{ 'lang_am' | translate }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-3 control-label">{{ 'admin_article_title' | translate }}</label>
                <div class="col-sm-9">
                    <p class="form-control-static" ng-show="tab == 3" >{{variables.article._languageData.en.title}}</p>
                    <p class="form-control-static" ng-show="tab == 2" >{{variables.article._languageData.ru.title}}</p>
                    <p class="form-control-static" ng-show="tab == 1" >{{variables.article._languageData.am.title}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'admin_article_content' | translate }}</label>
                <div class="col-sm-9">
                    <text-angular ng-show="tab == 3" ng-model="variables.article._languageData.am.content"></text-angular>
                    <text-angular ng-show="tab == 2" ng-model="variables.article._languageData.ru.content"></text-angular>
                    <text-angular ng-show="tab == 1" ng-model="variables.article._languageData.en.content"></text-angular>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 text-center">
                    <button class="btn btn-danger" ng-click="rejectArticle()"><span class="fa fa-times"></span></button>
                    <button class="btn btn-success" ng-click="approveArticle()" ng-if="variables.article.approve_status == 0"><span class="fa fa-check"></span></button>
                </div>
            </div>
        </form>
    </div>
</div>