<div class="modal-header">
    <button type="button" class="close fa fa-times" data-dismiss="modal" ng-click="$close()"></button>
</div>
<div class="modal-body">
    <div class="container-fluid ">
        <form class="form-horizontal" role="form" id="commentForm" name="commentForm">
            <h3 class="text-center">{{'admin_comment_title' | translate}}</h3>
            <div class="form-group">
                <label  class="col-sm-3 control-label">{{ 'admin_comment_table_comment' | translate }}</label>
                <div class="col-sm-9">
                    <p class="form-control-static" >{{variables.comment.comment}}</p>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-3 control-label">{{ 'admin_comment_table_forum' | translate }}</label>
                <div class="col-sm-9">
                    <p class="form-control-static" >{{variables.comment.title}}</p>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-3 control-label">{{ 'admin_comment_table_author' | translate }}</label>
                <div class="col-sm-9">
                    <p class="form-control-static" >{{variables.comment.login}}</p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-5">
                    <button class="btn btn-danger" ng-click="rejectForum()"><span class="fa fa-times"></span></button>
                    <button class="btn btn-success" ng-click="approveForum()"><span class="fa fa-check"></span></button>
                </div>
            </div>
        </form>
    </div>
</div>