<div class="modal-header">
    <button type="button" class="close fa fa-times" data-dismiss="modal" ng-click="$close()"></button>
</div>
<div class="modal-body">
    <div class="container-fluid ">
        <form class="form-horizontal" role="form" id="forumForm" name="forumForm">
            <h3 class="text-center">{{'admin_forum_title' | translate}}</h3>
            <div class="form-group">
                <div class="row">
                    <label  class="col-sm-3 control-label">{{ 'admin_forum_table_lang' | translate }}</label>
                    <div class="col-sm-9">
                        <p class="form-control-static" >{{variables.forum.lang}}</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label  class="col-sm-3 control-label">{{ 'admin_forum_table_title' | translate }}</label>
                    <div class="col-sm-9">
                        <p class="form-control-static" >{{variables.forum.title}}</p>
                        <!--input ng-model="variables.forum.title"   class="form-control"  required -->
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12 text-center">
                    <!--button class="btn btn-blue" ng-click="updateForum()">{{'admin_forum_update' | translate}}</button-->
                    <button class="btn btn-danger" ng-click="rejectForum()"><span class="fa fa-times"></span></button>
                    <button class="btn btn-success" ng-click="approveForum()" ng-if="variables.forum.approve_status == 0"><span class="fa fa-check"></span></button>
                </div>
            </div>
        </form>
    </div>
</div>