<div class="modal-header">
    <button type="button" class="close fa fa-times" data-dismiss="modal" ng-click="$close()"></button>
</div>
<div class="modal-body">
    <div class="container-fluid ">
        <form class="form-horizontal" role="form" name="messageForm">
            <h3 class="text-center">{{'admin_message_form_title' | translate}}</h3>
            <div class="form-group">
                <label  class="col-sm-3 control-label">{{ 'contact_us_form_name' | translate }}</label>
                <div class="col-sm-5">
                    <p class="form-control-static">{{variables.message.name}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'contact_us_form_email' | translate }}</label>
                <div class="col-sm-5">
                    <p class="form-control-static">{{variables.message.email}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'contact_us_form_phone' | translate }}</label>
                <div class="col-sm-5">
                    <p class="form-control-static">{{variables.message.phone}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'contact_us_form_header' | translate }}</label>
                <div class="col-sm-5">
                    <p class="form-control-static">{{variables.message.header}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'contact_us_form_message' | translate }}</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{variables.message.message}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'admin_message_form_attached_file' | translate }}</label>
                <div class="col-sm-5">
                    <a ng-href="../{{variables.message.file}}" target="_self">{{variables.message.file}}</a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 text-center">
                    <button   class="btn btn-info" ng-click="close()">{{ 'admin_message_form_ok' | translate }}</button>
                </div>
            </div>
        </form>
    </div>
</div>