<div  id="entertainingBookPage" >
  <div class="pageHeader banner" style="background-image: url(./img/entertainment.jpg)">
    <div class="banner-text"><div class="slogan">{{ 'entertaining_book_side_bar_title' | translate}}</div></div>
  </div>
  <div class="special-content">
    <!--<h3 class="text-center ">{{ 'entertaining_book_side_bar_title' | translate}}</h3>-->
    <div class="entertainingBookContent">
      <div class="container">
        <div class="row nav-buttons">
          <div class="col-sm-12">
            <div ng-click="createArticle()">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
              <span ng-click="createForum()" >{{ 'entertaining_book_new_article' | translate }}</span>
            </div>
          </div>
        </div>


        <div class="row contentPart">
          <div ng-click="variables.isBookListOpen = true" ng-swipe-right="variables.isBookListOpen = true" class="coll-list open-list visible-xs">
            <span><i class="fa fa-chevron-right"></i></span>
          </div>
          <div id="articleList" class="col-sm-4 articleList" slideout="variables.isBookListOpen" slideout-direction="from-left" ng-swipe-disable-mouse ng-swipe-left="variables.isBookListOpen = false">
            <form  class="search-form row" name="searchForm">
              <div class="form-group has-feedback" >
                <input ng-keyup="$event.keyCode == 13 && loadArticlesInfo()" type="text" class="form-control" placeholder="{{ 'entertaining_book_search_article' | translate }}"ng-model="searchVariable" ng-minlength="3">
                <span class="fa fa-search form-control-feedback" ng-click="loadArticlesInfo()" ></span>
              </div>
            </form>
            <div ng-click="variables.isBookListOpen = false" class="coll-list close-list visible-xs">
              <span><i class="fa fa-close"></i></span>
            </div>    
            <ul class="book-list">
              <li ng-repeat="article in filteredlist = (variables.articles)| pagination: currentPage : numPerPage" ng-class="{active:variables.selectedArticle.id == article.id}">
                <div class="row" ng-click="loadArticleDetail($index);
                        gotoArticleContent()">
                  <div class="col-sm-12 article-name">
                    <div  class="title">{{article.title}}</div>
                    <div>{{article.first_name}} {{article.last_name}}</div>
                  </div>
                </div>
              </li>
            </ul>
            <!--Forum pagination-->
            <div class="row forum-pagination" ng-show="filteredlist.length > 0">
              <pagination total-items="totalItems"
                          ng-model="currentPage"
                          ng-change="pageChanged()"
                          class="pagination-sm"
                          max-size="maxSize"
                          items-per-page="itemsPerPage"
                          boundary-links="true"
                          previous-text="&lsaquo;"
                          next-text="&rsaquo;"
                          first-text="&laquo;"
                          last-text="&raquo;"
                          ng-hide="filteredlist.length <= numPerPage" >

              </pagination>
            </div>
          </div>


          <div id="articleContent"  class="col-sm-8 articleContent">
            <ul>
              <li>
                <h2 class="title">{{variables.selectedArticle.title}}</h2>
                <div ng-bind-html="variables.selectedArticle.content" class="commentContent"></div>
                <div class="info">
                  <span ng-if="variables.selectedArticle.user_avatar && variables.selectedArticle.user_avatar != ''" class="avatar">
                    <img width="50px" height="50px" ng-src="{{variables.selectedArticle.user_avatar}}" >
                  </span>
                  <div class="avatar-info">
                    <span class="userName">{{variables.selectedArticle.first_name}} {{variables.selectedArticle.last_name}}</span>
                    <span>,{{variables.selectedArticle.creation_date| date:'medium'}}</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-block">
    <div class="container">
      <h1>{{'entertaining_book_footer_block_title'| translate}}</h1>
      <div class="btn btn-info" ng-click="changeTab('guessBook')">{{ 'guess_book_side_bar_title' | translate}}</div>
    </div>
  </div>
</div>
