<div class="modal-header">
    <button type="button" class="close fa fa-times" data-dismiss="modal" ng-click="$close()"></button>
</div>
<div class="modal-body">
    <div class="container-fluid ">
        <form class="form-horizontal clear" role="form" id="newArticleForm" name="newArticleForm">
        <div class="row lang-area">
            <div class="col-sm-8 col-xs-8">
                <p class="description">{{'popup_all_languages_title' | translate}}:</p>
            </div>
            <div class="col-sm-4 col-xs-4">
                <ul ng-init="tab = 1" class="blueTab lang" >
                    <li ng-class="{active:tab===1}">
                        <a href ng-click="tab = 1">{{ 'lang_en' | translate }}</a>
                    </li>
                    <li ng-class="{active:tab===2}">
                        <a href ng-click="tab = 2">{{ 'lang_ru' | translate }}</a>
                    </li>
                    <li ng-class="{active:tab===3}">
                        <a href ng-click="tab = 3">{{ 'lang_am' | translate }}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <input ng-show="tab == 3" ng-model="variables.article._languageData.am.title"   class="form-control"  placeholder="{{ 'entertaining_book_new_article_title' | translate }}" required>
                <input ng-show="tab == 2" ng-model="variables.article._languageData.ru.title"   class="form-control"  placeholder="{{ 'entertaining_book_new_article_title' | translate }}" required >
                <input ng-show="tab == 1" ng-model="variables.article._languageData.en.title"   class="form-control"  placeholder="{{ 'entertaining_book_new_article_title' | translate }}" required >
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <text-angular ng-show="tab == 3" ng-model="variables.article._languageData.am.content" placeholder="{{ 'entertaining_book_new_article_content' | translate }}"></text-angular>
                <text-angular ng-show="tab == 2" ng-model="variables.article._languageData.ru.content" placeholder="{{ 'entertaining_book_new_article_content' | translate }}"></text-angular>
                <text-angular ng-show="tab == 1" ng-model="variables.article._languageData.en.content" placeholder="{{ 'entertaining_book_new_article_content' | translate }}"></text-angular>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 text-center">
                <button type="submit"  class="btn btn-success" ng-click="submitNewArticleForm()" ng-disabled="!newArticleForm.$valid">{{ 'contact_us_form_submit' | translate }}</button>
            </div>
        </div>
    </form>
    </div>
</div>
