<div  id="mainPageDetail">
    <div class="pageHeader banner all" style="background-image: url(./img/mainpage/{{variables.selectedPart.headerImg}})">
        <div class="banner-text">
            <div class="slogan">{{variables.selectedPart.title}}</div>
        </div>
    </div>

    <div class="mainPageDetailContent">
        <div class="container special-content">

            <div class="row">

                <div id="detailSideBar" class="col-sm-3 sideBar" ng-if="currentUser">
                    <ul>
                        <li ng-repeat="part in variables.parts" ng-class="{active:tab == part.id}">
                            <a href="/mainPage/{{part.id}}"  ng-click="tab = part.id">{{part.title}}
                                <i class="fa  fa-caret-right" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="detailContent" ng-class="{'col-sm-9': currentUser,'col-sm-12 no-border': !currentUser}" class="container sideBarContent">
                    <!--<h3 class="text-center">{{variables.selectedPart.title}}</h3>-->
                    <div ng-bind-html="variables.selectedPart.content"></div>
                </div>

            </div>

        </div>
    </div>
    <div class="footer-block">
        <div class="container">
            <h1>{{'main_page_detail_footer_block_title' | translate}}</h1>
            <p>{{'main_page_detail_footer_block_text' | translate}}</p>
            <div><a class="btn btn-success" ng-click="changeTab('contactUs')" >{{ 'menu_contact_us' | translate }}</a></div>
        </div>
    </div>
</div>