<div id="mainPage">
    <div class="pageHeader banner" style="background-image: url(./img/home.jpg)">
        <!--<img  ng-src="./img/home.jpg" class="img-responsive">-->
        <div class="banner-text">
            <div>
                <p class="slogan">{{'zargaryan_family' | translate}}</p>
                <p>{{'main_page_detail_banner_text' | translate}}</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <ul>
            <li ng-repeat="part in variables.parts" ng-class="{grey: ($index%2 == 0 && $index != 4) || $index == 3}">
                <div>
                    <div class="row" ng-class="{'overlay-layout': ($index%2 == 1 || $index == 4) && $index != 3}">
                        <div ng-class="{'col-sm-6 hidden-sm hidden-xs': ($index%2 == 0 && $index != 4) || $index == 3,'col-sm-12': ($index%2 == 1 || $index == 4) && $index != 3, 'rightAligned': $index == 2}" class="no-gutters">
                            <img ng-src="./img/mainpage/{{$index}}.jpg" class="img-responsive">
                        </div>

                        <div ng-class="{'col-lg-6 col-md-6 col-sm-12 col-xs-12 leftAlignedText text-part': ($index%2 == 0 && $index != 4) || $index == 3,'col-sm-12 overlay': ($index%2 == 1 || $index == 4) && $index != 3, 'rightAlignedText': $index == 2}">
                            <div>
                                <div class="rgb-layout">
                                    <h1 class="text-uppercase">{{part.title}}</h1>
                                    <div ng-if="($index%2 == 1 || $index == 4) && $index != 3 " ng-bind-html="cutString(part.short_content, charLimit)" class="shortContent"></div>
                                    <div ng-if="($index%2 == 1 || $index == 4) && $index != 3 "  class="shortContent link">
                                        <a href="/mainPage/{{part.id}}" ng-bind-html="cutString(part.short_content, charLimit)"></a>
                                    </div>
                                    <div ng-if="($index%2 == 0 && $index != 4) || $index == 3" ng-bind-html="part.short_content" class="shortContent">ll</div>
                                </div>
                                <div class="readMoreDiv" ng-if="$index == 3">
                                    <a href="/mainPage/{{part.id}}" class="btn btn-info">{{'main_page_our_mission_btn' | translate}}</a>
                                </div>
                                <div class="readMoreDiv" ng-if="$index != 3">
                                    <a href="/mainPage/{{part.id}}" ng-class="{'btn btn-info': ($index%2 == 0 && $index != 4) || $index == 3 ,'btn btn-success': ($index%2 == 1 || $index == 4 || $index == 3)}">{{ 'main_page_read_more' | translate }}</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>