
.adminContainer{
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#adminPage #messagesTable tbody tr{
    cursor: pointer;
}

#adminPage #messagesTable .notSeen {
    font-weight: bold;
}


.app-modal-large .modal-dialog {
    /*width:1000px;*/
}
#adminUsers table th .glyphicon, #adminUsers table td .glyphicon {
    cursor: pointer;
}
#adminUsers table td.sorting input,  #adminUsers table td.sorting select{
    width: 80%;
    float: right;
}
#adminUsers table td.checkbox input {

}
#adminUsers table td.sorting {
    position: relative;
}
#adminUsers table td.sorting span {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.admin-pagination {
    margin-bottom: 40px;
}
.admin-pagination .pagination{
    display: inline;
}
.admin-pagination span {
    margin-left: 20px;
    font-size: 1.3em;
}
#usersTable th:nth-child(6) {
    width: 7%;
}
#usersTable th:first-child {
    width: 18%;
}
#usersTable.table>thead>tr>th {
    vertical-align: middle;
}
#usersTableFilter.table thead tr td {
    border-top: none;
}
#usersTableFilter.table>tbody>tr>td {
    border-top: none;
    padding: 2px;
}
#usersTableFilter {
    margin-top: 15px;
    margin-bottom: 5px;
}