html,
body {
    margin:0;
    padding:0;
    height:100%;
    background-color: #F8F8F8;
    font-family: "Segeo UI Light" ;
}
.page{
    min-height:100%;
    position:relative;
}

.container {
    background-color: #FFFFFF;
}

.title{
    color:#3f3f3f;
    margin-bottom: 30px;
    font-size: 40px ;
}

/*.logo{
    margin-left: 30px;
}*/

.content{
   /*padding-bottom:100px; */  /* Height+padding(top and botton) of the footer */
    text-align:justify;
	  height: 100%;
}
.content .container.layout {
    /*min-height: 206px;*/
}
.footer {
/*#footer*/
    width: 100%;
    height: 50px;
    /*position:absolute;*/
    bottom: 0;
    text-align: center;
    background-color: #F8F8F8;
}
a{
    color:#000000;
}

ul {
    list-style-type: none;
}

a{
    cursor:pointer;
}

table { table-layout: fixed; }
table th, table td { overflow: hidden; }
/*
 h3,h4{
    color: #66BCDA ;
    text-transform: uppercase;
    margin-bottom: 20px;
}*/

.btn-blue{
    background-color: #66BCDA ;
    color:#FFFFFF;
    text-transform: uppercase;
}

.btn-red{
    background-color: #FF0000 ;
    color:#FFFFFF;
    text-transform: uppercase;
}

.ng-invalid{
    border-color: #FF0000 !important;
}

.rightFloated{
    float: right;
}

.leftFloated{
    float: left;
}

.header{
    /*height:162px*/
}

/*.header .container {
    background-color: transparent;
}

.header #loginTransBar{
    height: auto;
    overflow: hidden;
}
.header #loginTransBar img{
    display: inline;
}

.header #loginTransBar a{
    font-weight: bold;
    padding: 0 10px;
}

.header #loginTransBar,.header #loginTransBar a,.header #loginBar li,.header #loginBar a{
    color: #5A5A5A ;
}

.header #loginTransBar li:hover,.header #loginTransBar a:hover{
    color: #66BCDA ;
}

.header #languageBar{
    display: inline-block;
}

.header #loginBar{
    display: inline-block;
    margin-top: -30px;
}

.header #languageBar li,.header #loginBar li{
    color:#808080;
    font-weight: bold;
    font-family: "Sylfaen Regular";
    cursor: pointer;
    display: inline-block;
}

.header #languageBar li{
    width: 30px;
    height: 25px;
    text-align: center;
}

.header #loginBar li{
    text-align: right;
}

.header #languageBar li.active{
    background-color: #808080;
    color: #dddddd;
}

.header .navigationBar{
    background-color: #ae001a!important;
    background-image: none;
    background-repeat: repeat!important;
}*/


.center-aligned{
    margin: 0 auto;
    float: none;
}
.center-aligned ul {
    text-align: center;
}

.header .navigationBar .nav-tabs{
    border-bottom: none
}
.header .navigationBar .nav-tabs li{
    float: none;
    display: inline-block;
}

.header .navigationBar .nav-tabs li.active{
    background-color: #3f3f3f;
}
.header .navigationBar .nav-tabs li.active a{
    background-color: #3f3f3f;
    font-family: Segeo UI Regular;
}

.header .navigationBar .nav-tabs li a{
    border:none;
    border-radius: 0;
    color:#FFFFFF;
    font-size: 14px;
    font-weight: bold ;
    text-transform: uppercase;
    line-height: 30px;
    padding: 10px 5px;
}
.navbar-toggle {
    background-color: #808080;
    border-radius: 0;
    border: none;
}
.navbar-toggle .icon-bar {
    background: #dddddd;
}
/*Mobile verison*/
.show-mobile{
    display:none !important;
}
.navbar {
    margin-bottom: 0;
    min-height: 1px;
}
#loginPage .checkbox input[type=checkbox] {
    margin-left: 0;
    margin-right: 20px;
}
#detailContent {
    /*padding-left: 0;
    padding-right: 0;*/
}
.header-img .container{
    height: auto;
    background-image: url(../img/mainpage/detailHeader.png);
    background-repeat: no-repeat;
    background-position-y: 20px;
    background-size: contain;
}

#msg-count {
  position: absolute;
  display: inline-block;
  top: -30px;
  right: 10%;
  color: #fff;
  z-index: 5;
  font-weight: bold;
  background-color: rgba(218, 10, 41, 0.9);
  padding: 5px 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#msg-count:after {
  content: '';
  position: absolute;
  display: inline-block;
  top: 100%;
  left: 0; 
  right: 0;
  background-image: url(../img/menu-arrow.png);
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  opacity: 0.9;
}

@media only screen and (max-width: 1199px) {
    .header .navigationBar .nav-tabs li a {
        font-size: 12px;
    }
    .header-img{
        height: 190px;
    }
    .header-img .container{
        height: 193px;
    }
}
@media only screen and (min-width: 1200px) {
    .header-img{
        height: 224px;
    }
    .header-img .container{
        height: 227px;
    }
    .modal-lg {
        width: 1180px;
    }
}
/*screen-sm-max*/
@media only screen and (max-width: 991px) {
    .hidden-mobile{
        display:none !important;
    }
    .show-mobile{
        display:block !important;
    }
    .header .navigationBar .nav-tabs li a {
        font-size: 14px;
    }
    #loginTransBar .rightFloated {
        float: none;
    }
    #loginTransBar .rightFloated ul {
        padding: 10px 0;
    }
    .container.loginBar ul {
        float: none;
        padding-left: 0;
    }
    /*Mobile menu style*/
    /*start sandwich menu*/
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .collapse.in{
        display:block !important;
    }
    /*end sandwich menu*/
    .header .navigationBar .nav-tabs li a {
        font-size: 14px;
    }
    .header .navigationBar .nav-tabs li {
        display: block;
    }
    .header .navigationBar .nav-tabs li a {
        line-height: 20px;
    }
    .header .navbar .navbar-header {
        position: absolute;
        top: -55px;
        right: 15px;
    }
    .header .navigationBar {
        min-height: 0;
    }
    .aforizm {
        margin-left: 0 !important;
        width: 40%;
    }
    .header-img{
        height: 150px;
    }
    .header-img .container{
        height: 153px;
    }
}
/*screen-xs-max*/
@media only screen and (max-width: 767px) {
    .header #loginTransBar img {
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }
    .header #loginTransBar .rightFloated {
        float: none
    }
    .header #languageBar {
        padding: 0;
    }
    .header #loginBar {
        margin-top: -35px;
    }
    #myPage .aforizm,
    #contactUsPage .aforizm,
    #entertainingBookPage .aforizm,
    #guessBook .aforizm {
        margin-left: 0 !important;
    }
    .content ul li .container img {
       width: 100%;
       margin-bottom: 30px;
       margin-top: 20px !important;
    }
    .content ul li .container .readMoreDiv, .content ul li .container h1 {
        text-align: center;
    }
    .content ul li .container .readMoreDiv {
        margin-bottom: 30px ! important;
    }
    #myPage #userInfoContainer .editProfileBtns
    {
        float: none !important;
    }
    #myPage #userInfoContainer .userAddUpdateTreeBtns {
        display: block;
        margin: 20px auto;
        float: none !important;
        text-align: center;
    }

    #albumContainer #albumContent .editAlbumBtns button {
        display: block;
        margin: 20px auto;
    }
    .header-img{
        height: 145px;
    }
    .header-img .container{
        height: 155px;
    }
    .aforizm {
        width: 35%;
    }
    .app-modal-large .modal-dialog .sliderContainer.slider{
        width: 480px;
    }
}
/*screen-xxs-max*/
@media only screen and (max-width: 479px) {
    .header .navigationBar .nav-tabs li a {
        /*font-size: 10px;*/
    }
    .logo {
        margin-left: 5px;
    }
    /*main menu mobile*/
    .header .navigationBar.col-sm-12 {
        min-height: 0;
    }
    .header-img{
        height: auto;
    }
    .header-img .container{
        height: auto;
        background-image: none !important;
    }
    .editProfileBtns button,
    .userAddUpdateTreeBtns button,
    .editVideosBtns button {
        margin-bottom: 20px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    #albumContainer #albumContent  .pictureContainer {
        margin-left: 0 !important;
    }
    #myPage ul {
        padding: 0;
    }

    .aforizm {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #mainPageDetail #detailContent {
        border-left: none !important;
    }
    .tree li a {
        padding: 3px !important;
    }
    .app-modal-large .modal-dialog .sliderContainer.slider{
        width: 280px;
    }
    .sliderContainer.slider .nav {
        bottom: 0 !important;
        margin: 0 15px !important;
    }
}

.header .navigationBar .nav-tabs li a:hover{
    background-color: transparent;
}

.blueTab{
    background-color: #66BCDA;
    font-color:#FF0000;
    line-height: 20px;
}

.blueTab li{
    display: inline-block;
}

.blueTab li a{
    color: #FFFFFF;
}

.blueTab li:hover{
    background-color: #ae001a;
}

.blueTab .active {
    background-color: #5A5A5A;
}

.sideBar{
    margin: 0px;
}

.sideBar .sideBarTitle{
    color:#010101;
    font-size:30px;
    font-family: "Segeo UI Regular";
    margin: 20px 0px;
}

.new-btn{
    color:#2d9cc5;
    font-size:20px;
    font-family: "Segeo UI Regular";
    cursor: pointer;
}

.sideBar ul{
    padding: 0px;
}

.sideBar  li{
    margin: 10px 0px;
}

.sideBar  li a {
    color: #515151;
}
.modal-content {
    margin:10px;
    padding: 10px 10px;
}

.small-dialog .modal-dialog {
    width: 400px;
}

.footer .socialIcons{
    list-style-type: none;
    text-align: center;
}

.footer .socialIcons li{
    display: inline-block;
    margin:0 10px;
}

.footer p{
    text-align: center;
    color:#b0b0b0;
}

.footer .socialContent{
    margin:20px 0;
}

.close{
    float:right;
}

.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
    .navbar-nav {
        float: none;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.no-border{
    border:none !important;
}
.guessBookContent .todays_birthdays .bd_list{
    display: inline-block;
    cursor: pointer;
}
.guessBookContent .todays_birthdays .sideBarTitle {
    text-align: left;
}
.guessBookContent .todays_birthdays .bd_list span{
    white-space: nowrap;
}
.guessBookContent .todays_birthdays .bd_list span:after{
    content: ',';
    display: inline-block;
    margin-right: 5px;
}
.guessBookContent .todays_birthdays .bd_list:last-child span:after{
    content: '';
    display: inline-block;
    margin-right: 5px;
}
.guessBookContent .todays_birthdays .time-now {
    font-size: 14px;
    font-weight: bold;
}
.guessBookContent .todays_birthdays .sideBarTitle i{
    font-size: 24px;
}
#familyTree .inner-center ul {
    padding-left: 0;
}
.close.right-top {
    position: relative;
    top: -20px;
}
.modal-dialog .modal-content .container {
    /*width: auto;*/
}
.f_pass label{
    cursor: pointer;
}
/*.modal-content button.close {
    position: absolute;
    top: 0;
    right: 10px;
}*/
button.close.modal-btn {
    display: none;
}
.modal-content button.close.modal-btn {
    display: block;
}
ul.blueTab .col-sm-1 {
    width: auto;
}
#registerPage {
    /*padding-left: 15px;
    padding-right: 15px;*/
}
.modal-content #registerPage {
    /*padding-left: 0;
    padding-right: 0;*/
}
.modal-content #registerPage.container {
    width: 100%;
}

/* Disable animation on curtain elements */
form[name='registerForm'] .form-control,
form[name='newAlbumForm'] .form-control,
form[name='newAlbumPictureForm'] .form-control,
form[name='newVideoForm'] .form-control,
form[name='adminMainPageForm'] .form-control,
form[name='createUserForm'] .form-control,
form[name='newArticleForm'] .form-control {
  -webkit-transition: none;
  transition: none;
}

