#contactUsPage{
    background-color: #fcead2;
}


#contactUsPage .contactUsHeader{
    background-color:#fcbe62;
}

#contactUsPage  .container {
    background-color: transparent;
}

#contactUsPage .aforizm{
    margin-top: 20px;
    margin-left: 80px;
}

#contactUsPage .homeNavigation{
    font-size:13px;
    margin: 20px auto;
}
#contactUsPage .fieldName{
    font-size: 16px;
    color:black;
    vertical-align: top;
}

#contactUsPage .fieldContent{
    font-size: 16px;
    color: #5A5A5A;
}

#contactUsPage .fieldContent.email{
   vertical-align: top;
}

#contactUsPage #contactInfo tr{
    height: 35px;
}


#contactUsPage  .contactInfoTitle{
    color:black;
    font-size: 20px;
    font-family: "Segeo UI Regular";
}
