#entertainingBookPage{
    padding-bottom: 125px;
}

#entertainingBookPage .search-form{
    margin:20px 0;
}
.search-form .form-group {
    width: 90%;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 1px solid #ccc;
    margin:0px auto;
}
.search-form .form-group input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display:block;
}

.search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #3596e0;
    left: initial;
    font-size: 14px;
    cursor: pointer;
}

#entertainingBookPage .greyText{
    color: #828282;
    font-style: italic;
}

#entertainingBookPage .userName{
    color: black;
}

#entertainingBookPage{
    background-color: #ffff9f;
    padding: 0px;
}

#entertainingBookPage .entertainingBookHeader{
    background-color:#ffff57;
}

#entertainingBookPage  .container {
    background-color: transparent;
}

#entertainingBookPage .aforizm{
    margin-top: 20px;
    margin-left: 80px;
}

#entertainingBookPage .homeNavigation{
    font-size:13px;
    margin: 20px auto;
}

#entertainingBookPage .entertainingBookContent{
    border-top: solid #adadad 1px;
}

#entertainingBookPage #articleSideBar ul{
    border-top: solid #adadad 1px;
}

#entertainingBookPage #articleSideBar ul div{
    margin:15px 0;
}

#entertainingBookPage #articleSideBar ul li{
    border-bottom: solid #adadad 1px;
    margin : 0px;
}

#entertainingBookPage #articleSideBar ul li.active a{
    color:#be3348;
    text-decoration: underline;
}

#entertainingBookPage #articleSideBar ul li a {
    font-size: 15px;
    color:#3e3e3e;
}

#entertainingBookPage #articleSideBar ul li p {
    font-size: 12px;
    color:#949494;
    margin-top:10px;
    font-style: italic;
}

#entertainingBookPage #articleContent{
    border-left: solid #adadad 1px;
    margin:0px;
}

#entertainingBookPage #articleContent .title{
    font-size: 36px;
}

#entertainingBookPage #articleContent span{
    font-size:13px;
}


