/*.tree{
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
}
*/
.flex-container {
    display: -webkit-box;      /* iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* Firefox 19 */
    display: -ms-flexbox;      /* IE 10 */
    display: -webkit-flex;     /* Chrome */
    display: flex;             /* Opera 12.1, Firefox 20+ */
}

.flex-item {
    -webkit-box-flex: 1;      /* iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* Opera 12.1, Firefox 20+ */
}

.tree ul {
    padding-top: 20px; position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    display: -webkit-box;      /* iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* Firefox 19 */
    display: -ms-flexbox;      /* IE 10 */
    display: -webkit-flex;     /* Chrome */
    display: flex;             /* Opera 12.1, Firefox 20+ */
}

.tree ul:empty {
    display: none;
}
.tree li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 1px solid #e2e2e2;
    width: 50%; height: 20px;
}
.tree li::after{
    right: auto; left: 50%;
    border-left: 1px solid #e2e2e2;
}

/*We need to remove left-right connectors from elements without
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
    border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
    border-right: 1px solid #e2e2e2;
    border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -ms-border-radius: 0 0 0 0;
}
.tree li:first-child::after{
    border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -ms-border-radius: 0 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 1px solid #e2e2e2;
    width: 0; height: 20px;
}

.tree li a{
    border: 2px solid #e2e2e2;
    border-radius: 2px;
    padding:10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;

    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.tree li a img {
    vertical-align: top;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
    background: #e8f5fa;
    border-color:#e8f5fa;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before{
    border-color:  #94a0b4;
}

/*.tree li .selected a{
    background-color: #66BCDA;
    border-color: #66BCDA;
}*/

.outer-center {
    float: right;
    right: 50%;
    position: relative;
}
.inner-center {
    float: right;
    right: -50%;
    position: relative;
}





#treeUserPopup{
    text-align:center;
}
#treeUserPopup img{
    padding-bottom: 10px;
    max-width: 100%;
    max-height: 400px;
}

#treeUserPopup .fieldContent{
    text-align: left;
}

.tree .userTreeInfo{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-left:10px;
}
.tree .userTreeInfo {
    margin-bottom: 10px;
}
.tree .userTreeInfo p {
    margin-bottom: 0;
}
.tree .userTreeInfo p:first-child {
    margin-bottom: 10px;
}
.tree .userTreeInfo .name{
    color:#050505;
    font-size: 13px;
    zoom: inherit;
}

.tree .userTreeInfo .date{
    color:#7f7f7f;
    font-size: 12px;
    zoom: inherit;
    text-align: center;
}


#treePage .formDiv{
    display: block;
    overflow: hidden;
}
#searchUserPopup {
    text-align: left;
}

#searchUserPopup tbody tr{
    cursor: pointer;
}

#searchUserPopup .no-result span{
    font-size:20px;
}

#familyTree .inner-center > ul{
    padding-left: 0;
}