@font-face {
    font-family: "Segeo UI Regular";
    src: url(font/segoeui.ttf);
}

@font-face {
    font-family: "Segeo UI Light";
    src: url(font/segoeuil.ttf);
}


@font-face {
    font-family: "Sylfaen Regular";
    src: url(font/sylfaen-regular.ttf);
}

