#guessBook{
    background-color: #fcead2;
    padding: 0px;
    padding-bottom: 125px;
}


#guessBook .guessBookHeader{
    background-color:#fcbe62;
}

#guessBook  .container {
    background-color: transparent;
}

#guessBook .aforizm{
    margin-top: 20px;
    margin-left: 80px;
}

#guessBook .homeNavigation{
    font-size:13px;
    margin: 20px auto;
}


#guessBook .guessBookContent{
    border-top: solid #adadad 1px;
}

#guessBook #forumSideBar ul{
    border-top: solid #adadad 1px;
}

#guessBook #forumSideBar ul div{
    margin:15px 0;
}

#guessBook #forumSideBar ul li{
    border-bottom: solid #adadad 1px;
    margin : 0px;
}

#guessBook #forumSideBar ul li.active a{
    color:#be3348;
    text-decoration: underline;
}

#guessBook #forumSideBar ul li a {
    font-size: 15px;
    color:#3e3e3e;
}


#guessBook #forumContent{
    border-left: solid #adadad 1px;
    margin:0px;
}

#guessBook .createCommentBtn{
    margin: 40px 0px;
    text-align: right;
    padding: 0px;
}


#guessBook #commentContainer span{
    font-size:13px;
}

#guessBook .greyText{
    color: #828282;
    font-style: italic;
}

#guessBook .userName{
    color: black;
}

#guessBook .commentContent{
    font-size: 16px;
    color:black;
    font-weight: black;
    border-bottom: solid #adadad 1px;
}

#guessBook .info{
    float: right;
}

#guessBook ul li{
    overflow:hidden;
}
.forum-pagination {
    margin-top: 20px;
}
#guessBook #forumSideBar .forum-pagination ul.pagination {
    border-top: none;
}
.forum-pagination .pagination>li>a,
.forum-pagination .pagination>li>span {
    background: none;
    border: none;
    color: #3e3e3e;
}
.forum-pagination .pagination>.active>a,
.forum-pagination .pagination>.active>span,
.forum-pagination .pagination>.active>a:hover,
.forum-pagination .pagination>.active>span:hover,
.forum-pagination .pagination>.active>a:focus,
.forum-pagination .pagination>.active>span:focus {
    background-color: #66BCDA;
    border-radius: 5px;
}
.forum-pagination .pagination>.disabled>span,
.forum-pagination .pagination>.disabled>span:hover,
.forum-pagination .pagination>.disabled>span:focus,
.forum-pagination .pagination>.disabled>a,
.forum-pagination .pagination>.disabled>a:hover,
.forum-pagination .pagination>.disabled>a:focus {
    background: none;
    border: none;
    color: #3e3e3e;
}
#guessBook #forumSideBar .forum-pagination .pagination>.active>a {
    text-decoration: none;
    color: #3e3e3e;
    font-size: 12px;
}
#guessBook #forumSideBar .forum-pagination .pagination>.active>a:hover {
    color: #fff;
}
.scrollArea {
    max-height: 400px;
    color: #3e3e3e;
}

