#mainPage,#mainPageDetail{
    background-color: #FFFFFF;
}
#mainPage ul{
    margin: 0px;
    padding: 0px;
}
#mainPage ul li{
    margin: 0px;
    padding: 0px;
    min-height: 340px;
}

#mainPage ul li .container{
    background:transparent;

}
.rightAligned{
    text-align: right;
}
.centerAligned{
    text-align: center;
}
.leftAligned{
    text-align: left;
}
#mainPage .readMoreHref{
    color:#ee3963;
    font-size: 17px;
    text-transform: uppercase;
    font-family: "Segeo UI Regular";
    border: 1px white solid;
    padding: 10px 30px;
}

#mainPage .readMoreDiv{
    padding: 0px;
    margin-bottom: 20px;
}
#mainPage .title, #mainPage .shortContent{
   padding: 0px;
}
#mainPage .shortContent{
    padding-bottom: 20px !important;
    font-size: 16px;
}

#mainPage .leftImg{
    max-width: 360px;
    max-height: 250px;
}

#mainPage .rightImg{
    max-width: 575px;
    max-height: 250px;
}
#mainPage .imgPart{
    margin-top: 30px;
}

#mainPageDetail{
    padding: 0px;
}

#mainPageDetail  .container {
    background-color: transparent;
}

#mainPageDetail .aforizm{
    margin-top: 20px;
    margin-left: 80px;
}

#mainPageDetail .homeNavigation{
    font-size:13px;
    margin: 20px auto;
}

#mainPageDetail .mainPageDetailContent{
    border-top: solid #adadad 1px;
}

#mainPageDetail #detailSideBar ul li{
    border-bottom: solid #adadad 1px;
}

#mainPageDetail #detailSideBar ul li a {
    line-height: 65px;
    font-size: 20px;
}

#mainPageDetail #detailSideBar ul li.active a {
    text-decoration: underline;
}


#mainPageDetail #detailContent{
    border-left: solid #adadad 1px;
    margin:0px;
}

#mainPageDetail #detailContent .title{
    font-size: 36px;
}

