span.fieldName{
    font-size: 16px;
    color:black;
}

span.fieldContent{
    font-size: 16px;
    color: #5A5A5A;
}

span.phone,span.email{
    color: #4e84fe;
}

hr{
    padding: 0px !important;
}

#myPage{
    background-color: #ffff9f;
}


#myPage .myPageHeader{
    background-color:#ffff57;
}

#myPage  .container {
    background-color: transparent;
}

#myPage .aforizm{
    margin-top: 20px;
    margin-left: 80px;
}

#myPage .homeNavigation{
    font-size:13px;
    margin: 20px auto;
}

#myPage #userInfoContainer{
    padding:20px 0;
}

#myPage #userInfoContainer .headerBar{
    /*margin:20px 0;*/
}

#myPage #userInfoContainer .userName{
    font-size: 35px;
    color:#66c2e4;
}

#myPage #userInfoContainer .editProfileBtns{
    float: right;
}

#myPage #userInfoContainer .userAddUpdateTreeBtns{
    float: right;
    margin-right: 15px;
}

#myPage #userInfoContainer .userInfoTitle{
    color:black;
    font-size: 20px;
    font-family: "Segeo UI Regular";
}
#myPage #userInfoContainer .userInfoTitle.name {

}

#myPage #userInfoContainer .biographyField{
    margin:20px 0;
}

#myPage #albumContainer, #myPage .videoContainer{
    border-top:solid #adadad 1px;
}
#myPage .videoContainer {
    padding-bottom: 2%;
}
#myPage .sideBar.limit-info {
    padding-bottom: 2%;
}
#myPage #albumSideBar ul div{
    margin:15px 0;
}

#myPage #profilePicture{
    max-width: 220px;
    max-height: 220px;
}

#myPage #picturesList li, #myPage .videoList li {
     text-align: center;
}
#myPage #picturesList li:nth-child(4n+1) {
    clear: both;
}
#myPage #picturesList li {
    margin-bottom: 20px;
}
#myPage #picturesList li img {
    max-width: 150px;
    max-height: 150px;
    cursor: pointer;
}

#pictureInfoPopup{
    text-align:center;
}

#pictureInfoPopup img{
    padding-bottom: 10px;
    max-width: 400px;
    max-height: 400px;
}

#albumContainer #albumSideBar ul li{
    border-bottom: solid #adadad 1px;
}

#albumContainer #albumSideBar ul li:first-child{
    border-top: solid #adadad 1px;
}

#albumContainer #albumSideBar ul li a {
    font-size: 20px;
}

#albumContainer #albumSideBar ul li.active a{
    color:#be3348;
    text-decoration: underline;
}

#albumContainer #albumContent{
    border-left: solid #adadad 1px;
    margin:0px;
    padding: 0px;
    padding-bottom: 100px;

}

#albumContainer #albumContent .editAlbumBtns, .videoContainer .videoContent .editVideosBtns{
    margin:40px 0px;
    text-align: right;
    padding: 0px;
}

#albumContainer #albumContent  .pictureContainer{
    margin-left: 20px;
}
.relative-controls {
    margin: 20px 0;
}
.relative-controls button {
    font-size: 10px;
}
#myPage #videoList li {
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 150px;
    overflow: hidden;
    text-align: center;
}
#myPage #videoList li img, #myPage #videoList li span.glyphicon {
    max-height: 80px;
}
#myPage #videoList li img {
    border: 1px solid #ccc;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
#myPage #videoList video {
    width: 100% !important;
}
#myPage #videoList span.glyphicon {
    font-size: 80px;
    display: block;
    cursor: pointer;
}
#myPage #videoList .video-info {
    cursor: pointer;
    margin: 10px 0;
    display: inline-block;
}
#myPage #videoList img.video-info {
    margin-top: 0;
    max-height: 80px;
}
.iframeArea iframe {
    width: 100%;
}
#myPage #videoList a.glyphicon-download-alt {
    font-size: 16px;
    margin-left: 10px;
}
.help-text {
    display: block;
    /*padding-bottom: 20px;*/
    font-size: 12px;
}
.help-text.upload {
    margin-left: 13%;
}
#newVideoForm h3 {
    margin-left: 0;
    text-align: center;
}
.exceeded {
    color: red;
}
.flRight {
    float: right;
}
.carousel-inner img, .sliderContainer.slider img {
    margin: auto;
    margin-bottom: 20px;
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
}
.carousel-indicators {
    display: none;
}
.sliderContainer.slider .glyphicon {
    font-size: 40px;
}

/*new slider*/
.sliderContainer.slider {
    /*width: 800px;*/
    width: auto;
    /*height: 800px;*/
    height: auto;
    overflow: hidden;
    position: relative;
}
.sliderContainer.slider .slide h3 {
    text-align: center;
}
.slide {
    /*position: absolute;*/
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}
.slide .glyphicon-download-alt {
    font-size: 20px !important;
    float: right;
}
.carousel-nav .arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 43px;
    outline: none;
    cursor: pointer;
}

.arrow.prev {
    opacity: 0.5;
    left: 22px;
    transition: 0.2s linear all;
}

.arrow.next {
    opacity: 0.5;
    right: 30px;
    transition: 0.2s linear all;
}

.arrow.prev:hover {
    opacity: 1;
}

.arrow.next:hover {
    opacity: 1;
}
/*carousel nav*/
.sliderContainer.slider .nav {
    text-align: center;
    display: block;
    position: relative;
    z-index: 1002;
    left: 0;
    bottom: 27px;
    right: 0;
    height: auto;
    margin: 0 150px;
    /*height: 48px;*/
}
.sliderContainer.slider .slide h3 {
    font-size: 18px;
}
/*.nonDraggableImage{
    -webkit-user-drag: none;
}*/

.sliderContainer.slider .nav .wrapper {
    margin: 0 auto;
    width: 100%;
    /*padding: 1em 0 .8em;*/
}

.sliderContainer.slider .nav ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

.sliderContainer.slider .nav .dot, .nav .dot a {
    display: inline-block;
    zoom: 1;
}

.sliderContainer.slider .dots .dot {
    position: relative;
    margin: 0 8px;
    width: 12px;
    height: 12px;
}

.sliderContainer.slider .dots .dot a {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: #bbb;
    border: 1px solid transparent;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
    -moz-transition: background-color 0.25s, border-color 0.25s;
    transition: background-color 0.25s, border-color 0.25s;
}

.sliderContainer.slider .dots .dot a.active {
    border-color: transparent;
    background-color: #333;
}
.sliderContainer.slider img {
    /*max-height: 280px;
    min-height: 280px;*/
}

/* Chat Popup */
.sendMessageBtn {
  display: inline-block;
  padding-left: 30px;
  position: relative;
  top: -8px;
}
#chatPopup {
  padding: 0 30px;
}
#chatPopup form {
  text-align: right;
}
#chatPopup textarea {
  width: 100%;
  height: 150px;
  resize: none;
  margin: 10px 0 30px;
  padding: 10px;
  font-size: 16px;
}
#chatPopup textarea.ng-invalid {
  border-color: initial !important;
  box-shadow: none;
  border: 1px solid;
}
#chatPopup form .btn.active:after {
  content: "\f1ce";
  display: inline-block;
  margin-left: 10px;
  color: #ffffff;
  font: normal 15px/1 FontAwesome;
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

#chatPopup form .btn[disabled] {
  opacity: .85;
}