<div id="adminPage" class="container">
    <div class="row special-content">
        <div id="adminSideBar" class="col-sm-2 container sideBar">
            <!--<div class="sideBarTitle">
                <h4>{{ 'admin_side_bar_title' | translate}}</h4>
            </div>-->

            <ul>
                <li ng-class="{active:variables.type == 'users'}"><a href="/admin/users">{{ 'admin_users' | translate}} ({{variables.usersWaitingApproveCount}})</a></li>
                <li ng-class="{active:variables.type == 'articles'}"><a href="/admin/articles">{{ 'admin_articles' | translate}} ({{variables.newArticlesCount}})</a></li>
                <li ng-class="{active:variables.type == 'messages'}"><a href="/admin/messages">{{ 'admin_messages' | translate}} ({{variables.newMessagesCount}})</a></li>
                <li ng-class="{active:variables.type == 'forum'}"><a href="/admin/forum">{{ 'admin_forum' | translate}} ({{variables.forumNotificationCount}},{{variables.forumCommentNotificationCount}})</a></li>
                <li ng-class="{active:variables.type == 'mainPage'}"><a href="/admin/mainPage">{{ 'admin_main_page' | translate}}</a></li>
                <li ng-class="{active:variables.type == 'geneticTree'}"><a href="/admin/geneticTree">{{ 'admin_genetic_tree' | translate}}</a></li>
                <li class="not-menu-item">{{'admin_visitor_count' | translate}} : {{variables.visitCount}}</li>
            </ul>
        </div>
        <div id="adminContent" class="col-sm-9 container sideBarContent" ng-class="{adminContainer :variables.type == 'mainPage' && variables.mode ==1}">
            <ul ng-init="tab = 1" class="blueTab" ng-show="variables.type == 'mainPage' && variables.mode ==1">
                <li ng-class="{active:tab===1}">
                    <a href ng-click="tab = 1">{{ 'lang_en' | translate }}</a>
                </li>
                <li ng-class="{active:tab===2}">
                    <a href ng-click="tab = 2">{{ 'lang_ru' | translate }}</a>
                </li>
                <li ng-class="{active:tab===3}">
                    <a href ng-click="tab = 3">{{ 'lang_am' | translate }}</a>
                </li>
            </ul>
            <div ng-if="variables.type == 'users'" id="adminUsers" class="table-responsive">
                <table class="table" id="usersTableFilter">
                    <tr>
                        <td colspan="2">
                            <div class="">
                                <label for="approved">{{'admin_user_approved' | translate}}:</label>
                                <input type="checkbox" data-ng-model='filterlist.approve_status' data-ng-true-value='1' data-ng-false-value='' id="approved"/>
                            </div>

                        </td>
                        <td colspan="5">

                            <div class="">
                                <label for="wait-approved">{{'admin_user_wait_approvement' | translate}}:</label>
                                <input type="checkbox" data-ng-model='filterlist.approve_status' data-ng-true-value='0' data-ng-false-value='' id="wait-approved"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="">
                                <label for="intree">{{'admin_user_filter_in_tree' | translate}}:</label>
                                <input type="checkbox" data-ng-model='filterlist.inTree' data-ng-true-value='1' data-ng-false-value='' id="intree"/>
                            </div>

                        </td>
                        <td colspan="5">

                            <div class="">
                                <label for="not-intree">{{'admin_user_filter_not_in_tree' | translate}}:</label>
                                <input type="checkbox" data-ng-model='filterlist.inTree' data-ng-true-value='0' data-ng-false-value='' id="not-intree"/>
                            </div>
                        </td>
                    </tr>
                </table>
                <table class="table" id="usersTable" >

                    <thead>

                    <tr>
                        <th>{{'admin_user_table_name' | translate}}</th>
                        <th>{{'admin_user_table_email' | translate}}</th>
                        <th>{{'admin_user_table_phone' | translate}}</th>
                        <th>{{'admin_user_table_country' | translate}}</th>
                        <th>{{'admin_user_table_city' | translate}}</th>
                        <!--<th>{{'admin_user_table_description' | translate}}</th>-->
                        <th>{{'admin_article_used_space' | translate}}</th>
                        <th>{{'admin_article_table_approve_reject_delete' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td class="sorting">
                            <input type="text" class="form-control" placeholder="{{'admin_user_table_name' | translate}}" ng-model="filterlist.first_name"/>
                            <span ng-click="changeSort('first_name')" class="fa" ng-class="sort == 'first_name' ? (reverse ? 'fa-sort-amount-desc' : 'fa-sort-amount-asc') : 'fa-sort' "></span>
                        </td>
                        <td><input type="text" class="form-control" placeholder="{{'admin_user_table_email' | translate}}" ng-model="filterlist.email"/></td>
                        <td><input type="text" class="form-control" placeholder="{{'admin_user_table_phone' | translate}}" ng-model="filterlist.phone"/></td>
                        <td class="sorting">
                            <select ng-model="filterlist.country" ng-show="currLang == 'en'" class="form-control">
                                <option value="!!"> All </option>
                                <option ng-repeat="category in variables.coutries" value="{{category.id}}">{{category._languageData.en.caption}}</option>
                            </select>
                            <select ng-model="filterlist.country" ng-show="currLang == 'ru'" class="form-control">
                                <option value="!!"> All </option>
                                <option ng-repeat="category in variables.coutries" value="{{category.id}}">{{category._languageData.ru.caption}}</option>
                            </select>
                            <select ng-model="filterlist.country" ng-show="currLang == 'am'" class="form-control">
                                <option value="!!"> All </option>
                                <option ng-repeat="category in variables.coutries" value="{{category.id}}">{{category._languageData.am.caption}}</option>
                            </select>
                            <!--<select ng-options="country.id as country._languageData.en.caption for country in variables.coutries" ng-show="tab == 1"  ng-model="filterlist.country" class="form-control"></select>
                            <select ng-options="country.id as country._languageData.ru.caption for country in variables.coutries" ng-show="tab == 2"  ng-model="filterlist.country" class="form-control"></select>
                            <select ng-options="country.id as country._languageData.am.caption for country in variables.coutries" ng-show="tab == 3"  ng-model="filterlist.country" class="form-control"></select>-->
                            <span ng-click="changeSort('countryName')" class="fa" ng-class="sort == 'countryName' ? (reverse ? 'fa-sort-amount-desc' : 'fa-sort-amount-asc') : 'fa-sort' "></span>
                        </td>
                        <td><input type="text" class="form-control" placeholder="{{'admin_user_table_city' | translate}}" ng-model="filterlist.city"/></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="user in filteredlist = (variables.users | filter:filterlist) | orderBy:sort:reverse | pagination: currentPage : numPerPage" data-ng-class="{notSeen: user.approve_status == 0}" ng-click="showUserFullInfo(user.user_id)" >
                        <td> {{user.first_name}}  {{user.last_name}}</td>
                        <td> {{user.email}} </td>
                        <td> {{user.phone}} </td>
                        <td> {{user.countryName}} </td>
                        <td> {{user.city}} </td>
                        <!--<td> {{user.description}} </td>-->
                        <td> {{user.fileUsed}} </td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-danger" ng-click="rejectUser(user.user_id,$event)"><span class="fa fa-times"></span></button>
                                <button class="btn btn-success approve" ng-click="approveUser(user.user_id,$event)" ng-if="user.approve_status == 0"><span class="fa fa-check"></span></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!--pagination-->
                <div class="admin-pagination">
                    <pagination total-items="filteredlist.length"
                                ng-model="currentPage"
                                ng-change="pageChanged()"
                                class="pagination-sm"
                                max-size="maxSize"
                                items-per-page="itemsPerPage"
                                boundary-links="true"
                                previous-text="&lsaquo;"
                                next-text="&rsaquo;"
                                first-text="&laquo;"
                                last-text="&raquo;"
                                ng-hide="filteredlist.length < numPerPage" >
                    </pagination>
                    <span  ng-hide="filteredlist.length < numPerPage">{{currentPage}}/{{ Math.ceil(filteredlist.length/itemsPerPage)}}</span>
                </div>
            </div>
            <div ng-if="variables.type == 'articles'" id="adminArticles" class="table-responsive">
                <table class="table" id="articlesTable" >
                    <thead>
                    <tr>
                        <th>{{'admin_article_table_title' | translate}}</th>
                        <th>{{'admin_article_table_author' | translate}}</th>
                        <th>{{'admin_article_table_content' | translate}}</th>
                        <th>{{'admin_article_table_approve_reject_delete' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="article in variables.articles" data-ng-class="{notSeen: article.approve_status == 0}" ng-click="showArticleFullInfo($index)" >
                        <td> {{article.title}} </td>
                        <td> {{article.first_name}}  {{article.last_name}}</td>
                        <td > {{article.content}}</td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-danger" ng-click="rejectArticle($index,$event)"><span class="fa fa-times"></span></button>
                                <button class="btn btn-success" ng-click="approveArticle($index,$event)" ng-if="article.approve_status == 0"><span class="fa fa-check"></span></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ng-if="variables.type == 'messages'" id="adminMessages" class="table-responsive">
                <table class="table" id="messagesTable" >
                    <thead>
                    <tr>
                        <th>{{'contact_us_form_name' | translate}}</th>
                        <th>{{'contact_us_form_email' | translate}}</th>
                        <th>{{'contact_us_form_phone' | translate}}</th>
                        <th>{{'contact_us_form_header' | translate}}</th>
                        <th>{{'contact_us_form_message' | translate}}</th>
                        <th>{{'contact_us_form_file' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="message in variables.messages" data-ng-class="{notSeen: message.is_new == 1}" ng-click="showMessageFullInfo($index)">
                        <td> {{message.name}} </td>
                        <td> {{message.email}} </td>
                        <td> {{message.phone}} </td>
                        <td> {{message.header}} </td>
                        <td> {{message.message}} </td>
                        <td> {{message.file}} </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ng-if="variables.type == 'forum'" id="adminForum" class="table-responsive">
                <ul ng-init="forumTab = 1" class="blueTab" >
                    <li ng-class="{active:forumTab===1}">
                        <a href ng-click="forumTab = 1">{{ 'admin_forum_title' | translate }}</a>
                    </li>
                    <li ng-class="{active:forumTab===2}">
                        <a href ng-click="forumTab = 2">{{ 'admin_comment_title' | translate }}</a>
                    </li>
                </ul>
                <table class="table" id="forumTable" ng-if="forumTab===1" >
                    <thead>
                    <tr>
                        <th>{{'admin_forum_table_title' | translate}}</th>
                        <th>{{'admin_forum_table_lang' | translate}}</th>
                        <th>{{'admin_article_table_approve_reject_delete' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="forum in variables.forums" data-ng-class="{notSeen: forum.approve_status == 0}" ng-click="showForumFullInfo($index)" >
                        <td> {{forum.title}} </td>
                        <td> {{forum.lang}}</td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-danger" ng-click="rejectForum($index,$event)"><span class="fa fa-times"></span></button>
                                <button class="btn btn-success" ng-click="approveForum($index,$event)" ng-if="forum.approve_status == 0"><span class="fa fa-check"></span></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="table" id="commentTable" ng-if="forumTab===2" >
                    <thead>
                    <tr>
                        <th>{{'admin_comment_table_comment' | translate}}</th>
                        <th>{{'admin_comment_table_forum' | translate}}</th>
                        <th>{{'admin_comment_table_author' | translate}}</th>
                        <th>{{'admin_article_table_approve_reject_delete' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="comment in variables.comments" class="notSeen" ng-click="showCommentFullInfo($index)" >
                        <td> {{comment.comment}} </td>
                        <td> {{comment.title}}</td>
                        <td> {{comment.login}}</td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-danger" ng-click="rejectComment($index,$event)"><span class="fa fa-times"></span></button>
                                <button class="btn btn-success" ng-click="approveComment($index,$event)"><span class="fa fa-check"></span></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ng-if="variables.type == 'mainPage'" id="adminManPage" >
                <table class="table" id="mainPageTable" ng-show="variables.mode ==0 ">
                    <thead>
                    <tr>
                        <th>{{'admin_main_page_table_id' | translate}}</th>
                        <th>{{'admin_main_page_table_title' | translate}}</th>
                        <th>{{'admin_main_page_table_short_content' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="part in variables.mainPageParts" ng-click="editMainPageContent($index)">
                            <td> {{part.id}} </td>
                            <td> {{part.title}} </td>
                            <td ng-bind-html="part.short_content"> </td>
                        </tr>
                    </tbody>
                </table>
                <div  id="adminMainPageContent" ng-show="variables.mode ==1 ">
                    <form class="form-horizontal" role="form" name="adminMainPageForm" id="adminMainPageForm">
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">{{ 'admin_main_page_table_title' | translate }}</label>
                            <div class="col-sm-5">
                                <input ng-show="tab == 3" ng-model="variables.selectedPart._languageData.am.title"   class="form-control"  required >
                                <input ng-show="tab == 2" ng-model="variables.selectedPart._languageData.ru.title"   class="form-control"  required >
                                <input ng-show="tab == 1" ng-model="variables.selectedPart._languageData.en.title"   class="form-control"  required >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'admin_main_page_table_short_content' | translate }}</label>
                            <div class="col-sm-8">
                                <text-angular ng-show="tab == 3" ng-model="variables.selectedPart._languageData.am.short_content"></text-angular>
                                <text-angular ng-show="tab == 2" ng-model="variables.selectedPart._languageData.ru.short_content"></text-angular>
                                <text-angular ng-show="tab == 1" ng-model="variables.selectedPart._languageData.en.short_content"></text-angular>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ 'admin_main_page_table_content' | translate }}</label>
                            <div class="col-sm-8">
                                <text-angular ng-show="tab == 3" ng-model="variables.selectedPart._languageData.am.content"></text-angular>
                                <text-angular ng-show="tab == 2" ng-model="variables.selectedPart._languageData.ru.content"></text-angular>
                                <text-angular ng-show="tab == 1" ng-model="variables.selectedPart._languageData.en.content"></text-angular>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 text-center">
                                <button type="submit"  class="btn btn-success" ng-click="submitMainPageForm()"  ng-disabled="!adminMainPageForm.$valid">{{ 'contact_us_form_submit' | translate }}</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div ng-if="variables.type == 'geneticTree'" id="adminGeneticTree">
                <h3 class="text-center">{{ 'admin_genetic_create_user_title' | translate }}</h3>
                <ul ng-if="variables.errors.length">
                    <li class="error" ng-repeat="error in variables.errors">{{error | translate}}</li>
                </ul>
                <form  role="form" id="createUserForm" name="createUserForm" class="row">
                    <div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="radio"  ng-model="variables.gPersonType"   value="1"  > {{ 'admin_genetic_choose_user' | translate }}
                                <input type="radio"  ng-model="variables.gPersonType"   value="0"  > {{ 'admin_genetic_create_user' | translate }}
                            </div>
                        </div>
                    </div>
                    <div ng-if="variables.gPersonType == 0">
                        <h4 class="col-sm-12">{{'admin_genetic_create_user_info' | translate}}</h4>
                        <div>
                            <ul ng-init="tab = 1" class="blueTab">
                                <li ng-class="{active:tab===1}" >
                                    <a href ng-click="tab = 1">{{ 'lang_en' | translate }}</a>
                                </li>
                                <li ng-class="{active:tab===2}" >
                                    <a href ng-click="tab = 2">{{ 'lang_ru' | translate }}</a>
                                </li>
                                <li ng-class="{active:tab===3}" >
                                    <a href ng-click="tab = 3">{{ 'lang_am' | translate }}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="form-group col-sm-4">
                            <label  control-label>{{ 'register_form_first_name' | translate }}</label>
                            <input  type="text" ng-show="tab == 1" ng-model="variables.user._languageData.en.first_name" class="form-control" placeholder="{{ 'register_form_first_name' | translate }}" required >
                            <input  type="text" ng-show="tab == 2" ng-model="variables.user._languageData.ru.first_name" class="form-control" placeholder="{{ 'register_form_first_name' | translate }}"  required >
                            <input  type="text" ng-show="tab == 3" ng-model="variables.user._languageData.am.first_name" class="form-control" placeholder="{{ 'register_form_first_name' | translate }}"  required>
                        </div>
                        <div class="form-group  col-sm-4">
                            <label class="control-label">{{ 'register_form_last_name' | translate }}</label>
                            <input type="text" ng-show="tab == 1"  ng-model="variables.user._languageData.en.last_name" class="form-control" placeholder="{{ 'register_form_last_name' | translate }}"  required>
                            <input type="text" ng-show="tab == 2"  ng-model="variables.user._languageData.ru.last_name" class="form-control" placeholder="{{ 'register_form_last_name' | translate }}"  required>
                            <input type="text" ng-show="tab == 3"  ng-model="variables.user._languageData.am.last_name" class="form-control" placeholder="{{ 'register_form_last_name' | translate }}"  required>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="birthdayField" class="control-label">{{ 'register_form_birth_day' | translate }}</label>
                            <p class="input-group calendar">
                                <input id="birthdayField" type="text" class="form-control" datepicker-popup="{{format}}"  ng-model="variables.user.birth_date"  placeholder="{{ 'register_form_birth_day' | translate }}" is-open="opened" >
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default icon" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
                                </span>
                            </p>
                        </div>

                        <div class="form-group col-sm-4">
                            <label class="control-label">{{ 'register_form_birth_place' | translate }}</label>
                            <input type="text" ng-show="tab == 1"  ng-model="variables.user._languageData.en.birth_place" class="form-control" placeholder="{{ 'register_form_birth_place' | translate }}"  >
                            <input type="text" ng-show="tab == 2"  ng-model="variables.user._languageData.ru.birth_place" class="form-control" placeholder="{{ 'register_form_birth_place' | translate }}"  >
                            <input type="text" ng-show="tab == 3"  ng-model="variables.user._languageData.am.birth_place" class="form-control" placeholder="{{ 'register_form_birth_place' | translate }}"  >
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">{{ 'register_form_country' | translate }}</label>
                            <select ng-options="country.id as country._languageData.en.caption for country in variables.coutries" ng-show="tab == 1"  ng-model="variables.user.country" class="form-control"   ></select>
                            <select ng-options="country.id as country._languageData.ru.caption for country in variables.coutries" ng-show="tab == 2"  ng-model="variables.user.country" class="form-control"   ></select>
                            <select ng-options="country.id as country._languageData.am.caption for country in variables.coutries" ng-show="tab == 3"  ng-model="variables.user.country" class="form-control"   ></select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">{{ 'register_form_city' | translate }}</label>
                            <input type="text" ng-show="tab == 1"  ng-model="variables.user._languageData.en.city" class="form-control" placeholder="{{ 'register_form_city' | translate }}"  >
                            <input type="text" ng-show="tab == 2"  ng-model="variables.user._languageData.ru.city" class="form-control" placeholder="{{ 'register_form_city' | translate }}"  >
                            <input type="text" ng-show="tab == 3"  ng-model="variables.user._languageData.am.city" class="form-control" placeholder="{{ 'register_form_city' | translate }}"  >
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="control-label">{{ 'register_form_sex' | translate }}</label><br>
                            <input type="radio"  ng-model="variables.user.sex"   value="1"  > {{ 'register_form_sex_male' | translate }}
                            <input type="radio"  ng-model="variables.user.sex"   value="0"  > {{ 'register_form_sex_female' | translate }}
                        </div>
                        <h4 class="col-sm-12">{{ 'register_form_contact_info' | translate}}</h4>
                        <div class="form-group col-sm-4">
                            <label for="emailField" class="control-label">{{ 'register_form_email' | translate }}</label>
                            <input type="email" id="emailField"  ng-model="variables.user.email" class="form-control" placeholder="{{ 'register_form_email' | translate }}"  >
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="phoneField" class="control-label">{{ 'register_form_phone' | translate }}</label>
                            <input type="text" id="phoneField" ng-model="variables.user.phone" class="form-control" placeholder="{{ 'register_form_phone' | translate }}"  >
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="skypeField" class="control-label">{{ 'register_form_skype' | translate }}</label>
                            <input type="text" id="skypeField"  ng-model="variables.user.skype" class="form-control" placeholder="{{ 'register_form_skype' | translate }}"  >
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="viberField" class="control-label">{{ 'register_form_viber' | translate }}</label>
                            <input type="text" id="viberField"  ng-model="variables.user.viber" class="form-control" placeholder="{{ 'register_form_viber' | translate }}"  >
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="whatsappField" class="control-label">{{ 'register_form_whatsapp' | translate }}</label>
                            <input type="text" id="whatsappField"  ng-model="variables.user.whatsapp" class="form-control" placeholder="{{ 'register_form_whatsapp' | translate }}"  >
                        </div>
                        <h4  class="col-sm-12">{{ 'register_form_about_you' | translate}}</h4>
                        <div class="form-group col-sm-12">
                            <input class="reg-inputfile" id="profilePictureField" type="file" onchange="angular.element(this).scope().setFile(this)" >
                            <label for="profilePictureField" >
                                <span>{{ 'register_form_profile_picture' | translate }}</span>
                            </label>
                            <span class="inputfile-text" ng-if="variables.fileObject">{{variables.fileObject.name}}kk</span>
                            <p class="inputfile-text" ng-if="!variables.fileObject" class="alert-warning">*{{ 'register_form_photo_warning' | translate}}</p>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">{{ 'register_form_profession' | translate }}</label>
                            <input type="text" ng-show="tab == 1"  ng-model="variables.user._languageData.en.profession" class="form-control" placeholder="{{ 'register_form_profession' | translate }}"  >
                            <input type="text" ng-show="tab == 2"  ng-model="variables.user._languageData.ru.profession" class="form-control" placeholder="{{ 'register_form_profession' | translate }}"  >
                            <input type="text" ng-show="tab == 3"  ng-model="variables.user._languageData.am.profession" class="form-control" placeholder="{{ 'register_form_profession' | translate }}"  >
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">{{ 'register_form_education' | translate }}</label>
                            <input type="text" ng-show="tab == 1"  ng-model="variables.user._languageData.en.education" class="form-control" placeholder="{{ 'register_form_education' | translate }}"  >
                            <input type="text" ng-show="tab == 2"  ng-model="variables.user._languageData.ru.education" class="form-control" placeholder="{{ 'register_form_education' | translate }}"  >
                            <input type="text" ng-show="tab == 3"  ng-model="variables.user._languageData.am.education" class="form-control" placeholder="{{ 'register_form_education' | translate }}"  >
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="control-label">{{ 'register_form_biography' | translate }}</label>
                            <textarea type="text" ng-show="tab == 1"  ng-model="variables.user._languageData.en.biography" rows="3" class="form-control" placeholder="{{ 'register_form_biography' | translate }}" ></textarea>
                            <textarea type="text" ng-show="tab == 2"  ng-model="variables.user._languageData.ru.biography" rows="3" class="form-control" placeholder="{{ 'register_form_biography' | translate }}" ></textarea>
                            <textarea type="text" ng-show="tab == 3"  ng-model="variables.user._languageData.am.biography" rows="3" class="form-control" placeholder="{{ 'register_form_biography' | translate }}" ></textarea>
                        </div>
                    </div>
                    <div>
                        <h4  class="col-sm-12">{{ 'admin_genetic_relation' | translate}}</h4>
                        <div class="form-group col-sm-4" ng-if="variables.gPersonType == 1">
                            <label class="control-label">{{ 'admin_genetic_user' | translate }}</label>
                            <select chosen disable-search="false" ng-options="user.id as user.name for user in variables.relationUsers"  data-placeholder="" ng-model="variables.relation.user_id" class="form-control" required ></select>
                        </div>
                        <div class="form-group col-sm-12">
                            <div>
                                <label class="control-label">{{ 'admin_genetic_relation_type' | translate }}</label><br>
                                <input type="radio"  ng-model="variables.relation.type"   value="father"  > {{ 'admin_genetic_relation_father' | translate }}
                                <input type="radio"  ng-model="variables.relation.type"   value="couple"  > {{ 'admin_genetic_relation_couple' | translate }}
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">{{ 'admin_genetic_relation_user' | translate }}</label>
                            <select chosen disable-search="false"  ng-options="user.id as user.name for user in variables.relationUsers"  ng-model="variables.relation.rel_user_id" class="form-control chosen-style"  required ></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <button type="submit"  class="btn btn-success" ng-click="submitUserForm()" class="btn btn-success" ng-disabled="!createUserForm.$valid">{{ 'register_form_sign_in' | translate }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>