<div id="loginPage" class="special-content">
    <div class="container">
        <h3 class="text-center text-uppercase">{{'login_form_title' | translate}} </h3>

        <h2 ng-show="variables.message" class="text-center">{{ variables.message | translate}}</h2>
        <form class="form-horizontal" role="form" name="loginForm">
            <div class="form-group">
                <label for="loginField" class="control-label"></label>
                <input id="loginField"  ng-model="variables.login" class="form-control" placeholder="{{ 'login_form_login' | translate }}" required >
            </div>
            <div class="form-group">
                <label for="passwordField" class="control-label"></label>
                <input id="passwordField" type="password" ng-model="variables.password" class="form-control" placeholder="{{ 'login_form_password' | translate }}" required >
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input id="rememberMeField" type="checkbox" ng-model="variables.remember"> {{'login_form_checkbox' | translate}}
                    </label>
                </div>
            </div>
            <div class="form-group pull-left">
                <div class="f_pass" ng-click="editPassword()">
                    <label>
                        {{'login_form_forgot password' | translate}}
                    </label>
                </div>
            </div>
            <div class="form-group pull-right">
                <div class="">
                    <button type="submit"  class="btn btn-success" ng-click="submitForm()" class="btn btn-success" ng-disabled="!loginForm.$valid">{{ 'login_form_sign_in' | translate }}</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="footer-block">
    <div class="container">
        <h1>{{'login_form_block_title' | translate}}</h1>
        <ul ng-controller="LoginController">
            <li ng-if="!currentUser" ><a class="btn btn-info" href="/register"  >{{ 'menu_register' | translate}}</a></li>
        </ul>
    </div>
</div>