<div class="modal-header">
  <button type="button" class="close fa fa-times" data-dismiss="modal" ng-click="$close()"></button>
</div>
<div class="modal-body">
  <div ng-show="userExists" class="centerAligned">
    <h4 class="centerAligned">{{ 'forgot_password_mail_message_title' | translate}}</h4>
    <p class="leftAligned">{{ 'forgot_password_mail_message' | translate}}</p>
    <button class="btn btn-blue" data-dismiss="modal" ng-click="close()">{{ 'forgot_password_close' | translate}}</button>
  </div>
  <div ng-show="!userExists">
    <form role="form" name="emailInput">
      <h3 class="text-center">{{ 'forgot_password_title' | translate}}</h3>
      <p class="centerAligned">{{ 'forgot_password_help_text' | translate}}</p>
      <div class="row">
        <div class="form-group col-sm-12">
          <label for="emailField" class="control-label"></label>
          <input ng-readonly="variables.mode == 'view'" type="email" id="emailField"  ng-model="email" class="form-control" placeholder="{{ 'register_form_email' | translate }}" required >
        </div>
      </div>

      <div class="form-group text-center">
        <div>
          <button type="submit"  class="btn btn-success" ng-click="submitForm()" class="btn btn-success" ng-disabled="!emailInput.$valid">{{ 'register_form_sign_in' | translate }}</button>
        </div>
      </div>
    </form>
  </div>
</div>