<div class="modal-header">
    <button type="button" class="close fa fa-times" ng-if="variables.mode != 'register'" data-dismiss="modal" ng-click="$close()"></button>
</div>
<div id="registerPage">
    <div class="container special-content">
    <h3 class="text-center" ng-if="variables.mode == 'register' && (variables.formType != 'sexSensitiveForm' && variables.formType != 'briefForm')">{{ 'register_form_title' | translate}}</h3>
    <h3 class="text-center" ng-if="variables.mode != 'register'">{{ 'admin_user_form_title' | translate}}</h3>
    <h3 class="text-center" ng-if="variables.formType == 'sexSensitiveForm' && (variables.mode == 'register')">{{ 'my_page_add_wife' | translate}}</h3>
    <h3 class="text-center" ng-if="variables.formType == 'briefForm' && (variables.mode == 'register')">{{ 'my_page_add_child' | translate}}</h3>
    <h2 class="text-center" ng-show="variables.message" >{{ variables.message | translate}}</h2>
	<ul ng-if="variables.errors.length">
		<li class="error" ng-repeat="error in variables.errors">{{error | translate}}</li>
	</ul> 
    <div class="row">
        <form  role="form" name="registerForm" class="col-sm-12">
        <h4 class="main">{{ 'register_form_personal_info' | translate}}: </h4>
        <ul ng-init="tab = 1" class="blueTab">
            <li ng-class="{active:tab===1}" >
                <a href ng-click="tab = 1">{{ 'lang_en' | translate }}</a>
            </li>
            <li ng-class="{active:tab===2}" >
                <a href ng-click="tab = 2">{{ 'lang_ru' | translate }}</a>
            </li>
            <li ng-class="{active:tab===3}" >
                <a href ng-click="tab = 3">{{ 'lang_am' | translate }}</a>
            </li>
        </ul>
        <div class="row">
            <div class="form-group col-sm-4">
                <input ng-readonly="variables.mode == 'view'" type="text" ng-show="tab == 1" ng-model="variables.user._languageData.en.first_name" class="form-control" placeholder="{{ 'register_form_first_name' | translate }}" ng-required="scopeCheckRequired(variables.user._languageData)" ng-init="variables.user._languageData.en.first_name = (variables.mode == 'register') ? '' : variables.user._languageData.en.first_name" >
                <input ng-readonly="variables.mode == 'view'" type="text" ng-show="tab == 2" ng-model="variables.user._languageData.ru.first_name" class="form-control" placeholder="{{ 'register_form_first_name' | translate }}" ng-required="scopeCheckRequired(variables.user._languageData)" ng-init="variables.user._languageData.ru.first_name = (variables.mode == 'register') ? '' : variables.user._languageData.ru.first_name" >
                <input ng-readonly="variables.mode == 'view'" type="text" ng-show="tab == 3" ng-model="variables.user._languageData.am.first_name" class="form-control" placeholder="{{ 'register_form_first_name' | translate }}" ng-required="scopeCheckRequired(variables.user._languageData)" ng-init="variables.user._languageData.am.first_name = (variables.mode == 'register') ? '' : variables.user._languageData.am.first_name" >
            </div>
            <div class="form-group  col-sm-4">
                <input ng-readonly="variables.mode == 'view'" type="text" ng-show="tab == 1"  ng-model="variables.user._languageData.en.last_name" class="form-control" placeholder="{{ 'register_form_last_name' | translate }}" ng-required="scopeCheckRequired(variables.user._languageData)" ng-init="variables.user._languageData.en.last_name = (variables.mode == 'register') ? '' : variables.user._languageData.en.last_name" >
                <input ng-readonly="variables.mode == 'view'" type="text" ng-show="tab == 2"  ng-model="variables.user._languageData.ru.last_name" class="form-control" placeholder="{{ 'register_form_last_name' | translate }}" ng-required="scopeCheckRequired(variables.user._languageData)" ng-init="variables.user._languageData.ru.last_name = (variables.mode == 'register') ? '' : variables.user._languageData.ru.last_name" >
                <input ng-readonly="variables.mode == 'view'" type="text" ng-show="tab == 3"  ng-model="variables.user._languageData.am.last_name" class="form-control" placeholder="{{ 'register_form_last_name' | translate }}" ng-required="scopeCheckRequired(variables.user._languageData)" ng-init="variables.user._languageData.am.last_name = (variables.mode == 'register') ? '' : variables.user._languageData.am.last_name" >
            </div>
            <div class="form-group col-sm-4">
                <p class="input-group calendar">
                    <input ng-readonly="variables.mode == 'view'" id="birthdayField" type="text" class="form-control" datepicker-popup="{{format}}"  ng-model="variables.user.birth_date"  placeholder="{{ 'register_form_birth_day' | translate }}" is-open="opened" required>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default icon" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
                  </span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <input ng-readonly="variables.mode == 'view'" type="text" ng-show="tab == 1"  ng-model="variables.user._languageData.en.birth_place" class="form-control" placeholder="{{ 'register_form_city_country' | translate }}" ng-required="scopeCheckRequired(variables.user._languageData)" >
                <input ng-readonly="variables.mode == 'view'" type="text" ng-show="tab == 2"  ng-model="variables.user._languageData.ru.birth_place" class="form-control" placeholder="{{ 'register_form_city_country' | translate }}" ng-required="scopeCheckRequired(variables.user._languageData)" >
                <input ng-readonly="variables.mode == 'view'" type="text" ng-show="tab == 3"  ng-model="variables.user._languageData.am.birth_place" class="form-control" placeholder="{{ 'register_form_city_country' | translate }}" ng-required="scopeCheckRequired(variables.user._languageData)" >
            </div>
            <div class="form-group col-sm-4">
                <!--<label class="control-label">{{ 'register_form_residence_country' | translate }}</label>-->
                <select ng-readonly="variables.mode == 'view'" ng-options="country.id as country._languageData.en.caption for country in variables.coutries" ng-show="tab == 1"  ng-model="variables.user.country" class="form-control"  ng-required="variables.formType != 'sexSensitiveForm' && variables.formType != 'briefForm'" required >
				<option value="">{{ 'register_form_residence_country' | translate }}</option>
				</select>
                <select ng-readonly="variables.mode == 'view'" ng-options="country.id as country._languageData.ru.caption for country in variables.coutries" ng-show="tab == 2"  ng-model="variables.user.country" class="form-control"  ng-required="variables.formType != 'sexSensitiveForm' && variables.formType != 'briefForm'" required >
				<option value="">{{ 'register_form_residence_country' | translate }}</option>
				</select>
                <select ng-readonly="variables.mode == 'view'" ng-options="country.id as country._languageData.am.caption for country in variables.coutries" ng-show="tab == 3"  ng-model="variables.user.country" class="form-control"  ng-required="variables.formType != 'sexSensitiveForm' && variables.formType != 'briefForm'" required >
				<option value="">{{ 'register_form_residence_country' | translate }}</option>
				</select>
            </div>
            <div class="form-group col-sm-4">
                <input ng-readonly="variables.mode == 'view'" type="text" ng-show="tab == 1"  ng-model="variables.user._languageData.en.city" class="form-control " placeholder="{{ 'register_form_residence_city' | translate }}" ng-required="scopeCheckRequired(variables.user._languageData)" >
                <input ng-readonly="variables.mode == 'view'" type="text" ng-show="tab == 2"  ng-model="variables.user._languageData.ru.city" class="form-control" placeholder="{{ 'register_form_residence_city' | translate }}" ng-required="scopeCheckRequired(variables.user._languageData)" >
                <input ng-readonly="variables.mode == 'view'" type="text" ng-show="tab == 3"  ng-model="variables.user._languageData.am.city" class="form-control" placeholder="{{ 'register_form_residence_city' | translate }}" ng-required="scopeCheckRequired(variables.user._languageData)" >
            </div>
        </div>
        <div class="row" ng-if="variables.currentUser && variables.currentUser.role == 1">
            <div class="form-group col-sm-4">
                <p class="input-group calendar">
                    <input ng-readonly="variables.mode == 'view'" id="deadDayField" type="text" class="form-control" datepicker-popup="{{format}}"  ng-model="variables.user.dead_date"  placeholder="{{ 'register_form_dead_day' | translate }}" is-open="deadOpened">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default icon" ng-click="openDead($event)"><i class="fa fa-calendar"></i></button>
                  </span>
                </p>
            </div>
        </div>
        <div class="form-group" ng-if="variables.formType != 'sexSensitiveForm' ">
            <label class="control-label">{{ 'register_form_sex' | translate }}: </label>
            <input type="radio"  ng-disabled="variables.mode == 'view'" ng-model="variables.user.sex"   value="1" > {{ 'register_form_sex_male' | translate }}
            <input type="radio"  ng-disabled="variables.mode == 'view'"  ng-model="variables.user.sex"   value="0" > {{ 'register_form_sex_female' | translate }}
        </div>
        <hr ng-if="variables.mode == 'register' && variables.formType != 'sexSensitiveForm' && variables.formType != 'briefForm' ">
        <h4 ng-if="variables.mode == 'register' && variables.formType != 'sexSensitiveForm' && variables.formType != 'briefForm' ">{{ 'register_form_login_info' | translate}}</h4>
        <div class="row">
            <div class="form-group col-sm-4" ng-if="variables.mode == 'register' && variables.formType != 'sexSensitiveForm' && variables.formType != 'briefForm' ">
				<input ng-readonly="variables.mode == 'view'" type="text"   ng-model="variables.user.login" class="form-control" placeholder="{{ 'register_form_login' | translate }}" required >
            </div>
            <div class="form-group col-sm-4" ng-if="variables.mode == 'register' && variables.formType != 'sexSensitiveForm' && variables.formType != 'briefForm' ">
                <input id="passwordField" name="password" type="password"  ng-model="variables.user.pass" class="form-control" placeholder="{{ 'register_form_password' | translate }}" required
                       data-ng-class="{'ng-invalid':registerForm.confirmPassword.$error.match}">
            </div>
            <div class="form-group col-sm-4" ng-if="variables.mode == 'register' && variables.formType != 'sexSensitiveForm' && variables.formType != 'briefForm' ">
                <input id="confirmPasswordField" name="confirmPassword" type="password" ng-model="variables.confirm_password" class="form-control" placeholder="{{ 'register_form_confirm_password' | translate }}" required data-match="variables.user.pass">
            </div>
        </div>
        <h5 ng-if="variables.mode == 'view'" id="passwordMatchMessage" class="col-sm-12" data-ng-show="registerForm.confirmPassword.$error.match">Passwords do not match!</h5>

        <hr>
        <h4>{{ 'register_form_contact_info' | translate}}</h4>
        <div class="row">
            <div class="form-group col-sm-4">
              <input ng-readonly="variables.mode == 'view'" type="text" id="emailField" novalidate ng-pattern="$root.emailValidationPattern"  ng-model="variables.user.email" class="form-control" placeholder="{{ 'register_form_email' | translate }}" ng-required="variables.formType != 'sexSensitiveForm' && variables.formType != 'briefForm'">
            </div>
            <div class="form-group col-sm-4">
                <input ng-readonly="variables.mode == 'view'" type="text" id="phoneField" ng-model="variables.user.phone" class="form-control" placeholder="{{ 'register_form_phone' | translate }}"  >
            </div>
            <div class="form-group col-sm-4">
                <input ng-readonly="variables.mode == 'view'" type="text" id="skypeField"  ng-model="variables.user.skype" class="form-control" placeholder="{{ 'register_form_skype' | translate }}"  >
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <input ng-readonly="variables.mode == 'view'" type="text" id="viberField"  ng-model="variables.user.viber" class="form-control" placeholder="{{ 'register_form_viber' | translate }}"  >
            </div>
            <div class="form-group col-sm-4">
                <input ng-readonly="variables.mode == 'view'" type="text" id="whatsappField"  ng-model="variables.user.whatsapp" class="form-control" placeholder="{{ 'register_form_whatsapp' | translate }}"  >
            </div>
        </div>

        <hr>
        <h4 >{{ 'register_form_about_you' | translate}}</h4>
        <div class="row">
            <div class="form-group" ng-class="{'col-sm-12': variables.user.user_avatar && variables.user.user_avatar != '', 'col-sm-4': !variables.user.user_avatar}">
                <img  ng-class="{'profile-pic': variables.user.user_avatar && variables.user.user_avatar != ''}" ng-if="variables.mode != 'register'" ng-src="{{variables.user.user_avatar}}" ng-if="variables.user.user_avatar || variables.user.user_avatar != ''" >
                <input class="reg-inputfile" ng-if="variables.mode != 'view' && variables.mode != 'view&change'" id="profilePictureField" type="file" data-multiple-caption="files selected" onchange="angular.element(this).scope().setFile(this)" required>
                <label for="profilePictureField" >
                    <span>{{ 'register_form_profile_picture' | translate }}</span>
                </label>
                <span class="inputfile-text" ng-if="variables.fileObject">{{variables.fileObject.name}}</span>
                <p class="inputfile-text" ng-if="variables.mode != 'view'" class="alert-warning">*{{ 'register_form_photo_warning' | translate}}</p>
            </div>
            <div class="form-group col-sm-4">
                <input ng-readonly="variables.mode == 'view'" type="text" ng-show="tab == 1"  ng-model="variables.user._languageData.en.profession" class="form-control" placeholder="{{ 'register_form_profession' | translate }}" >
                <input ng-readonly="variables.mode == 'view'" type="text" ng-show="tab == 2"  ng-model="variables.user._languageData.ru.profession" class="form-control" placeholder="{{ 'register_form_profession' | translate }}" >
                <input ng-readonly="variables.mode == 'view'" type="text" ng-show="tab == 3"  ng-model="variables.user._languageData.am.profession" class="form-control" placeholder="{{ 'register_form_profession' | translate }}" >
            </div>
            <div class="form-group col-sm-4">
                <input ng-readonly="variables.mode == 'view'" type="text" ng-show="tab == 1"  ng-model="variables.user._languageData.en.education" class="form-control" placeholder="{{ 'register_form_education' | translate }}" >
                <input ng-readonly="variables.mode == 'view'" type="text" ng-show="tab == 2"  ng-model="variables.user._languageData.ru.education" class="form-control" placeholder="{{ 'register_form_education' | translate }}" >
                <input ng-readonly="variables.mode == 'view'" type="text" ng-show="tab == 3"  ng-model="variables.user._languageData.am.education" class="form-control" placeholder="{{ 'register_form_education' | translate }}" >
            </div>
        </div>
        <div class="form-group">
            <textarea ng-readonly="variables.mode == 'view'" type="text" ng-show="tab == 1"  ng-model="variables.user._languageData.en.biography" rows="3" class="form-control" placeholder="{{ 'register_form_biography' | translate }}" ></textarea>
            <textarea ng-readonly="variables.mode == 'view'" type="text" ng-show="tab == 2"  ng-model="variables.user._languageData.ru.biography" rows="3" class="form-control" placeholder="{{ 'register_form_biography' | translate }}" ></textarea>
            <textarea ng-readonly="variables.mode == 'view'" type="text" ng-show="tab == 3"  ng-model="variables.user._languageData.am.biography" rows="3" class="form-control" placeholder="{{ 'register_form_biography' | translate }}" ></textarea>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-10 buttons">
                    <button ng-if="variables.mode != 'view' || variables.mode == 'view&change'" type="submit"  class="btn btn-success" ng-click="submitForm()" class="btn btn-success" ng-disabled="!registerForm.$valid">{{ 'register_form_sign_in' | translate }}</button>
                    <button ng-if="variables.mode == 'view' || variables.mode == 'view&change'"  class="btn btn-success" ng-click="viewProfile()" class="btn btn-success">{{ 'admin_user_view_profile' | translate }}</button>
                    <button ng-if="variables.mode == 'view' || variables.mode == 'view&change'" class="btn btn-danger" ng-click="rejectUser()"><span class="fa fa-times" aria-hidden="true"></span></button>
                    <button ng-if="variables.mode == 'view' || variables.mode == 'view&change'"  class="btn btn-success approve" ng-click="approveUser()" ng-if="variables.user.approve_status == 0"><span class="fa fa-check" aria-hidden="true"></span></button>
                </div>
            </div>
        </div>
    </form>
    </div>
    </div>
    <div class="footer-block" ng-if="variables.mode == 'register' && (variables.formType != 'sexSensitiveForm' && variables.formType != 'briefForm')">
        <div class="container">
            <h1>{{'register_form_block_title' | translate}}</h1>
            <ul ng-controller="LoginController">
                <li ng-if="!currentUser"><a class="btn btn-info" href="/login">{{ 'menu_login' | translate}}</a> </li>
            </ul>
        </div>
    </div>
</div>