<div class="modal-header">
    <button type="button" class="close fa fa-times" data-dismiss="modal" ng-click="$close()"></button>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form" id="newCommentForm" name="newCommentForm">
        <h3 class="text-center">{{'guess_book_leave_comment' | translate}}</h3>
        <p>{{ 'guess_book_new_forum_comment' | translate }}</p>
        <div class="form-group">
            <div class="col-sm-12">
                <input  ng-model="variables.comment.comment"   class="form-control"  required >
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 text-center">
                <button type="submit"  class="btn btn-success" ng-click="submitNewCommentForm()" ng-disabled="!newCommentForm.$valid">{{ 'contact_us_form_submit' | translate }}</button>
            </div>
        </div>
    </form>
</div>