<div id="guessBook">
  <div class="pageHeader banner" style="background-image: url(./img/guestbook.jpg)">
    <div class="banner-text"><div class="slogan">{{ 'guess_book_side_bar_title' | translate}}</div></div>
  </div>
  <div class="special-content">
    <!--<h3 class="text-center ">{{ 'guess_book_side_bar_title' | translate}}</h3>-->
    <div class="guessBookContent">
      <div class="container">
        <div class="row nav-buttons">
          <div class="col-sm-5 col-xs-5">
            <div ng-click="createForum()">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
              <span class="new-btn" ng-click="createForum()" >{{ 'guess_book_new_forum' | translate }}</span>
            </div>
          </div>
          <div class="col-sm-7 col-xs-7createCommentBtn">
            <div class="text-right" ng-click="createComment()" ng-if="variables.selectedForum">
              <i class="fa fa-comments" aria-hidden="true"></i>
              <span>{{ 'guess_book_leave_comment' | translate }}</span>
            </div>
          </div>
        </div>

        <div class="row contentPart">
          <div ng-click="variables.isGuestListOpen = true" ng-swipe-right="variables.isGuestListOpen = true" class="coll-list open-list visible-xs">
            <span><i class="fa fa-chevron-right"></i></span>
          </div>
          <div class="col-sm-5 forumList" slideout="variables.isGuestListOpen" slideout-direction="from-left" ng-swipe-disable-mouse ng-swipe-left="variables.isGuestListOpen = false">
            <div class="coll-list-header visible-xs">
              <div ng-click="variables.isGuestListOpen = false" class="coll-list close-list">
                <span><i class="fa fa-close"></i></span>
              </div>    
            </div>
            <ul>
              <li ng-repeat="forum in filteredlist = (variables.forums)| pagination: currentPage : numPerPage" ng-class="{active:variables.selectedForum.id == forum.id}">
                <div ng-click="loadForumDetail($index); gotoForumContent()" class="row">
                  <div class="col-sm-12 forum-name">
                    <div class="title">{{forum.title}}</div>
                    <div>{{ 'guess_book_created_date' | translate }}: {{(forum.creation_date)*1000 | date:'d MMM y, H:m'}}</div>
                  </div>
                  <!--<div class="col-sm-6 forum-info">
                      <div>{{ 'guess_book_created_date' | translate }}: </div>
                  </div>-->
                </div>
              </li>
            </ul>
            <!--Forum pagination-->
            <div class="row forum-pagination" ng-show="filteredlist.length > 0">
              <pagination total-items="totalItems"
                          ng-model="currentPage"
                          ng-change="pageChanged()"
                          class="pagination-sm"
                          max-size="maxSize"
                          items-per-page="itemsPerPage"
                          boundary-links="true"
                          previous-text="&lsaquo;"
                          next-text="&rsaquo;"
                          first-text="&laquo;"
                          last-text="&raquo;"
                          ng-hide="filteredlist.length <= numPerPage" >

              </pagination>
            </div>
          </div>
          <div class="col-sm-7 commentContainer" id="forumContent">
            <h2 class="title">{{variables.selectedForum.title}}</h2>
            <ul>
              <li ng-repeat="comment in variables.comments| limitTo: limit as results">
                <p class="commentContent">{{comment.comment}}</p>
                <div class="info">
                  <span ng-if="comment.user_avatar && comment.user_avatar != ''" class="avatar">
                    <img width="50px" height="50px" ng-src="{{comment.user_avatar}}" >
                  </span>
                  <div class="avatar-info">
                    <span class="userName">{{comment.author_name}}</span>
                    <span>,&nbsp;{{comment.creation_date| date:'medium'}}</span>
                  </div>
                </div>
                <div class="clear"></div>
              </li>
            </ul>
            <div class="showMore text-center" ng-hide="results.length === variables.comments.length" ng-click="limit = limit + 2">
              <p>{{ 'guess_book_more_comments' |translate}}</p>
              <i class="fa fa-angle-double-down" aria-hidden="true"></i>
            </div>
          </div>
          <div my-customer></div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-block">
    <div class="container">
      <div id="forumSideBar_birthday">
        <div class="todays_birthdays">
          <div ng-show="variables.users.length > 0">
            <h1>{{ 'guess_book_side_bar_birthday_title' | translate}}</h1>
            <div>
              <!--<i class="fa fa-clock-o"></i>-->
              <span class="time-now">{{(now| date:'d M y, H:m')}}</span>
            </div>
          </div>
          <div ng-show="variables.users.length == 0">
            <h1>{{ 'guess_book_side_bar_no_birthday_title' | translate}}</h1>
            <div>
              <!--<i class="fa fa-clock-o"></i>-->
              <span class="time-now">{{(now| date:'dd MMMM y, H:m')}}</span>
            </div>
          </div>
          <div class="bd_list" ng-repeat="users in variables.users track by $index" ng-click="viewProfile(users.user_id)">
            <div ng-if="users">
              <span>{{users.first_name}} ({{users.years_old}})</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
