<div class="modal-header">
    <button type="button" class="close fa fa-times" data-dismiss="modal" ng-click="$close()"></button>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form" id="newForumForm" name="newForumForm">
        <h3 class="text-center">{{'guess_book_new_forum_form_title' | translate}}</h3>
        <p class="">{{ 'guess_book_new_forum_title' | translate }}</p>
        <div class="form-group">
            <div class="col-sm-12">
                <input  ng-model="variables.forum.title"   class="form-control"  required >
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 text-center">
                <button type="submit"  class="btn btn-success" ng-click="submitNewForumForm()" ng-disabled="!newForumForm.$valid">{{ 'contact_us_form_submit' | translate }}</button>
            </div>
        </div>
    </form>
</div>