#chat {
  .main_section {
    margin-top: 30px;
  }
  h1.text-center {
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  .footer-block {
    margin-bottom: 10px;
    
    h3 {
      text-transform: uppercase;
      margin-bottom: 30px;
    }
  }
}

#custom-search-input {
  background: $brand-red none repeat scroll 0 0;
  margin: 0;
  padding: 10px;
  
  ::-webkit-input-placeholder {
    color:    #ffffff;
  }
  :-moz-placeholder {
    color:    #ffffff;
    opacity:  1;
  }
  ::-moz-placeholder {
    color:    #ffffff;
    opacity:  1;
  }
  :-ms-input-placeholder {
    color:    #ffffff;
  }
  .search-query {
    background: none;
    height: 33px;
    padding-left: 35px;
    border: none;
    box-shadow: none;
    outline: none;
    padding-right: 7px;
    color: #ffffff;
  }
  button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    font-size: 20px;
    padding: 2px 5px;
    position: absolute;
    left: 0;
    z-index: 4;
  }
}

.search-query:focus + button {
  z-index: 3;
}

.all_conversation {
  button {
    background: #f5f3f3 none repeat scroll 0 0;
    border: 1px solid #dddddd;
    height: 38px;
    text-align: left;
    width: 100%;
  }
  i {
    background: #e9e7e8 none repeat scroll 0 0;
    border-radius: 100px;
    color: #636363;
    font-size: 17px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
  }
  .caret {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 15px;
    top: 0;
  }
  .dropdown-menu {
    background: #f5f3f3 none repeat scroll 0 0;
    border-radius: 0;
    margin-top: 0;
    padding: 0;
    width: 100%;
  }
  ul li {
    border-bottom: 1px solid #dddddd;
    line-height: normal;
    width: 100%;
    a {
      &:hover {
        background: #dddddd none repeat scroll 0 0;
        color: #333;
      }
      color: #333;
      line-height: 30px;
      padding: 3px 20px;
    }
  }
}

.chat_sidebar {
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  border-right: none;
  
  .member_list  {
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    
    li {
      position: relative;
      border-bottom: 1px solid #f3f3f3;
      padding: 20px 12px;
      text-align: left;
      cursor: pointer;
      overflow-x: hidden;
      
      @media (min-width: $screen-xs-max) {
        padding: 20px 30px;
      }
      
      &:last-child {
        border-bottom: none;
      }
      &.active {
        background-color: #f1f0eb;
      }
      &:hover {
        &:after {
          content: "";
          position: absolute;
          width: 0;
          height: 70px;
          margin-top: -35px;
          right: 0;
          top: 50%;
          border: 2px solid #b8312f;
          border-radius: 5px;
        }
      }
    }
    .chat-title {
      display: inline-block;
      max-width: 220px;
    }
    .chat-body {
      margin-left: 48px;
      margin-top: 0;
      
      @media (min-width: $screen-xs-max) {
        margin-left: 60px;
      }
    }
    .chat-img img {
      height: 42px;
      width: 42px;
    }
    .time {
      color: #afafaf;
    }
    .contact_sec {
      margin-top: 10px;
      color: #777777;
      font-size: 13px;
    }
    .badge {
      background-color: $brand-red;
    }
    .chat-type-group .popover {
      display: none !important;
    }
    .popover {
      background-color: rgba(0, 0, 0, 0.8);
      
      .arrow:after {
        border-right-color: rgba(0, 0, 0, 0.7) !important;
      }
      .popover-content {
        padding: 9px 8px;
      }
      a {
        color: white;
        font-size: 12px;
      }
    }
    @media (max-width: $screen-xs-max) {
      height: 100%;
    }
  }
  @media (max-width: $screen-xs-max) {
    position: fixed;
    top: 0;
    width: 100% !important;
    height: 100%;
    z-index: 101 !important;
    
    > .row {
      height: 100%;
    }
  }
}
.chat_container {
  @media (max-width: $screen-xs-max) {
    position: relative;
  }
}

body.mobile-chat-opened {
  overflow: hidden;
}

.coll-chatrooms {
  background-color: $brand-red;
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  width: 30px;
  height: 53px;
  border-radius: 100% / 50%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  &.close-chatrooms {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 5;
    font-size: 16px;
  }
  &.open-chatrooms {
    position: fixed;
    z-index: 5;
  }
  .fa {
    margin-top: 20px;
  }
  #msg-count {
    right: -10px;
    top: -5px;
  }
}
.top_nav {
  overflow: visible;
}

.sub_menu_ {
  background: #e8e6e7 none repeat scroll 0 0;
  left: 100%;
  max-width: 233px;
  position: absolute;
  width: 100%;
  background: #f5f3f3 none repeat scroll 0 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: none;
  left: 100%;
  margin-left: 0;
  max-width: 233px;
  position: absolute;
  top: 0;
  width: 100%;
}

.all_conversation ul li:hover .sub_menu_ {
  display: block;
}

.message_section {
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  
  .new_message_head {
    background-color: #f1f0eb;
    float: left;
    font-size: 13px;
    font-weight: 600;
    padding: 10px;
    width: 100%;
    
    button {
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      border: medium none;
    }
  }
}

.chat_area {
  float: left;
  width: 100%;
  
  .chat-area-history {
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .chats-message:not(:empty) {
    padding: 40px;
    color: #949494;
  }
  .group-title {
    text-align: center;
    margin: 15px 0 0;
    text-transform: uppercase;
    color: #777777;
  }
  &:not(.chat-type-group) li.author-me .msg-info:after {
    content: "\f00c";
    color: #ebd280;
  }
  &:not(.chat-type-group) li.author-me.unseen .msg-info:after {
    color: #afafaf;
  }
  li {
    padding: 14px 14px 0;
    position: relative;
    display: flex;
    flex-direction: row;
    
    &.pending .msg-info:after {
      content: "\f1ce" !important;
      color: #afafaf !important;
      -webkit-animation: fa-spin 2s infinite linear;
      animation: fa-spin 2s infinite linear;
    }
    .chat-img {
      align-self: flex-end;
      padding: 0;
      top: -17px;
      z-index: 2;
      
      img {
        height: 56px;
        width: 56px;
        border: 6px solid #ffffff;
      }
    }
    .chat-body {
      justify-content: center;
      .msg {
        background-color: #ebd280;
        padding: 10px;
        white-space: pre-line;
        color: #333333;
        border-radius: 5px;
        text-align: left;
        word-wrap: break-word;
        
        &:after,
        &:before {
          position: absolute;
          bottom: 22px;
          width: 20px;
          height: 20px;
          display: inline-block;
        }
        
        .emoji {
          width: 18px;
          height: 18px;
        }
        .smiley-smile {
          vertical-align: middle;
        }
      }
      .msg-info {
        margin-top: 5px;
        font-size: 12px;
        color: #afafaf;
        text-align: right;
        @media (min-width: $screen-xs-max) {
          padding-right: 40px;
        }
        
        &:after {
          display: inline-block;
          margin-left: 5px;
          font: normal 14px/1 FontAwesome;
        }
      }
      .attached-file {
        &:hover {
          text-decoration: none;
        }
        img {
          max-height: 150px;
          max-width: 100%;
        }
        .fa {
          display: block;
          font-size: 80px;
          margin-bottom: 5px;
        }
        span {
          text-transform: uppercase;
        }
      }
    }
    
    &.author-other {
      
      .msg-info {
        text-align: left;
        @media (min-width: $screen-xs-max) {
          padding-left: 40px;
        }
      }
      .chat-img {
        text-align: right;
      }
      .msg {
        background-color: #f1f0eb;
        
        &:before {
          content: "";
          left: -15px;
          background: #f1f0eb;
        }
      }
      .chat-body {
        margin-right: 0;
        padding-right: 10%;
        padding-left: 0;
      }
    }
    &.author-me {
      flex-direction: row-reverse;
      
      .chat-name {
        text-align: right;
      }
      .chat-body {
        margin-left: 0;
        padding-left: 10%;
        padding-right: 0;
      }
      .msg {

        &:after {
          content: "";
          right: -15px;
          background: #ebd280;
        }
      }
    }
    &:last-child {
      padding-bottom: 10px;
    }
  }
}

.message_write {
  float: left;
  padding: 15px;
  width: 100%;
  
  textarea {
    &.form-control {
      height: 70px;
      padding: 10px;
      resize: none;
      border-color: #f1f0eb;
    }
    &.ng-invalid {
      border-color: #f1f0eb !important;
    }
  }
  .btn {
    background-color: $brand-red;
    padding: 12px 35px;
    text-transform: capitalize;
  }
  .bottom-actions {
    display: inline-block;
    position: relative;
    top: -45px;
    @media (max-width: 769px) {
      font-size: 0;
    }
    
    .fa {
      font-size: 18px;
      padding-right: 5px;
      @media (max-width: $screen-sm-max) {
        font-size: 25px;
        border-right: 1px solid #f1f0eb;
        padding-right: 20px;
      }
      @media (max-width: 320px) {
        padding-right: 8px;
      }
    }
    .smilies-selector {
      background-image: none;
      width: auto;
      height: auto;
      font-style: initial;
      cursor: pointer;
      @media (max-width: $screen-lg-min) {
        font-size: 0;
      }
      &:before {
        content: "\f118";
        font: normal 18px/1 FontAwesome;
        padding-right: 5px;
        
        @media (max-width: $screen-sm-max) {
          font-size: 25px;
        }
      }
      &:hover {
        color: #23527c;
      }
    }
    .upload_btn, .add_users_btn {
      color: #777777;
      font-weight: normal;
      cursor: pointer;
      
      &:after {
        content: "|";
        color: #f1f0eb;
        display: inline-block;
        margin: 0 10px;
      }
    }

    .upload_btn:focus, .add_users_btn:focus {
      outline: none;
      color: #23527c;
    }

    .add_users_btn:hover {
      text-decoration: none;
      color: #23527c;
      
      .fa {
        color: #23527c;
      }
    }
    .upload_btn:hover {
      color: #23527c;
    }

    .file-attach {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
  }
  
}

.chat_bottom {
  float: left;
  margin-top: 13px;
  width: 100%;
  border-bottom: 1px solid #f1f0eb;
  padding-bottom: 10px;
}

.sub_menu_ > li {
  a {
    float: left;
    width: 100%;
  }
  float: left;
  width: 100%;
}


.chats-message {
  padding: 0 10px;
  font-weight: bold;
}

.chat-members-list {
  margin-top: -15px;
  clear: both;
  
  .chat-member {
    background-color: #f1f0eb;
    color: #333333;
    font-size: 13px;
    padding: 3px 10px;
    border-radius: 5px;
    margin: 6px 0;
    
    a {
      color: #333333;
      text-decoration: none;
      &:focus .chat-members-list .chat-member a:hover {
        color: #333333;
        text-decoration: none;
      }
    }
    .fa {
      cursor: pointer;
      margin-left: 5px;
      font-size: 13px;
      padding-right: 0;
      
      &:hover {
        color: $brand-red;
      }
    }
    &:hover {
      background-color: #ebd280;
    }
  }
}

.group-info {
  font-size: 12px;
  color: #afafaf;
  padding-top: 10px;
  margin-top: 15px;
  border-top: 1px solid #f1f0eb;
  
  i.fa {
    font-size: 12px;
  }
}


#SelectUsersForm, #renameGroupForm {
  margin-top: 20px;
}

#SelectUsersForm {
  ul {
    &.chosen-choices {
      padding: 8px;
      font-size: 16px;
      li.search-choice {
        color: white;
        background: #008800;
        padding: 3px 25px 3px 10px;
      }
    }
    &.chosen-results li {
      font-size: 16px;
      &.highlighted {
        background-color: #5cb85c;
        background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(20%, #5cb85c), color-stop(90%, #47a447));
        background-image: -webkit-linear-gradient(#5cb85c 20%, #47a447 90%);
        background-image: -moz-linear-gradient(#5cb85c 20%, #47a447 90%);
        background-image: -o-linear-gradient(#5cb85c 20%, #47a447 90%);
        background-image: linear-gradient(#5cb85c 20%, #47a447 90%);
      }
    }
  }
  select {
    width: 100%;
  }
  .form-bottom {
    text-align: right;
    margin-top: 20px;
  }
}

#renameGroupForm {
  .form-bottom {
    text-align: right;
    margin-top: 20px;
  }
  input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
  }
}

@media (max-width: $screen-sm-max) {
  .chat-members-list {
    margin-top: -60px;
  }
  .message_write .bottom-actions {
    top: -65px;
    margin: 20px 0 30px 0;
  }
}

.popover.popover-smilies {
  max-width: 386px;

  @media (max-width: $screen-sm-max) {
    max-width: 100%;
    left: 0 !important;
    width: 100%;
    
    .arrow {
      display: none;
    }
  }
  [class*=' smiley-'], [class^=smiley-] {
    margin: 2px 6px;
    @media (max-width: $screen-sm-max) {
      zoom: 1.22;
    }
  }
  .popover-content {
    @media (max-width: $screen-sm-max) {
      max-width: 100%;
      min-width: 100%;
      margin: 0 auto;
      padding: 9px 17px;
    }
    @media (max-width: 350px) {
      padding: 9px 10px;
    }
  }
  .smilies-selector-content {
    max-width: 386px;
    min-width: 386px;
    margin: 0 -9px;
    
    @media (max-width: $screen-sm-max) {
      max-width: 100%;
      min-width: 100%;
      margin: 0;
    }
  }
}
// hide overlay
.slideout-overlay-show {
  display: none;
}