#contactUsPage {
  font-size: 18px;
  h1 {
    margin-bottom: 1.6rem;
  }
  form {
    width: 65%;
    margin: auto;
    text-align: left;

    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }
  .wide-content {
    .info {
      padding-left: 2.5rem;
      margin-top: 3rem;
      .row {
        margin-bottom: 2rem;
      }
      i {
        font-size: 3rem;
        margin-top: 5px;

        &.fa-envelope {
          font-size: 2.5rem;
        }
      }
    }
  }
  textarea.form-control {
    height: 19rem;
  }
  .buttons {
    margin-top: 1rem;
  }
  .pageHeader {
    margin-bottom: 1rem;
    min-height: 243px;
  }
  img {
    width: 100%;
  }
  .fieldContent {
    margin-bottom: 3rem;
    //padding: 0 1rem;
  }
  .buttons {
    .text-right {
      @media (max-width: $screen-xs-max) {
        text-align: center;
      }
    }
  }
  .contact-info {
    .phone {
      @media (max-width: $screen-phone) {
        display: block;
      }
    }
    ul {
      li {
        @media (max-width: $screen-phone) {
          padding-bottom: 1rem;
        }
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }
}