$brand-red:                #b8312f;
$gray:                     #afafaf;
$gray-border:              #eae9e5;
$white:                    #fff;
$default-color:            #777777;
$brand-dark:               #333333;
$light-gray:               #5e5e5e;
$default-button-bg:        #bf932f;
$tree-name-color:          #ebd280;
$tree-bg:                  #f5f5f5;
$tree-border:              #e2e2e2;
$divider-color:            #dcdbd8;
$video-bg:                 #bf9330;
$menu-grey-bg:             #f1f0eb;


// Buttons
$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-red !default;
$btn-primary-border:             darken($brand-red, 5%) !default;

$btn-success-color:              $white !default;
$btn-success-bg:                 $default-button-bg !default;
$btn-success-border:             $default-button-bg !default;

$btn-info-color:                 $brand-dark !default;
$btn-info-bg:                    transparent !default;
$btn-info-border:                darken($brand-dark, 5%) !default;

$btn-default-color:              #333 !default;
$btn-default-bg:                 #fff !default;
$btn-default-border:             #ccc !default;


//mixins
@mixin search_input_style ($bg-color, $color, $border-color){
  .form-group {
    color: $color;
    margin-bottom: 0;
    .form-control-feedback {
      left: 3px;
    }
    input {
      color: $color;
      background: $bg-color;
      border: 1px solid $border-color;

      &::-webkit-input-placeholder {
        color: $color;
      }
      &::-moz-placeholder {
        color: $color;
      }
      :-ms-input-placeholder {
        color: $color;
      }
      &:-moz-placeholder {
        color: $color;
      }
    }
    &.has-feedback .form-control {
      padding-right: 10px;
      padding-left: 42.5px;
    }
    .fa-search {
      margin-top: -30px;
      top: 100%;
    }
  }
}