#guessBook,
#entertainingBookPage {
  .nav-buttons {
    color: $brand-red;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    padding-bottom: 2rem;
    border-bottom: 1px solid $gray-border;
	text-align: left;

    i {
      font-size: 1.8rem;
    }
  }
  .guessBookContent {
    margin-top: 2rem;
    //margin-bottom: 2rem;
  }
  .contentPart {
    border-top: 1px solid $gray-border;
    margin-top: 1px;

    .forumList,
    .articleList {
      ul {
        li {
          .row {
            border-bottom: 1px solid $gray-border;
            border-right: 1px solid $gray-border;
            cursor: pointer;

            &:hover {
              .article-name,
              .forum-name {
                border-right:3px solid $brand-red;
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
              }
            }
          }

          &.active {
            .row {
              background: url(../../img/gray-bg.jpg) #ecebe7;
            }
          }
        }
      }

      .forum-name,
      .forum-info,
      .article-name {
        font-size: 1.2rem;
        //padding-top: 2.5rem;
        //padding-bottom: 2.5rem;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;

        > div {
          margin-bottom: 1rem;
        }

        .title {
          color: $brand-dark;
          font-size: 1.6rem;
          font-weight: bold;
        }
      }
    }
    .commentContainer,
    .articleContent {
      ul {
        li {
          padding-bottom: 2.5rem;

          &:first-child {
            padding-top: 2.5rem;
          }

          .commentContent {
            line-height: 2.3rem;
          }

          .info {
            padding: 1rem 0;
            float: right;
            font-size: 1.2rem;

            .avatar {
              display: table-cell;
              background: $white;
              border-radius: 50%;
              width: 50px;
              height: 50px;

              img {
                border: 1px solid $gray-border;
                border-radius: 50%;
              }
            }
            .avatar-info {
              display: table-cell;
              padding-left: 1rem;
            }
          }
        }
      }
    }
  }
  .footer-block {
    .todays_birthdays {
      font-size: 2rem;
	  
	  .bd_list {
			display: inline-block;
			cursor: pointer;
			
			span {
				white-space: nowrap;
				&:after {
					content: ',';
					display: inline-block;
					margin-right: 5px;
				}
			}
			&:last-child {
				span:after {
					content: '';
					display: inline-block;
					margin-right: 5px;
				}
			}
		}
    }
  }
}
.pagination {
  margin: 3rem 0;
  > li {
    > a,
    > span {
      color: $default-color;
      background: none;
      border: none;
      border-radius: 50%;
      border: 1px solid $gray-border;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      padding: 1.2rem 1.7rem;

      &:hover,
      &:focus {
        background-color: transparent;
        border-color: $default-color;
        color: $default-color;
      }
    }
    &:first-child {
      > a,
      > span {
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
      }
    }
    &:last-child {
      > a,
      > span {
        border-bottom-right-radius: 50%;
        border-top-right-radius: 50%;
      }
    }
  }
  > .active {
    > a,
    > span {
      background-color: transparent;
      border-radius: 50%;
      border: 1px solid $default-color;
      color: $default-color;
      &:hover,
      &:focus {
        background-color: transparent;
        border-color: $default-color;
        text-decoration: none;
        color: $default-color;
        font-size: 1.2rem;
      }
    }
  }
  >.disabled {
    >span,
    >a {
      background-color: transparent;
      &:hover,
      &:focus {
        background: none;
        color: $default-color;
        border: 1px solid $gray-border;
      }
    }
  }
  .pagination-next,
  .pagination-prev {
    > a {
      padding: 1.2rem 1.9rem;
    }
  }
}
.modal-content {
  .description {
    font-size: 1.5rem;
  }
  .lang-area {
    margin-bottom: 3rem;
  }
  .langTabs {
    font-weight: bold;
  }
  .btn-toolbar {
    margin-bottom: 1rem;
  }
}
