@font-face {
  font-family: Bebas;
  src: url('../font/BebasNeue.otf');
}
@font-face {
  font-family: DejavuBold;
  src: url('../font/DejaVuSansCondensed-Bold.ttf');
}
@font-face {
  font-family: ArialAmu;
  src: url('../font/Arial-AMU-Regular-8891.ttf');
}
@font-face {
  font-family: ArialAmu;
  src: url('../font/Arial-AMU-Bold-8892.ttf');
  font-weight: bold;
}
html{
  @media (max-width: $screen-xs-max) {
    font-size: 9px;
  }
  @media (min-width: $screen-xs-min) {
    font-size: 9px;
  }
  @media (min-width: $screen-sm-min) {
    font-size: 8px;
  }
  @media (min-width: $screen-md-min) {
    font-size: 9px;
  }
  @media (min-width: $screen-lg-min) {
    font-size: 10px;
  }
}
body {
  font-size: 1.4rem;
  color: $brand-dark;
  background-image: url(../../img/main-bg.jpg);
}
body {
  &.ru {
    font-family: 'Open Sans', sans-serif;
    h1, h2, h3 {
      font-family: 'Oswald', sans-serif;
    }
    h1,h3 {
      font-size: 4rem;
    }
    .header {
      .navbar {
        font-family: 'Oswald', sans-serif;

        .nav-tabs {
          > li {
            > a {
              font-size: 1.5rem;
              @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                padding: 15px 10px;
              }
              @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
                padding: 15px 12px;
              }
            }
          }
        }
      }
      .register-tablet {
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
          font-size: 1.4rem;
        }
      }
      .register-lg {
        @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
          font-size: 1.4rem;
          padding: 1.2rem !important;
        }
      }
    }
    .pageHeader {
      &.banner {
        .slogan {
          font-family: 'Oswald', sans-serif;
          font-size: 4rem;
        }
      }
    }
    ul.blueTab li a {
      font-size: 1.2rem;
    }
    .memory-bg {
      &.small {
        .editAlbumBtns {
          .edit-btns {
            font-size: 1.2rem;
          }
        }
        .img-layout {
          .title {
            font-size: 2.5rem !important;
          }
        }
      }
    }
  }
  &.en {
    font-family: 'Open Sans', sans-serif;
    h1, h2, h3 {
      font-family: Bebas;
    }
    .header {
      .navbar {
        font-family: Bebas;
      }
    }
    .pageHeader {
      &.banner {
        .slogan {
          font-family: Bebas;
        }
      }
    }
  }
  &.am {
    font-family: ArialAmu;
    h1, h2, h3 {
      font-family: DejavuBold;
    }
    h1,h3 {
      font-size: 4rem;
    }
    .header {
      .navbar {
        font-family: DejavuBold;

        .nav-tabs {
          > li {
            > a {
              font-size: 1.5rem;
              @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                padding: 15px 10px;
              }
            }
          }
        }
      }
    }
    .pageHeader {
      &.banner {
        .slogan {
          font-family: DejavuBold;
          font-size: 4rem;
        }
      }
    }
    ul.blueTab li a {
      font-size: 1.2rem;
    }
    .memory-bg {
      &.small {
        .editAlbumBtns {
          .edit-btns {
            font-size: 1.2rem;
          }
        }
        .img-layout {
          .title {
            font-size: 2.5rem !important;
          }
        }
      }
    }
  }
}
a {
  color: $default-color;
  cursor:pointer;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1, h2, h3 {
  color: $brand-dark;
}
h1,h3 {
  font-size: 6rem;
}
.img-responsive { 
  margin: 0 auto;
  width: 100%;
}
.form-control {
  height: 4.8rem;
  border-radius: 0;
  border: 1px solid $brand-dark;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: transparent !important;
}
.clear {
  clear: both;
}
select,
select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ie-appearance: none;
  appearance: none;
  overflow: hidden;
  background-image:  url("../../img/arrow.png");
  background-color: transparent;
  background-position: 97% center;
  background-repeat: no-repeat;
  padding-right: 1.2rem;
}
select::-ms-expand {
  display: none;
}
//Header
.header {
  .middle {
    margin-top: 1.5rem;
    font-size: 1.4rem;
    .secondary-items {
      border-bottom: 2px solid $gray-border;
      margin-bottom: 1.4rem;
      padding-bottom:  1.4rem;
    }
    .row {
      text-align: center;
      padding: 0 1.5rem;
      font-size: 1.4rem;

    }
    .inline-items {
      display: inline-block;
	  color: $default-color;

      &.user-name {
        @media (min-width: $screen-md-min) {
          display: block;
        }
      }
      &.no-border {
        &:after {
          width: 0px;
        }
      }

      &:after {
        display: inline-block;
        content: '';
        width: 1px;
        height: 1.3rem;
        margin: 0 1rem;
        background: #e8e7e4;

        /* Landscape tablets and medium desktops */
        @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
          margin: 0 0.5rem;
        }

      }
      a {
        color: $default-color;
      }
      &:last-child {
        &:after {
          width: 0;
          height: 0;
        }
      }
      > div {
        display: inline-block;
      }
      .active {
        a, i {
          color: $brand-red;
        }
        a {
          &.btn-primary {
            color: $white;
            &:focus,
            &:hover {
              color: $white;
            }
          }
        }
      }
    }
    i {
      margin-right: 0.5rem;
      font-size: 1.8rem;

      &.fa-globe {
        margin-right: 0;
      }
    }
  }
  ul.loginBar {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;

      &.visible-lg {
        display: inline-block;
      }

      &:first-child {
        margin-right: 2rem;

        /* Landscape tablets and medium desktops */
        @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
          margin-right: 0.5rem;
        }
        @media (max-width: $screen-sm-max) {
          margin-right: 0;
        }

      }
      .btn {
        border-radius: 0;
        font-weight: bold;
        padding: 10px 23px;
      }
      a.btn {
        color: $white;

        &:hover,
        &:focus {
          color: $white;
          text-decoration: none;
        }
      }
      .register-tablet {
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
          padding: 1rem;
          //font-size: 1.4rem;
        }
      }
    }
  }
  select#languageBar {
    border: none;

    &:focus {
      outline: none;
    }
    li {
      text-transform: uppercase;
    }
  }
  .navbar {
    background: $brand-red;
    text-transform: uppercase;
  }
  img {
    &.logo {
      width: auto;
      cursor: pointer;
      @media (min-width: $screen-md-min) {
        height: 110px;
      }
      @media (min-width: $screen-lg-min) {
        height: 120px;
      }
    }
  }
  .duplicate-regBtn {
    margin-top: 1.5rem;
    text-align: right;
  }
  .hero-layout {
    display: table-cell;
    vertical-align: bottom;

    img {
      max-width: 100%;
    }

    @media (min-width: $screen-md-min) {
      height: 110px;
    }
    @media (min-width: $screen-lg-min) {
      height: 120px;
    }
  }
  .row {
    &.author {
      font-size: 14px;
      color: $gray;
      @media (max-width: $screen-xs-max) {
        text-align: left;
        margin-top: 1rem;
      }
      @media (min-width: $screen-xs-min) {
        margin-bottom: 0.7rem;
      }

      label {
        margin-top: 1rem;
        margin-bottom: 0;
      }
      > div {
        @media (min-width: $screen-sm-min) {
          display: inline-block;
        }
        @media (max-width: $screen-xs-max) {
          margin-top: 1rem;
        }
      }
      span,
      a {
        color: $gray;
        margin-left: 1rem;

        &:after {
          display: inline-block;
          content: '|';
          color: $divider-color;
          margin-left: 1rem;
          @media (max-width: $screen-xs-max) {
            display: block;
            content: '';
          }
        }
        &:last-child {
          &:after {
            content: '';
          }
        }
        @media (max-width: $screen-xs-max) {
          display: block;
          margin-left: 0;
        }
      }
      a {
        &:hover {
          color: $brand-red;
        }
      }
    }
  }
}
//Main navigation
.navbar {
  #mainMenu,
  #loginMainMenu,
  #footerLmainMenu,
  #footerLoginMainMenu {
    text-align: center;
  }
}
.navbar {
  border-radius: 0;
  margin-bottom: 0;
  border: none;

  .navbar-nav,
  .nav {
    float: none;
    > li {
      float: none;
      @media (min-width: $screen-sm-min) {
        display: inline-block;
      }
      @media (min-width: $screen-md-min) {
        margin-right: 1.4rem;
      }
    }
  }
  .nav-tabs {
    border-bottom: none;

    > li {
      > a {
        font-size: 2.2rem;
        color: $white;
        background-color: transparent;
        border: none;
        &:focus,
        &:hover {
          color:$tree-name-color;
        }
      }
      &.active {
        > a {
          position: relative;
          background-color: transparent;
          border: none;
          color: $tree-name-color;

          &:focus,
          &:hover {

          }
          @media (min-width: $screen-sm-min) {
            &:after {
              display: block;
              content: '\f0de';
              font-family: FontAwesome;
              position: absolute;
              left: 50%;
              bottom: 6px;
              width: 5px;
              height: 5px;
              font-size: 1rem;
              margin-left: -2.5px;
            }
          }
        }
      }

    }
  }
}
.navbar-toggle {
  background-color: $default-color;
  border-radius: 0;
  border: none;

  .icon-bar {
    background: $white;
  }
}
.navbar-collapse {
  box-shadow: none;
}
.pageHeader {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 1400px;
  margin: auto;
}
//Footer
.footer {
  clear: both;
  margin-top: 1rem;
  .socialContent {
    background: $brand-red;
    padding: 1.2rem 0;

    .socialIcons {
      text-align: center;
      li {
        display: inline-block;
        margin-right: 5rem;
        a {
          color: $white;
          font-size: 3.5rem;

          &:hover {
            color: $default-button-bg;
          }
        }
      }
    }
  }
  .footer-menu {
    background: $brand-dark;
    padding: 2rem 0;

    .navbar {
      .nav-tabs, .loginBar {
        > li {
          > a {
            font-size: 1.6rem;
            &:hover {
              color: $brand-red;
            }
          }

          &.active {
            > a {
              color: $brand-red;
              text-decoration: none;
              &:after {
                display: none;
              }
            }
          }
        }
      }
    }
    ul, .loginBar li {
      display: inline-block;
    }
    .loginBar {
      li {
        list-style: none;
        &:first-child {
          margin-right: 3rem;
        }
        a {
          color: $white;

          &:hover {
            text-decoration: none;
          }
        }
        &.active {
          a {
            color: $brand-red;
          }
        }
      }
    }
    .copyright {
      text-align: center;
      color: $white;
      font-size: 1.4rem;
      font-weight: 300;

      > div {
        border-top: 1px solid $light-gray;
        margin: 3.5rem 18rem 0 18rem;
      }
      p {
        margin-top: 1.5rem;
      }
    }
  }
}
.footer-block {
  background: url(../../img/gray-bg.jpg) #ecebe7;
  text-align: center;
  padding-top: 2.8rem;
  padding-bottom: 2.8rem;
  margin-top: 1rem;

  h1, h3 {
    color: $brand-dark;
    margin: 0 0 2rem 0;
    text-transform: uppercase;
  }
  .btn {
    border-radius: 0;
    padding: 1.3rem 5.5rem;
    a {
      color: $brand-dark;

      &:hover {
        text-decoration: none;
        color: $brand-dark;
      }
    }
  }
}
.content {
  margin-bottom: 1rem;
  text-align:justify;
  .special-content {
    margin-top: 3rem;
    padding-bottom: 2rem;
  }
}
.btn {
  &.btn-success {
    border-radius: 0;
    font-weight: bold;
    padding: 1.5rem 5.5rem;
    text-transform: uppercase;

    &:hover {
      //background-color: $default-button-bg;
      //border-color: $white;
      //border-width: 2px;
    }

    &.approve {
      padding: 6px 12px;
      background-color: #47a447;
      border-color: #398439;
    }
  }
  &.btn-info {
    border-width: 2px;
    font-weight: bold;
    border-radius: 0;
    padding: 1.3rem 5.5rem;
    text-transform: uppercase;

    &:hover {
      background-color: $default-button-bg;
      border-color: $default-button-bg;
      color: $white;
    }
  }
  &.btn-danger {
    border-radius: 0;
  }
  &.btn-primary {
    border-radius: 0;
  }
}
.ng-invalid,
.ng-invalid >.chosen-container {
  border-color: $brand-red !important;

  /*.chosen-default,
  .chosen-single {
    border: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
  }*/
}
/*select.chosen-style .chosen-container-single .chosen-single {
  background: blue !important;
}
.chosen-container-single .chosen-single, .chosen-container-single .chosen-default, .chosen-container-active .chosen-single, .chosen-container-active .chosen-default, .chosen-container .chosen-single, .chosen-container .chosen-default, .chosen-container-active.chosen-with-drop .chosen-single, .chosen-container-active.chosen-with-drop .chosen-default {
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}*/
.modal-dialog {
  .modal-header {
    border-bottom: none;
    padding: 10px;
  }
  .modal-content {
    margin:10px;
    padding: 10px 10px;
    .container ,
    .container-fluid {
      width: 100%;
    }
    .btn-success,
    .btn-danger {
      margin-top: 2rem;
      padding: 1.5rem;
    }
  }
  .modal-body {
    h3 {
      margin-top: 0;
    }
  }
}

.small-dialog .modal-dialog {
  width: 400px;
}
button.close{
  float:right;
  font-size: 2.5rem;
}

/* Disable animation on curtain elements */
form[name='registerForm'] .form-control,
form[name='newAlbumForm'] .form-control,
form[name='newAlbumPictureForm'] .form-control,
form[name='newVideoForm'] .form-control,
form[name='adminMainPageForm'] .form-control,
form[name='createUserForm'] .form-control,
form[name='newArticleForm'] .form-control {
  -webkit-transition: none;
  transition: none;
}
#msg-count {
  position: absolute;
  display: inline-block;
  top: 5px;
  left: 50%;
  margin-left: 10px;
  right: auto;
  padding: 2px 8px;
  background-color: #ebd280;
  color: #b8312f;
  font-size: 12px;
  font-weight: bold;
  border-radius: 100%;
  z-index: 5;
  

  @media (max-width: $screen-md-max) {
    right: -10px;
  }
  @media (max-width: $screen-xs-max) {
    left: 50%;
    margin-left: 15px;
    right: auto;

  }
}
.no-gutters {
  padding-left: 0;

  &.col-sm-12 {
    padding-right: 0;
    @media (max-width: $screen-xs-max) {
      padding-left: 0;
    }
  }
  @media (max-width: $screen-xs-max) {
    padding-left: 15px;
  }
  &.rightAligned {
    padding-right: 0;
    padding-left: 15px;

    @media (max-width: $screen-xs-max) {
      padding-right: 15px;
    }
  }
}
.pageHeader {
  &.banner {
    position: relative;

    .banner-text {
      text-align: center;
      font-size: 3.6rem;
      margin: auto;
      color: $white;
      width: 75%;
      max-height: 55%;
      padding: 1.5rem;
      background: rgba(0, 0,  0,0.4);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      justify-content: center;
      -webkit-justify-content: space-around;

      @media (max-width: $screen-md-max) {
        font-size: 3rem;
      }

      @media (max-width: $screen-sm-max) {
        width: 96%;
        max-height: 60%;
        font-size: 3rem;
      }
      @media (max-width: $screen-xs-max) {
        font-size: 1.8rem;
        max-height: 50%;
      }
    }
    .slogan {
      font-size: 6rem;
      text-transform: uppercase;
      margin-bottom: 0;
      width: 100%;

      @media (max-width: $screen-sm-max) {
        font-size: 5rem;
      }
      @media (max-width: $screen-xs-max) {
        font-size: 4rem;
      }
    }
  }
}
.logo-mainmenu {
  display: none;
}
.fix-to-top {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  text-align: center;
  -webkit-box-shadow: 0 1px 5px #b3b3b3;
  -moz-box-shadow: 0 1px 5px #b3b3b3;
  box-shadow: 0 1px 5px #b3b3b3;

  .container {
    width: 100%;
  }

  .logo-mainmenu {
    display: inline-block;

    img {
      height: 50px;
    }
  }
  .navigationBar {
    display: inline-block;
  }
  .navbar-header {
    position: fixed !important;
    top: 0 !important;
  }
  .navbar-toggle {
    background-color: transparent;
    border: 1px solid white;
  }
}
.showMore {
  font-size: 1.2rem;
  margin-top: 6rem;
  cursor: pointer;
  p {
    margin-bottom: 0;
  }
}
.chosen-container-single,
.chosen-container-active,
.chosen-container,
.chosen-container-active.chosen-with-drop {
  .chosen-single,
  .chosen-default {
    height: 4.8rem !important;
    border-radius: 0 !important;
    border: 1px solid $brand-dark !important;
    background-color: $white !important;
    background-image: url(../../img/arrow_reg.png) !important;
    background-repeat: no-repeat !important;
    background-position: 98% center !important;

    span {
      margin-top: 10px !important;
    }
  }
  .chosen-results {
    li {
      &.highlighted{
        background: $brand-red !important;
      }
    }
  }
}
iframe {
  width: 100%;
}
.container-fluid {
  @media (min-width: 1400px) {
    width: 1400px;
  }
}
li {
	&.error {
		color: $brand-red;
		font-weight: bold;
	}
}





@media (max-width: $screen-xs-max) {
  .header {
    .navbar {
      .navbar-header {
        position: absolute;
        top: -55px;
        right: 15px;
      }
      min-height: 0;
    }
    .middle {
      .secondary-items {
        border-bottom: none;
        text-align: left;
        margin-bottom: 0;
      }
    }
    .logo-main {
      text-align: center;
    }
    .fix-to-top {
      .logo-mainmenu {
        float: left;
      }
      .navigationBar {
        margin-left: -50px;
      }
    }
  }
  .footer {
    .footer-menu {
      .loginBar {
        width: 100%;
        li {
          &:first-child {
            margin-right: 0;
          }
        }
      }
      #footerLmainMenu,
      #footerLoginMainMenu {
        li {
          width: 49%;
        }
      }
      .copyright > div {
        margin: 3.5rem 0 0 0;
      }
    }
    .navbar .navbar-nav > li, .navbar .nav > li {
      float: left;
    }
    .socialContent {
      .socialIcons {
        li {
          margin-right: 3rem;

          a {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}
@media (min-width: $screen-xs-min) {

}
@media (min-width: $screen-sm-min) {
  .navbar-nav {
    > li {
        > a {
          padding-top: 20px;
          padding-bottom: 20px;
        }
    }
  }

}
@media (min-width: $screen-md-min) {

}
@media (min-width: $screen-lg-min) {
  .modal-lg {
    width: 1180px;
  }
}
@media (max-width: $screen-md-max) {
 .header {
   img {
     &.logo,
     &.famous {
      //max-height: 100px;
      width: auto;
     }
     &.famous {
       float: right;
     }
   }
   .navbar-nav {
     > li {
       > a {
         margin-right: 0;
       }
     }
   }
 }
  .app-modal-large .modal-dialog .sliderContainer.slider{
    //width: 480px;
    width: 100%;
  }
}
@media (max-width: $screen-sm-max) {
  .header {
    img {
      &.logo {
        max-height: 100px;
      }
    }
  }
  .app-modal-large .modal-dialog .sliderContainer.slider{
    width: 280px;
  }
  .sliderContainer.slider .nav {
    bottom: 0 !important;
    margin: 0 15px !important;
  }
  .app-modal-large .modal-dialog .sliderContainer.slider{
    //width: 480px;
    width: 100%;
  }
}
@media (max-width: $screen-xs-max) {
  .app-modal-large .modal-dialog .sliderContainer.slider{
    //width: 280px;
    width: 100%;
  }
  .sliderContainer.slider .nav {
    bottom: 0 !important;
    margin: 0 15px !important;
  }
}
.fa-sign-out {
  color: $brand-red;
}

