#myPage {
  &.special-content {
    margin-top: 5rem;
    h3 {
      margin-bottom: 2rem;
    }
  }
  #userInfoContainer,
  #childrenInfoContainer,
  #coupleInfoContainer {
    margin-bottom: 1rem;
    .personal-info {
      font-size: 1.8rem;
	  text-align: left;
      i,
      .info-label {
        color: $default-color;
        //margin-right: 1rem;

      }
      i {
        width: 25px;
      }
    }
  }
  .biographyField {
    padding: 2.5rem 1.5rem;
    font-size: 1.6rem;
    
    @media (min-width: $screen-sm-min) {
      padding: 2.5rem 6rem;
      font-size: 1.4rem;
    }
  }
  #userInfoContainer {
    .personal-info {
      border-bottom: 2px solid $gray-border;
      padding-bottom: 1rem;
      //margin-bottom: 2rem;
      padding-top: 2rem;
    }
    .btn-success {

    }
  }
  .tree-buttons,
  .chat-buttons,
  .editProfileBtns {
    margin-bottom: 1rem;
  }

  .personal-info {
    margin-bottom: 2rem;
  }
  .userInfoTitle {
    font-size: 1.8rem;
    color: $default-color;
    text-transform: uppercase;
  }
  .fieldName {
    font-weight: bold;
    font-size: 2.4rem;
  }
  .relatives_info {
    padding-top: 1.5rem;
  }
  /*Tabs*/
  .nav-pills {
    background: url(../../img/gray-bg.jpg) #ecebe7;
    text-align: center;

    > li {
      display: inline-block;

      > a {
        font-size: 1.4rem;
        border-radius: 0;
        color: $brand-dark;
        //padding: 2rem 9rem;
        text-transform: uppercase;
        @media (max-width: $screen-phone) {
          padding: 0.5rem 9rem;
        }
        @media (min-width: $screen-xs-min) {
          padding: 2rem 5rem;
        }
        @media (min-width: $screen-sm-min) {
          padding: 2rem 9rem;
        }
      }

      &.active {
        > a {
          font-weight: bold;
          color: $brand-red;
          background-color: transparent;
          position: relative;

          &:hover,
          &:focus {
            font-weight: bold;
            color: $brand-red;
            background-color: transparent;
          }

          &:after {
            display: block;
            content: '\f0de';
            font-family: FontAwesome;
            position: absolute;
            left: 50%;
            bottom: -2px;
            width: 10px;
            height: 10px;
            font-size: 1.4rem;
            margin-left: -5px;

            @media (max-width: $screen-phone) {
              display: none;
            }
            @media (min-width: $screen-xs-min) {
              //color: green;
            }
          }
        }
      }
      @media (max-width: $screen-phone) {
        display: block;
      }
    }
  }

  /* Chat Popup */
  .sendMessageBtn {
    //display: inline-block;
    //padding-left: 30px;
    //position: relative;
    //top: -8px;
  }
  #chatPopup {
    padding: 0 30px;

    form {
      text-align: right;

      .btn[disabled] {
        opacity: .85;
      }
      .btn.active:after {
        content: "\f1ce";
        display: inline-block;
        margin-left: 10px;
        color: #ffffff;
        font: normal 15px/1 FontAwesome;
        -webkit-animation: fa-spin 2s infinite linear;
        animation: fa-spin 2s infinite linear;
      }
    }
    textarea {
      width: 100%;
      height: 150px;
      resize: none;
      margin: 10px 0 30px;
      padding: 10px;
      font-size: 16px;

      &.ng-invalid {
        border-color: initial !important;
        box-shadow: none;
        border: 1px solid;
      }
    }
  }
  #albumContainer,
  #videoContainer,
  .videoContainer {
    margin-top: 1rem;
  }
  #albumContainer,
  .videoContainer {
    .editProfileBtns {
      text-align: center;
      .fa-plus-circle {
        display: block;
      }
      .add_album {
        padding-top: 6rem;
        padding-bottom: 6rem;
        cursor: pointer;
        @media (max-width: $screen-xs-max) {
          padding-top: 1rem;
          padding-bottom: 1rem;
        }

        .edit-btns {
          margin-right: 0;
        }
      }
    }
    .editAlbumBtns {
      line-height: 2.5rem;
    }
    .memory-bg,
    .layout,
    .img-layout {
      position: relative;
      transition: all 0.5s ease;

      .img-layout {
        min-height: 200px;
        
        width: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        display: flex;
        display: -webkit-flex;
        -webkit-justify-content: space-around;
        -webkit-align-items: center;
        display: -ms-flexbox;
        -ms-flex-item-align: center;
        -ms-flex-line-pack: center;
        -ms-flex-align: center;
        -ms-flex-pack: center;
        align-items: center;
        justify-content: center;
      }

      .layout {
        position: absolute;
        width: 95%;
        height: 85%;
        background: none;

        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        display: flex;
        display: -webkit-flex;
        -webkit-justify-content: space-around;
        -webkit-align-items: center;
        display: -ms-flexbox;
        -ms-flex-item-align: center;
        -ms-flex-line-pack: center;
        -ms-flex-align: center;
        -ms-flex-pack: center;
        align-items: center;
        justify-content: center;
      }
      .title {
        text-align: center;
        //position: absolute;
        color: $white;
        text-transform: uppercase;
        font-size: 3rem;

        &.more {
          display: none;

          .edit-btns {
            padding-bottom: 0;
            font-size: 1.4rem;
            
            @media (min-width: $screen-sm-min) {
              padding-bottom: 1rem;
            }
          }
        }
        &.less {
          text-shadow: 2px 1px 5px black;
        }
      }
      &.album-list {
        margin-bottom: 1rem;
        overflow: hidden;
      }
      .more-options {
        .layout {
          background: rgba(255,255,255,0.9);
          cursor: pointer;
        }
        .title {
          color: $brand-dark;

          &.more {
            display: block;
          }
          &.less {
            display: none;
          }
        }
      }
      &:hover {
        .layout {
          background: rgba(255,255,255,0.9);
          cursor: pointer;
        }
        .title {
          color: $brand-dark;

          &.more {
            display: block;
          }
          &.less {
            display: none;
          }
        }
      }
      &.small {
        .editAlbumBtns {
          font-size: 0;
        }
      }
      .default-image-layout {
        height: 200px;
      }
      .default-image {
        height: 200px;
        width: auto;
        max-width: initial;
       
        @media (min-width: 668px) and (max-width: $screen-sm-min) {
          height: 250px;
        }
        @media (min-width: $screen-md-min) {
          height: auto;
          width: 100%;
        }
      }
    }
    .add_album {
      padding-top: 6rem;
      padding-bottom: 6rem;
      cursor: pointer;
    }
  }
  #albumContainer {
    .memory-bg {
      &.small {
        .editAlbumBtns {
          padding-top: 1rem;
        }
      }
    }
  }
  #albumContent {
    .album-thumbs {
      height: 117px;
      overflow: hidden;
      margin-bottom: 2rem;
      cursor: pointer;
      @media (max-width: $screen-sm-max) {
        text-align: center;
        height: 155px;
      }
	  @media (max-width: $screen-xs-max) {
        height: auto;
      }


      &.back {
        cursor: pointer;
        text-align: center;
        padding-top: 5rem;
        padding-bottom: 5rem;
		@media (max-width: $screen-xs-max) {
			padding-top: 1rem;
			padding-bottom: 0;
		}
      }
    }
  }
  #userInfoContainer {
    .editProfileBtns {
      text-align: left;
    }
  }
}
.editProfileBtns,
.editAlbumBtns {
  .edit-btns {
    display: inline-block;
    margin-right: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4rem;
    cursor: pointer;
    padding-bottom: 4rem;

    i {
      font-size: 1.8rem;
      margin-right: 0.5rem;
    }
    a {
      color: $brand-dark;
      position: relative;
      padding-left: 25px;

      &:hover,
      &:focus,
      &:visited {
        color: $brand-dark;
        text-decoration: none;
      }
      
      i {
        position: absolute;
        left: 0;
        top: 2px;
      }
    }
  }
}

/*Slider*/
.sliderContainer {
  &.slider {
    width: auto;
    height: auto;
    overflow: hidden;
    position: relative;

    img {
      margin: auto;
      margin-bottom: 20px;
    }
    .slide {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;

      h3 {
        text-align: center;
      }
      .editAlbumBtns {
        i {
          font-size: 1.8rem;
        }
      }
    }
    .nav {
      text-align: center;
      display: block;
      position: relative;
      z-index: 1002;
      left: 0;
      bottom: 0;
      right: 0;
      height: auto;
      margin: 0 150px;

      .wrapper {
        margin: 0 auto;
        width: 100%;
      }
      ul {
        padding: 0;
        margin: 0;
        width: 100%;
      }
      .dot, .dot a {
        position: relative;
        margin: 0 8px;
        width: 12px;
        height: 12px;
      }
    }
    .dots {
      .dot {
        position: relative;
        margin: 0 8px;
        width: 12px;
        height: 12px;
        display: inline-block;

        a {
          position: absolute;
          top: 2px;
          left: 2px;
          width: 10px;
          height: 10px;
          text-indent: 100%;
          white-space: nowrap;
          overflow: hidden;
          background: #bbb;
          border: 1px solid transparent;
          outline: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          -webkit-transition: background-color 0.25s, border-color 0.25s;
          -moz-transition: background-color 0.25s, border-color 0.25s;
          transition: background-color 0.25s, border-color 0.25s;

          &.active {
            border-color: transparent;
            background-color: #333;
          }
        }
      }
    }
    .fa {
      font-size: 30px;
      @media (max-width: $screen-sm-max) {
        font-size: 20px;
      }
    }
  }
  .editAlbumBtns {
    display: inline-block;
  }
}
.carousel-nav .arrow {
  position: absolute;
  z-index: 1002;
  display: block;
  top: 50%;
  margin-top: -35px;
  width: 36px;
  height: 43px;
  outline: none;
  cursor: pointer;
}
.arrow.prev,
.arrow.next {
  opacity: 0.5;
  text-shadow: 2px 1px 5px $white;
  transition: 0.2s linear all;

  &:hover {
    opacity: 1;
  }
}
.arrow.next {
  right: 22px;
}
.arrow.prev {
  left: 22px;
}
.carousel-control {
  &.left,
  &.right {
    background-image: none;
  }
}
.carousel-indicators {
  display: none;
}

.carousel-inner {
  img {
    margin: auto;
    margin-bottom: 20px;
  }
}
.fa-download {
  float: right;
}
.exceeded {
  color: $brand-red;
}
#chatPopup {
  textarea {
    width: 100%;
  }
}
.file-upload-info {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  border-top: 1px solid $gray-border;
  p {
    font-size: 1.2rem;
    color: $default-color;
    float: left;
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }
  }
}
#newAlbumForm {
  .privacy {
    .control-label {
      text-align: left;
      padding-top: 0;
      font-weight: normal;
    }
    input:nth-child(2) {
      margin-left: 2rem;

      &:before {
        display: block;
        content: '|';
        color: $gray;
        margin-left: -1.5rem;
        opacity: 0.4;
        font-size: 1.2rem;
        margin-top: -3px;
      }
    }
  }
}
.play-icon {
  width: 110px;
  height: 67px;
  display: block;
  background-image: url(../../img/play_buttons.png);
  background-repeat: no-repeat;
  background-position:  9px center;
  margin: auto;

  &.white {
    background-position:  -111px center;
  }
}
#myPage .videoContainer {
  .img-layout {
    overflow: hidden;
    &.no-thumb {
      background: $video-bg;
    }
    .youtube-img,
    .vimeo-img {
      width: inherit;

      img {
        width: 100%;
      }
    }
  }
  .editProfileBtns {
    &.add-btns {
      padding-top: 4rem;
      padding-bottom: 4rem;
      @media (max-width: $screen-phone) {
        padding-top: 1rem;
        padding-bottom: 0;
      }
      i {
        display: inline-block;
      }
      .edit-btns {
        margin-right: 0;
        padding-bottom: 2rem;
      }
    }
  }
  .small {
    .youtube-img,
    .vimeo-img {
      img {
        @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
          width: auto;
          height: 200px;
          max-width: none;
          float: right;
        }
      }
    }
  }
}
