#loginPage {
  h3 {
    margin-bottom: 0;
  }
  margin-bottom: 3rem;
  form {
    width: 65%;
    margin: auto;
    font-size: 1.4rem;

    .f_pass label {
      cursor: pointer;
      font-weight: normal;
    }
  }
  .pull-left,
  .pull-right {
    @media (max-width: $screen-xs-max) {
      float: none !important;
    }
  }
  .pull-right {
    @media (max-width: $screen-xs-max) {
      text-align: center;
    }
  }
}
#registerPage,
#adminGeneticTree {
  h4 {
    &.main {
      display: inline-block;
    }
  }
  img{
    //max-width: 50px;
    //max-height: 50px;
  }
  label {
    margin-right: 1.5rem;
  }
  hr {
    width: 50%;
    margin-left: 0;
    border-top-width: 2px;
  }
  textarea.form-control {
    height: 13rem;
  }
  .calendar {
    input {
      border-right: none;

      &:focus {
        outline-width: 0;
      }

      .ng-valid {
        .icon {
          border-right: 1px solid $brand-dark;
          border-top: 1px solid $brand-dark;
          border-bottom: 1px solid $brand-dark;
        }
      }
    }

    .icon {
      height: 4.8rem;
      border-right: 1px solid $brand-dark;
      border-top: 1px solid $brand-dark;
      border-bottom: 1px solid $brand-dark;
      border-left: none;
      border-radius: 0;

      &:hover,
        &:focus {
        background: $white;
      }
    }
    .ng-invalid {
      + span {
        background: red;

        .icon {
          border-right: 1px solid $brand-red !important;
          border-top: 1px solid $brand-red;
          border-bottom: 1px solid $brand-red;
        }
      }
    }
    .btn-info,
    .btn-success,
    .btn-danger {
      &.btn-sm {
        padding: 0.5rem 1rem;
        font-weight: bold;
        border-width: 2px;
        text-transform: uppercase;
        margin-top: 0;
      }
    }
    .btn-danger {
      margin-left: 0.5rem;
    }
  }
  .buttons {
    @media (max-width: $screen-xs-max) {
      text-align: center;
    }
  }
  select {
    padding-right: 2.3rem;
    background-color: $white;
    background-image: url(../../img/arrow_reg.png);
  }
  .profile-pic {
    min-height: 55px;
    vertical-align: top;
    margin-right: 2rem;
  }
}
#passwordMatchMessage{
  color: #FF0000;
}
.reg-inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.reg-inputfile + label {
  color: $brand-dark;
  border: 2px solid $brand-dark;
  max-width: 80%;
  font-size: 1.4rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.8rem 2.5rem;
  height: 3.8rem;
  margin-right: 1rem !important;
}
.reg-inputfile + label * {
  pointer-events: none;
}
.inputfile-text {
  float: right;
  margin-top: 0.8rem;
  width: 63%;
  @media (max-width: $screen-md-max) {
    width: 60%;
    margin-top: 0;
  }
  @media (max-width: $screen-sm-max) {
    width: 55%;
    margin-top: 0;
  }
}
#mainPageDetail,
#guessBook,
#entertainingBookPage,
#treePage,
#chat {
  .pageHeader {
    @media (max-width: $screen-xs-max) {
      min-height: 142px;
    }
    @media (min-width: $screen-sm-min) {
      min-height: 142px;
    }
    @media (min-width: $screen-md-min) {
      min-height: 190px;
    }
    @media (min-width: $screen-lg-min) {
      min-height: 260px;
    }
  }
}

body.mobile-list-opened {
  overflow: hidden;
}

.coll-list-header {
  background-color: $brand-red;
  padding: 28px 0;
}
.coll-list {
  background-color: $brand-red;
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  width: 30px;
  height: 53px;
  border-radius: 100% / 50%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  &.close-list {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 5;
    font-size: 16px;
  }
  &.open-list {
    position: fixed;
    z-index: 5;
  }
  .fa {
    margin-top: 20px;
  }
}

.forumList, 
.articleList {
  .forum-pagination {
    margin: 0 auto;
    text-align: center;
  }
  @media (max-width: $screen-xs-max) {
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
    border-right: none;
    position: fixed;
    top: 0;
    width: 100% !important;
    height: 100%;
    z-index: 101 !important;
    padding: 0;

    ul {
      padding: 0 15px;
    }

    /*> .row {
      height: 100%;
    }*/
  }
}


#mainPageDetail {
  #detailContent {
    line-height: 2.4rem;
    h4 {
      line-height: 2.4rem;
    }
    p {
      font-size: 1.8rem;
    }
  }
  .footer-block {
    h1 {
      margin: 0 0 1rem 0;
    }
    p {
      margin-bottom: 3.5rem;
    }
  }
}
#detailSideBar,
#adminSideBar {
  margin-top: 1rem;
  ul {
    li {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 20px;
      padding-right: 20px;
      border-bottom: 1px solid $gray-border;
      text-transform: uppercase;
      a {
        color: $brand-dark;
        display: block;
        &:hover {
          text-decoration: none;
        }
        i {
          display: none;
        }
      }
      &:hover {
        padding-left: 18px;
        background: $menu-grey-bg;
        border-left: 2px solid $brand-red;
        font-weight:bold;

        a {
          color: $brand-red;
        }
      }
      &:first-child {
        border-top: 1px solid $gray-border;
      }
      &.active {
        position: relative;
        background: $brand-red;
        padding-left: 20px;
        border-left: none;
        font-weight:bold;
        a {
          color: $tree-name-color;
          position: relative;

          i {
            display: inline-block;
            position: absolute;
            right: 0;
            top: 3px;
          }
        }
      }
      &.not-menu-item {
        &:hover {
          padding-left: 20px;
          border-left: none;
        }
      }
    }
  }
}
#mainPage {
  font-size: 1.8rem;
  .pageHeader {
    @media (max-width: $screen-xs-max) {
      min-height: 285px;
    }
    @media (min-width: $screen-sm-min) {
      min-height: 285px;
    }
    @media (min-width: $screen-md-min) {
      min-height: 369px;
    }
    @media (min-width: $screen-lg-min) {
      min-height: 486px;
    }
  }
  .shortContent,
  .shortContent h4 {
    line-height: 2.5rem;
  }
  ul {
    margin-top: 1rem;

    li {
      margin-bottom: 1rem;
      &:nth-child(-n+2) {
        //margin-bottom: 1rem;
      }
      .rightAligned {
        @media (min-width: $screen-md-min) {
          float: right;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
      &.grey {
        .row {
          background: url(../../img/gray-bg.jpg) #ecebe7;
        }
      }

      .text-part {
        padding-top: 3rem;
        padding-bottom: 5rem;
        line-height: 2.5rem;

        h1 {
          margin-bottom: 0;

          @media (max-width: $screen-sm-max) {
            text-align: center;
          }
        }
        h4 {
          line-height: 2.5rem;
        }
      }
      .readMoreDiv {
        margin-top: 3rem;

        @media (max-width: $screen-xs-max) {
          margin-top: 2rem;
        }
        @media (max-width: $screen-sm-max) {
          text-align: center;
        }

        .btn-success {
          padding: 1.4rem 3.5rem;
        }
      }
      .btn-info {
        padding: 1.3rem 3.5rem;
      }
      .overlay-layout{
        position: relative;
      }
      .overlay {
        position: absolute;
        text-align: center;
        width: 80%;
        height: 75%;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        color: $white;
        overflow: hidden;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: center;
        -webkit-justify-content: space-around;
        @media (min-width: $screen-lg-min) {
          width: 72%;
          height: 78%;
        }

        @media (max-width: $screen-sm-max) {
          font-size: 3rem;
        }
        @media (max-width: $screen-xs-max) {
          height: 72%;
        }
        @media (max-width: $screen-phone) {
          width: 100%;
        }

        h1 {
          color: $white;
          margin-bottom: 2rem;
          margin-top: 1rem;

          @media (min-width: $screen-sm-min) {
            font-size: 6rem;
          }
          @media (max-width: $screen-sm-max) {
            font-size: 4rem;
            margin-bottom: 1rem;
          }
          @media (max-width: $screen-xs-max) {
            display: none;
          }
        }
        .shortContent,
        .shortContent h4 {
          @media (max-width: $screen-sm-max) {
            font-size: 2rem;
          }
          @media (max-width: $screen-xs-max) {
            font-size: 1.8rem;
          }
        }
        .shortContent {
          display: block;
          @media (max-width: $screen-phone) {
            display: none;
          }
          &.link {
            display: none;
            @media (max-width: $screen-phone) {
              display: block;
            }
            a {
              color: $white;
              text-decoration: underline;
            }
          }
        }
        .rgb-layout {
          background: rgba(0, 0, 0, 0.4);
          padding: 2rem 5rem;
          @media (max-width: $screen-xs-max) {
            padding: 1rem 1rem;
          }
        }
        .readMoreDiv {
          @media (max-width: $screen-sm-max) {
            margin-top: 1rem;
          }
          @media (max-width: $screen-xs-max) {
            display: none;
          }
        }
      }
      .rightAlignedText {
        @media (min-width: $screen-md-min) {
          padding-left: 30px;
        }
      }
      .leftAlignedText {
        @media (min-width: $screen-md-min) {
          padding-right: 30px;
        }
      }
    }
  }
  img {
    width: 100%;
  }
}
#entertainingBookPage {
  #articleList {
    padding: 0;
    
    .book-list {
      padding-left: 15px;
      padding-right: 15px;
      border-left: 1px solid $gray-border;
    }
  }
  .nav-buttons {
    border-bottom: none !important;
  }
  .contentPart {
    @include search_input_style($brand-red, $white, $brand-red);
    border-top: none !important;
    
    .articleContent {
      @media (min-width: $screen-md-min) {
        padding-left: 25px;
      }
      
      h2.title {
        margin-top: 0;
      }
      ul {
        li {
          &:first-child {
            padding-top: 0 !important;
          }
        }
      }
    }
  }
  .search-form {
    background-color: $brand-red;
    margin: 0;
    padding: 10px;
    
    input {
      background: none;
      height: 33px;
      padding-left: 35px;
      border: none;
      box-shadow: none;
      outline: none;
      padding-right: 7px;
      color: #ffffff;
    }
    .fa-search {
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      border: 0 none;
      font-size: 20px;
      padding: 2px 5px;
      position: absolute;
      left: 0;
      z-index: 4;
    }
  }
}
ul.blueTab {
  display: inline-block;
  margin-left: 2rem;

  li {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 1rem;
    &.active {
      a {
        color: $brand-red;
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }
    }
    a {
      font-weight: bold;
      &:hover {
        text-decoration: none;
      }
    }
    &:after {
      display: inline-block;
      content: '|';
      color: $gray;
      margin-left: 1rem;
      opacity: 0.4;
      font-size: 1.2rem;
    }
    &:last-child {
      &:after {
        content: '';
      }
    }
  }
  &.lang {
    margin-left: 0;
    li {
      &:after {
        margin-left: 0.3rem;
      }
    }
  }
}
#treePage {
  .treeContent {
    @include search_input_style(transparent, $default-color, $brand-dark);
    .form-group .fa-search {
      position: absolute;
      top: 50%;
      height: 15px;
      margin-top: -7px;
    }
  }
  .tree {
    margin-top: 2rem;
    margin-bottom: 2rem;

    li {
      .selected {
        a {
          background-color: $brand-red;
          border-color: $brand-red;
          background: $brand-red;
          border-radius: 15px;
          padding: 6px 4px;

          .userTreeInfo {
            .name {
              color: $tree-name-color;
            }
            .date {
              color: $white;
            }
          }
          img {
            border: 2px solid $white;
          }
        }
      }
      a {
        background: $tree-bg;
        border-color: $tree-border;
        img {
          border-radius: 50%;
          @media (min-width: $screen-sm-min) {
            display: table-cell;
          }
        }
      }
    }
    .item-content {
      @media (min-width: $screen-sm-min) {
        display: table;
      }
    }
    .userTreeInfo {
      @media (min-width: $screen-sm-min) {
        display: table-cell;
        padding-left: 1rem;
      }
      .name {
        color: $brand-dark;
        font-size: 1.4rem;
        font-weight: bold;
      }
      .date {
        text-align: left;
        color: $default-color;
      }
      p:first-child {
        margin-bottom: 0;
      }
    }
  }
}
#adminPage {
  #adminSideBar {
    ul {
      li {
        overflow: hidden;
      }
    }
  }
  #adminUsers {
    table {
      tr {
        cursor: pointer;
      }
      td {
        &.sorting {
          position: relative;
          input {
            width: 80%;
            float: right;
          }
          select {
            width: 87%;
            float: right;
          }
          span {
            position: absolute;
            width: 14px;
            height: 14px;
            top: 0;
            bottom: 0;
            margin: auto;

            &.fa {
              cursor: pointer;
            }
          }
        }
        .btn-danger {
          margin-bottom: 5px;
          margin-right: 2px;
        }
        .btn-success {
          padding: 6px 11px;
          margin-left: 0;
        }
      }
    }
  }
  select {
    background-color: $white;
  }
  #adminForum {
    #forumTable {
      tr {
        td,
        th {
          &:last-child {
            width: 15%;
          }
        }
      }
    }
  }
  .blueTab {
    margin-bottom: 2rem;
  }
}
form[name="passwordForm"] {
  width: 65%;
  margin: auto;
  font-size: 1.4rem;
}