<div class="modal-header">
    <button type="button" class="close fa fa-times" data-dismiss="modal" ng-click="$close()"></button>
</div>
<div class="modal-body">
    <div class="container-fluid ">
        <form class="form-horizontal" role="form" id="newAlbumForm" name="newAlbumForm">
            <div class="row lang-area">
                <div class="col-sm-8 col-xs-8">
                    <p class="description">{{'popup_all_languages_title' | translate}}:</p>
                    <!--<p ng-if="variables.mode != 'edit'" class="description">{{'my_page_new_album_form_title' | translate}}</p>
                    <p ng-if="variables.mode == 'edit'" class="description">{{'my_page_user_album_edit' | translate}}</p>-->
                </div>
                <div class="col-sm-4 col-xs-4">
                    <ul ng-init="tab = 1" class="blueTab lang" >
                        <li ng-class="{active:tab===1}">
                            <a href ng-click="tab = 1">{{ 'lang_en' | translate }}</a>
                        </li>
                        <li ng-class="{active:tab===2}">
                            <a href ng-click="tab = 2">{{ 'lang_ru' | translate }}</a>
                        </li>
                        <li ng-class="{active:tab===3}">
                            <a href ng-click="tab = 3">{{ 'lang_am' | translate }}</a>
                        </li>
                    </ul>
                </div>
            </div>

    <div class="form-group">
        <div class="col-sm-12">
          <input ng-show="tab == 3" ng-model="variables.album._languageData.am.name"   placeholder="{{ 'my_page_new_album_form_album_name' | translate }}" class="form-control" ng-required="scopeModalCheckRequired(variables.album._languageData, ['name'])" >
          <input ng-show="tab == 2" ng-model="variables.album._languageData.ru.name"   placeholder="{{ 'my_page_new_album_form_album_name' | translate }}" class="form-control" ng-required="scopeModalCheckRequired(variables.album._languageData, ['name'])" >
          <input ng-show="tab == 1" ng-model="variables.album._languageData.en.name"   placeholder="{{ 'my_page_new_album_form_album_name' | translate }}" class="form-control" ng-required="scopeModalCheckRequired(variables.album._languageData, ['name'])" >
        </div>
    </div>
    <div class="form-group privacy">
        <label  class="col-sm-2 control-label">{{ 'my_page_new_album_form_album_privacy' | translate }}:</label>
        <div class="col-sm-10">
            <input type="radio"  ng-model="variables.album.is_public"   value="1"   > {{ 'my_page_new_album_form_album_public' | translate }}
            <input type="radio"  ng-model="variables.album.is_public"   value="0"  > {{ 'my_page_new_album_form_album_private' | translate }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <button type="submit"  class="btn btn-success" ng-click="submitNewAlbumForm()" ng-disabled="!newAlbumForm.$valid">{{ 'contact_us_form_submit' | translate }}</button>
        </div>
    </div>

    </form>
    </div>
</div>