<div class="modal-header">
    <button type="button" class="close fa fa-times" data-dismiss="modal" ng-click="$close()"></button>
</div>
<div class="modal-body">
    <div class="container-fluid ">
        <form class="form-horizontal" role="form" id="newAlbumPictureForm" name="newAlbumPictureForm">
            <div class="row lang-area">
                <div class="col-sm-8 col-xs-8">
                    <p class="description">{{'popup_all_languages_title' | translate}}:</p>
                    <!--<p ng-if="variables.mode != 'edit'" class="description">{{'my_page_new_album_picture_form_title' | translate}}</p>
                    <p ng-if="variables.mode == 'edit'" class="description">{{'my_page_new_album_picture_edit_form_title' | translate}}</p>-->
                </div>
                <div class="col-sm-4 col-xs-4">
                    <ul ng-init="tab = 1" class="blueTab lang" >
                        <li ng-class="{active:tab===1}">
                            <a href ng-click="tab = 1">{{ 'lang_en' | translate }}</a>
                        </li>
                        <li ng-class="{active:tab===2}">
                            <a href ng-click="tab = 2">{{ 'lang_ru' | translate }}</a>
                        </li>
                        <li ng-class="{active:tab===3}">
                            <a href ng-click="tab = 3">{{ 'lang_am' | translate }}</a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-12">
                    <img  ng-if="variables.mode == 'edit'" ng-src="../{{variables.albumPicture.path}}"  width="50" height="50">
                    <input class="reg-inputfile" ng-if="variables.mode != 'edit'" type="file" ng-model="variables.imageFile" fileread="vm.uploadme" id="pictureField" name="imageFile" onchange="angular.element(this).scope().setFile(this)" valid-image-file required>
                    <label for="pictureField" ng-if="variables.mode != 'edit'">
                        <span>{{ 'register_form_profile_picture' | translate }}</span>
                    </label>
                    <span class="inputfile-text" ng-if="variables.fileObject">{{variables.fileObject.name}}</span>
                    <span class="inputfile-text" ng-if="!variables.fileObject && variables.mode != 'edit'">{{'contact_us_form_file' | translate}}</span>
                </div>
            </div>
            <div class="file-upload-info" ng-if="variables.mode != 'edit'">
                <p ng-if="variables.mode != 'edit'" class="help-text upload">{{ 'my_page_album_picture_size_limit' | translate }} {{variables.max_upload}}</p>
                <p ng-if="variables.mode != 'edit'" class="help-text upload">{{ 'my_page_album_picture_help_text' | translate }}</p>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                  <input ng-show="tab == 3" ng-model="variables.albumPicture._languageData.am.description" placeholder="{{ 'my_page_new_album_form_picture_description' | translate }}" class="form-control" ng-required="scopeModalCheckRequired(variables.albumPicture._languageData, ['description'])">
                  <input ng-show="tab == 2" ng-model="variables.albumPicture._languageData.ru.description" placeholder="{{ 'my_page_new_album_form_picture_description' | translate }}" class="form-control" ng-required="scopeModalCheckRequired(variables.albumPicture._languageData, ['description'])">
                  <input ng-show="tab == 1" ng-model="variables.albumPicture._languageData.en.description" placeholder="{{ 'my_page_new_album_form_picture_description' | translate }}" class="form-control" ng-required="scopeModalCheckRequired(variables.albumPicture._languageData, ['description'])">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit"  class="btn btn-success" ng-click="submitNewAlbumPictureForm()" ng-disabled="!newAlbumPictureForm.$valid || newAlbumPictureForm.$pending">{{ 'contact_us_form_submit' | translate }}</button>
                </div>
            </div>
        </form>
    </div>
</div>