<button type="button" class="close modal-btn" data-dismiss="modal" ng-click="$close()">&times;</button>
<div id="pictureInfoPopup" >
    <h3>{{variables.picture.description}}</h3>
    <div>
      bla
       <img  ng-src="../{{variables.picture.path}}" >
   </div>
    <button  class="btn btn-blue" ng-click="editPicture()">{{ 'my_page_album_picture_info_edit' | translate }}</button>
    <button  class="btn btn-blue" ng-click="removePicture()">{{ 'my_page_album_picture_info_remove' | translate }}</button>
</div>