<div class="modal-header">
  <button type="button" class="close fa fa-times" data-dismiss="modal" ng-click="$close()"></button>
</div>
<div class="modal-body">
  <div class="sliderContainer slider">
    <div class="slider-inner">
      <div ng-repeat="slide in variables.albumPictures" class="slide slide-animation nonDraggableImage"
           ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
           ng-hide="!isCurrentSlideIndex($index)">
        <h3>{{slide.description}}</h3>
        <img  ng-src="{{slide.bigPath}}" alt="{{slide.description}}" class="img-responsive pic" >

        <div class="editAlbumBtns" ng-if="variables.user_details.userId == variables.user_details.currentUser.id || variables.user_details.currentUser.role == 1">
          <div  class="edit-btns" ng-click="editPicture($index)">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            {{ 'my_page_album_picture_info_edit' | translate }}
          </div>
          <div  class="edit-btns" ng-click="removePicture($index)">
            <i class="fa fa-times" aria-hidden="true"></i>
            {{ 'my_page_album_picture_info_remove' | translate }}
          </div>
        </div>
        <a class="fa fa-download" href="{{slide.originPath}}" download target="_new"></a>
      </div>

      <div class="carousel-nav">
        <span class="arrow prev" ng-click="nextSlide()"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
        <span class="arrow next " ng-click="prevSlide()"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
      </div>

      <nav class="nav">
        <div class="wrapper">
          <ul class="dots">
            <li class="dot" ng-repeat="slide in variables.albumPictures">
              <a ng-class="{'active':isCurrentSlideIndex($index)}"
                 ng-click="setCurrentSlideIndex($index);">{{slide.description}}</a></li>
          </ul></div>
      </nav>
    </div>
  </div>
</div>