<div class="modal-header">
  <button type="button" class="close fa fa-times" data-dismiss="modal" ng-click="$close()"></button>
</div>
<div class="modal-body">
  <div id="chatPopup">
    <h3 class="text-center">
      Send message to {{variables.recipient_first_name}}
    </h3>
    <form role="form" name='sendMessageForm'>
      <div class="form-group">
        <textarea name="message" id="chat-message" ng-model="form.message" required></textarea>
      </div>
      <div class="form-group">
        <button type="reset"  class="btn btn-success" ng-click="cancelFormSubmt()" ng-disabled="variables.form_status == 'active'">{{ 'admin_cancel' | translate }}</button>
        <button type="submit" class="btn btn-success {{variables.form_status}}" ng-click="sendMessage()" id="sendFirstMsgsubmit" ng-disabled="!sendMessageForm.$valid || variables.form_status == 'active'">{{ 'contact_us_form_submit' | translate }}</button>
      </div>
    </form>
  </div>
</div>
