<div class="text-center">
  <h4 ng-if="variables.confirmText == 'relDelete'" class="centerAligned">{{ 'my_page_children_delete_confirmation' | translate}}</h4>
  <h4 ng-if="variables.confirmText == 'albumDelete'" class="centerAligned">{{'my_page_album_delete_confirmation' | translate}}</h4>
  <h4 ng-if="variables.confirmText == 'picDelete'" class="centerAligned">{{'my_page_picture_delete_confirmation' | translate}}</h4>
  <h4 ng-if="variables.confirmText == 'videoDelete'" class="centerAligned">{{'my_page_video_delete_confirmation' | translate}}</h4>
  <h4 ng-if="variables.confirmText == 'rejectUser'" class="centerAligned">{{'admin_form_reject_confirm' | translate}}</h4>
  <button type="submit"  class="btn btn-success" ng-click="confirm()" class="btn btn-success">{{ 'register_form_sign_in' | translate }}</button>
  <button class="btn btn-success" data-dismiss="modal" ng-click="close()">{{ 'forgot_password_close' | translate}}</button>
</div>