<div class="modal-header">
    <button type="button" class="close fa fa-times" data-dismiss="modal" ng-click="$close()"></button>
</div>
<div class="modal-body">
    <div class="container-fluid ">
        <form class="form-horizontal" role="form" name="addTreeForm">
            <h3 class="text-center">{{ 'admin_delete_from_tree' | translate }}</h3>

            <div class="form-group">
                <div class="">
                    <h4>{{variables.user.first_name}} {{variables.user.last_name}}</h4>
                </div>
                <div class="">
                    {{ 'admin_delete_from_tree_text' | translate }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12 text-center">
                    <button type="submit"  class="btn btn-success" ng-click="deleteFromTree()" class="btn btn-success">{{ 'admin_delete' | translate }}</button>
                    <button type="submit"  class="btn btn-success" ng-click="cancelFormSubmt()" class="btn btn-success">{{ 'admin_cancel' | translate }}</button>
                </div>
            </div>
        </form>
    </div>
</div>

