<div id="myPage">
    <div class="special-content">
    <h3 class="text-center  ng-binding">{{variables.user.first_name}} {{variables.user.last_name}}</h3>
    <div id="userInfoContainer" class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-xs-12" ng-if="variables.user.avatar_bigPath && variables.user.avatar_bigPath != ''">
                <img ng-src="{{variables.user.avatar_bigPath}}" id="profilePicture" class="img-responsive">
            </div>
            <div ng-class="{'col-lg-8 col-md-8 col-sm-8 col-xs-12': variables.user.avatar_bigPath && variables.user.avatar_bigPath != '' ,'col-lg-12 col-md-12 col-sm-12 col-xs-12': !variables.user.avatar_bigPath}">
                <div class="row personal-info">
                    <div class="col-sm-5 ">
                        <p ng-if="variables.user.birth_date !=undefined">
                            <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                            <span class="info-label">{{ 'my_page_user_birth_date' | translate }}: </span>
                            <span>{{variables.user.birth_date | date}}</span>
                        </p>
                        <p ng-if="variables.user.dead_date !=undefined">
                            <span class="info-label">{{ 'my_page_user_dead_date' | translate }} :</span>
                            <span>{{variables.user.dead_date | date}}</span>
                        </p>
                        <p ng-if="variables.user.birth_place !='' && variables.user.birth_place !=undefined">
                            <i class="fa fa-map" aria-hidden="true"></i>
                            <span class="info-label">{{ 'my_page_user_birth_place' | translate }} :</span>
                            <span >{{variables.user.birth_place}}</span>
                        </p>
                        <p ng-if="variables.user.countryName !='' && variables.user.countryName !=undefined">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                            <span class="info-label">{{ 'my_page_user_country' | translate }} :</span>
                            <span>{{variables.user.countryName}}</span>
                        </p>
                        <p ng-if="variables.user.city !='' && variables.user.city !=undefined">
                            <i class="fa fa-building" aria-hidden="true"></i>
                            <span class="info-label">{{ 'my_page_user_city' | translate }} :</span>
                            <span>{{variables.user.city}}</span>
                        </p>
                        <p ng-if="variables.user.education !='' && variables.user.education !=undefined">
                            <i class="fa fa-university" aria-hidden="true"></i>
                            <span class="info-label">{{ 'my_page_user_education' | translate }} :</span>
                            <span>{{variables.user.education}}</span>
                        </p>
                        <p ng-if="variables.user.profession !='' && variables.user.profession !=undefined">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            <span class="info-label">{{ 'my_page_user_profession' | translate }} :</span>
                            <span >{{variables.user.profession}}</span>
                        </p>

                    </div>
                    <div class="col-sm-7">
                        <p ng-if="variables.user.email !=''">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span class="info-label">{{ 'my_page_user_email' | translate }} :</span>
                            <span>{{variables.user.email}}</span>
                        </p>
                        <p ng-if="variables.user.phone !='' && variables.user.phone != null">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span class="info-label">{{ 'my_page_user_phone' | translate }} :</span>
                            <span>{{variables.user.phone}}</span>
                        </p>
                        <p ng-if="variables.user.skype !='' && variables.user.skype != null">
                            <i class="fa fa-skype" aria-hidden="true"></i>
                            <span class="info-label">{{ 'my_page_user_skype' | translate }} :</span>
                            <span>{{variables.user.skype}}</span>
                        </p>
                        <p ng-if="variables.user.viber !='' && variables.user.viber != null">
                            <i class="fa fa-phone-square" aria-hidden="true"></i>
                            <span class="info-label">{{ 'my_page_user_viber' | translate }} :</span>
                            <span>{{variables.user.viber}}</span>
                        </p>
                        <p ng-if="variables.user.whatsapp !='' && variables.user.whatsapp != null">
                            <i class="fa fa-whatsapp" aria-hidden="true"></i>
                            <span class="info-label">{{ 'my_page_user_whatsapp' | translate }} :</span>
                            <span>{{variables.user.whatsapp}}</span>
                        </p>
                    </div>
                 </div>
                <div class="row tree-buttons">
                    <div class="col-sm-12">
                        <div ng-if="variables.currentUser.role == 1">
                            <div class="userAddUpdateTreeBtns" ng-if="variables.currentUser.role == 1 && variables.included_in_tree == 0">
                                <button  class="btn btn-primary" ng-click="addUserToTree()">{{ 'admin_add_to_tree' | translate }}</button>
                                <button  class="btn btn-primary" ng-click="mergeUserToTree()">{{ 'admin_merge_to_tree' | translate }}</button>
                            </div>
                            <div class="userAddUpdateTreeBtns" ng-if="variables.currentUser.role == 1 && variables.included_in_tree == 1">
                                <button  class="btn btn-primary" ng-click="deleteUserFromTree()">{{ 'admin_delete_from_tree' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row chat-buttons">
                    <div class="col-sm-12">
                        <div class="sendMessageBtn" ng-if="variables.user.id !== variables.currentUser.id">
                            <button  class="btn btn-success" ng-click="openChat()">{{ 'chat' | translate }}</button>
                        </div>
                    </div>
                </div>
                <div class="row editProfileBtns">
                    <div class="headerBar col-sm-12">
                        <div ng-if="variables.user.id == variables.currentUser.id || variables.currentUser.role == 1">
                            <div  ng-click="addCouple()" class="edit-btns">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                <span>{{ 'my_page_add_wife' | translate }}</span>
                            </div>
                            <div  ng-click="addChild()" class="edit-btns">
                                <i class="fa fa-child" aria-hidden="true"></i>
                                <span>{{ 'my_page_add_child' | translate }}</span>
                            </div>
                            <div  ng-click="editProfile()" class="edit-btns">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                <span>{{ 'my_page_user_edit' | translate }}</span>
                            </div>
                            <div  ng-click="editPassword()" class="edit-btns">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                                <span>{{ 'my_page_password_edit' | translate }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <ul class="nav nav-pills nav-stacked">
            <li ng-class="{ active: isSet(1) }">
                <a href ng-click="setTab(1)">{{'register_form_biography' | translate}}</a>
            </li>
            <li ng-class="{ active: isSet(2) }">
                <a href ng-click="setTab(2)">{{'my_page_album' | translate}}</a>
            </li>
            <li ng-class="{ active: isSet(3) }">
                <a href ng-click="setTab(3)">{{'my_page_videos' | translate}}</a>
            </li>
        </ul>
    </div>

    <div id="biography" ng-show="isSet(1)" class="container-fluid">
        <h4 ng-if="(variables.user.biography =='' || variables.user.biography == null) && (variables.user.couple.length < 1) && (variables.user.children.length < 1)">{{'my_page_empty_info' | translate}}</h4>
        <div class="row">
            <div class="col-sm-12 biographyField" ng-if="variables.user.biography !='' && variables.user.biography != null">
                <span>{{variables.user.biography}}</span>
            </div>
        </div>

        <!--Wife Info-->
        <div ng-if="variables.user.couple != ''" id="coupleInfoContainer">
            <div ng-repeat="couple in variables.user.couple">
                <div class="row">
                    <div class="col-sm-4 col-xs-12" ng-if="couple.avatar_bigPath && couple.avatar_bigPath != ''">
                        <img  ng-src="{{couple.avatar_bigPath}}" class="img-responsive">
                    </div>
                    <div ng-class="{'col-lg-8 col-md-8 col-sm-8 col-xs-12 relatives_info': couple.avatar_bigPath && couple.avatar_bigPath != '' ,'col-lg-12 col-md-12 col-sm-12 col-xs-12': !couple.avatar_bigPath}">
                        <p class="userInfoTitle">{{'my_page_user_couple' | translate}}</p>
                        <p class="fieldName">{{couple.first_name}} {{couple.last_name}}</p>
                        <div class="row personal-info">
                            <div class="col-sm-5">
                                <p ng-if="couple.birth_date !=undefined">
                                    <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                                    <span class="info-label">{{ 'my_page_user_birth_date' | translate }}:</span>
                                    <span>{{couple.birth_date | date}}</span>
                                </p>
                                <p ng-if="(couple.birth_place !='' && couple.birth_place != null)">
                                    <i class="fa fa-map" aria-hidden="true"></i>
                                    <span class="info-label">{{ 'my_page_user_birth_place' | translate }}:</span>
                                    <span>{{couple.birth_place}}</span>
                                </p>
                                <p ng-if="couple.countryName !='' && couple.country !='0' && couple.country != null">
                                    <i class="fa fa-globe" aria-hidden="true"></i>
                                    <span class="info-label">{{ 'my_page_user_country' | translate }}:</span>
                                    <span>{{couple.countryName}}</span>
                                </p>
                                <p ng-if="couple.city !='' && couple.city != null">
                                    <i class="fa fa-building" aria-hidden="true"></i>
                                    <span class="info-label">{{ 'my_page_user_city' | translate }}:</span>
                                    <span>{{couple.city}}</span>
                                </p>
                                <p ng-if="couple.education !='' && couple.education != null">
                                    <i class="fa fa-university" aria-hidden="true"></i>
                                    <span class="info-label">{{ 'my_page_user_education' | translate }}:</span>
                                    <span>{{couple.education}}</span>
                                </p>
                                <p ng-if="couple.profession !='' && couple.profession != null">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                    <span class="info-label">{{ 'my_page_user_profession' | translate }}:</span>
                                    <span>{{couple.profession}}</span>
                                </p>

                            </div>
                            <div class="col-sm-7">
                                <p ng-if="couple.email !='' && couple.email != null">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <span class="info-label">{{ 'my_page_user_email' | translate }}:</span>
                                    <span>{{couple.email}}</span>
                                </p>
                                <p ng-if="couple.phone !='' && couple.phone != null">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <span class="info-label">{{ 'my_page_user_phone' | translate }}:</span>
                                    <span>{{couple.phone}}</span>
                                </p>
                                <p ng-if="couple.skype !='' && couple.skype != null">
                                    <i class="fa fa-skype" aria-hidden="true"></i>
                                    <span class="info-label">{{ 'my_page_user_skype' | translate }}:</span>
                                    <span>{{couple.skype}}</span>
                                </p>
                                <p ng-if="couple.viber !='' && couple.viber != null">
                                    <i class="fa fa-phone-square" aria-hidden="true"></i>
                                    <span class="info-label">{{ 'my_page_user_viber' | translate }}:</span>
                                    <span>{{couple.viber}}</span>
                                </p>
                                <p ng-if="couple.whatsapp !='' && couple.whatsapp != null">
                                    <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                    <span class="info-label">{{ 'my_page_user_whatsapp' | translate }}:</span>
                                    <span>{{couple.whatsapp}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 biographyField" ng-if="couple.biography !='' && couple.biography != null">
                        <p>{{couple.biography}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center relatives_info editProfileBtns" ng-class="{'col-lg-4 col-md-4 col-sm-8 col-xs-12': couple.avatar_bigPath && couple.avatar_bigPath != '' ,'col-sm-12': !couple.avatar_bigPath}" ng-if="variables.user.id == variables.currentUser.id || variables.currentUser.role == 1">
                        <div class="edit-btns ng-binding" ng-click="editCouple($index)">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            <span>{{ 'my_page_user_edit' | translate }}</span>
                        </div>
                        <div class="edit-btns ng-binding" ng-click="removeCouple($index)">
                            <i class="fa fa-times" aria-hidden="true"></i>
                            <span>{{ 'my_page_delete' | translate }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Children Info-->
        <div ng-if="variables.user.children != ''" id="childrenInfoContainer">
            <div ng-repeat="child in variables.user.children">
                <div class="row">
                    <div class="col-sm-4 col-xs-12"  ng-if="child.avatar_bigPath && child.avatar_bigPath != ''">
                        <img ng-src="{{child.avatar_bigPath}}" class="img-responsive">
                    </div>
                    <div ng-class="{'col-lg-8 col-md-8 col-sm-8 col-xs-12 relatives_info': child.avatar_bigPath && child.avatar_bigPath != '' ,'col-lg-12 col-md-12 col-sm-12 col-xs-12': !child.avatar_bigPath}">
                        <p ng-if="child.sex == 1" class="userInfoTitle">{{'my_page_son' | translate}}</p>
                        <p ng-if="child.sex == 0" class="userInfoTitle">{{'my_page_daughter' | translate}}</p>
                        <p class="fieldName">{{child.first_name}} {{child.last_name}}</p>
                        <div class="row personal-info">
                            <div class="col-sm-5">
                                <p ng-if="child.birth_date !=undefined">
                                    <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                                    <span class="info-label">{{ 'my_page_user_birth_date' | translate }} :</span>
                                    <span>{{child.birth_date | date}}</span>
                                </p>
                                <p ng-if="child.birth_place !='' && child.birth_place != null">
                                    <i class="fa fa-map" aria-hidden="true"></i>
                                    <span class="info-label">{{ 'my_page_user_birth_place' | translate }} :</span>
                                    <span>{{child.birth_place}}</span>
                                </p>
                                <p ng-if="child.countryName !='' && couple.country !='0' && child.countryName != null">
                                    <i class="fa fa-globe" aria-hidden="true"></i>
                                    <span class="info-label">{{ 'my_page_user_country' | translate }} :</span>
                                    <span>{{child.countryName}}</span>
                                </p>
                                <p ng-if="child.city !='' && child.city != null">
                                    <i class="fa fa-building" aria-hidden="true"></i>
                                    <span class="info-label">{{ 'my_page_user_city' | translate }} :</span>
                                    <span >{{child.city}}</span>
                                </p>
                                <p ng-if="child.education !='' && child.education != null">
                                    <i class="fa fa-university" aria-hidden="true"></i>
                                    <span class="info-label">{{ 'my_page_user_education' | translate }} :</span>
                                    <span>{{child.education}}</span>
                                </p>
                                <p ng-if="child.profession !='' && child.profession != null">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                    <span class="info-label">{{ 'my_page_user_profession' | translate }} :</span>
                                    <span>{{child.profession}}</span>
                                </p>

                            </div>
                            <div class="col-sm-7" >
                                <p ng-if="child.email !='' && child.email != null">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <span class="info-label">{{ 'my_page_user_email' | translate }} :</span>
                                    <span>{{child.email}}</span>
                                </p>
                                <p ng-if="child.phone !='' && child.phone != null">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <span class="info-label">{{ 'my_page_user_phone' | translate }} :</span>
                                    <span>{{child.phone}}</span>
                                </p>
                                <p ng-if="child.skype !='' && child.skype != null">
                                    <i class="fa fa-skype" aria-hidden="true"></i>
                                    <span class="info-label">{{ 'my_page_user_skype' | translate }} :</span>
                                    <span>{{child.skype}}</span>
                                </p>
                                <p ng-if="child.viber !='' && child.viber != null">
                                    <i class="fa fa-phone-square" aria-hidden="true"></i>
                                    <span class="info-label">{{ 'my_page_user_viber' | translate }} :</span>
                                    <span>{{child.viber}}</span>
                                </p>
                                <p ng-if="child.whatsapp !='' && child.whatsapp != null">
                                    <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                    <span class="info-label">{{ 'my_page_user_whatsapp' | translate }} :</span>
                                    <span>{{child.whatsapp}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 biographyField" ng-if="child.biography !='' && child.biography != null">
                        <p>{{child.biography}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center relatives_info editProfileBtns" ng-class="{'col-lg-4 col-md-4 col-sm-8 col-xs-12': child.avatar_bigPath && child.avatar_bigPath != '' ,'col-sm-12': !child.avatar_bigPath}" ng-if="variables.user.id == variables.currentUser.id || variables.currentUser.role == 1">
                        <div class="edit-btns ng-binding" ng-click="editChildProfile($index)">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            <span>{{ 'my_page_user_edit' | translate }}</span>
                        </div>
                        <div class="edit-btns ng-binding" ng-click="removeChild($index)">
                            <i class="fa fa-times" aria-hidden="true"></i>
                            <span>{{ 'my_page_delete' | translate }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--User's photo section-->
    <div id="albumContainer" ng-show="isSet(2)" class="container-fluid">
        <h4 ng-if="variables.albums.length < 1">{{'my_page_empty_info' | translate}}</h4>
        <div class="row" ng-if="!variables.selectedAlbum">
            <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-5 editProfileBtns">
                            <div class="add_album" ng-if="variables.user.id == variables.currentUser.id" ng-click="createAlbum()">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                <div class="edit-btns">{{ 'my_page_album_new' | translate }}</div>
                            </div>
                        </div>
                        <div class="col-sm-7 memory-bg small album-list" ng-if="variables.albums.length > 0" >
                            <div class="img-layout" style="background-image: url({{variables.albums[0].bigPath}})" toggle-class="more-options">
                                <img src="./img/memories.jpg" class="img-responsive" ng-if="!variables.albums[0].bigPath">
                                <div class="layout photo-elem-0-0" ng-click="new_width <= mobileWidth || ios ? checkLoadPhotos($event, 0, 0, 0, 'photo') : loadAlbumPhotos(0)">
                                    <div class="title less">
                                        <span>{{variables.albums[0].name}}</span>
                                    </div>
                                    <div class="title more">
                                        <span >{{variables.albums[0].name}}</span>
                                        <div class="editAlbumBtns">
                                            <div ng-if="variables.user.id == variables.currentUser.id && variables.albums.length > 0" class="edit-btns photo-elem-0-1" ng-click="new_width <= mobileWidth || ios ? checkLoadPhotos($event, 0, 1, 0, 'photo') : checkLoadPhotosDesktop($event, 0, 1)">
                                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                {{ 'my_page_user_add_photo' | translate }}
                                            </div>
                                            <div ng-if="variables.user.id == variables.currentUser.id && variables.albums.length > 0" class="edit-btns photo-elem-0-2" ng-click="new_width <= mobileWidth || ios ? checkLoadPhotos($event, 0, 2, 0, 'photo') : checkLoadPhotosDesktop($event, 0, 2)">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                {{ 'my_page_user_album_edit' | translate }}
                                            </div>
                                            <div ng-if="variables.user.id == variables.currentUser.id && variables.albums.length > 0" class="edit-btns photo-elem-0-3" ng-click="new_width <= mobileWidth || ios ? checkLoadPhotos($event, 0, 3, 0, 'photo') : checkLoadPhotosDesktop($event, 0, 3)">
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                                {{ 'my_page_user_album_remove' | translate }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="col-sm-6 memory-bg album-list" ng-repeat="album in variables.albums"  ng-if="$index > 0" ng-class="{active: album.id == variables.selectedAlbum.id}">
              <div class="img-layout" ng-class="{'default-image-layout': !album.bigPath}"style="background-image: url({{album.bigPath}})" toggle-class="more-options">
                    <img src="./img/happy-family.jpg" class="img-responsive default-image" ng-if="!album.bigPath">
                    <!--<img ng-src="{{album.bigPath}}" class="img-responsive" ng-if="album.bigPath">-->
                    <div class="layout photo-elem-{{album.id}}-0" ng-click="new_width <= mobileWidth || ios ? checkLoadPhotos($event, $index, 0, album.id, 'photo') : loadAlbumPhotos($index)">
                        <div class="title less">
                            <span>{{album.name}}</span>
                        </div>
                        <div class="title more">
                            <span>{{album.name}}</span>
                            <div class="editAlbumBtns">
                                <div ng-if="variables.user.id == variables.currentUser.id && variables.albums.length > 0" class="edit-btns photo-elem-{{album.id}}-1" ng-click="new_width <= mobileWidth || ios ? checkLoadPhotos($event, $index, 1, album.id, 'photo')  : checkLoadPhotosDesktop($event, $index, 1)" >
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    {{ 'my_page_user_add_photo' | translate }}
                                </div>
                                <div ng-if="variables.user.id == variables.currentUser.id && variables.albums.length > 0" class="edit-btns photo-elem-{{album.id}}-2" ng-click="new_width <= mobileWidth || ios ? checkLoadPhotos($event, $index, 2, album.id, 'photo')  : checkLoadPhotosDesktop($event, $index, 2)">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    {{ 'my_page_user_album_edit' | translate }}
                                </div>
                                <div ng-if="variables.user.id == variables.currentUser.id && variables.albums.length > 0" class="edit-btns photo-elem-{{album.id}}-3" ng-click="new_width <= mobileWidth || ios ? checkLoadPhotos($event, $index, 3, album.id, 'photo')  : checkLoadPhotosDesktop($event, $index, 3)">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    {{ 'my_page_user_album_remove' | translate }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="albumContent" class="row" ng-if="variables.selectedAlbum">
            <div  class="col-sm-2 album-thumbs back" ng-click="setTab(2)">
                <div class="editAlbumBtns">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    <div class="edit-btns">{{'my_page_album' | translate}}</div>
                </div>
            </div>
            <div class="col-sm-2 album-thumbs back">
                <div class="editAlbumBtns">
                    <div ng-if="variables.user.id == variables.currentUser.id && variables.albums.length > 0" class="edit-btns" ng-click="createAlbumPicture_thumbs(variables.selectedAlbum.id)">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        {{ 'my_page_user_add_photo' | translate }}
                    </div>
                </div>
            </div>
            <div  class="col-sm-2 col-xs-12 album-thumbs" ng-repeat="picture in variables.pictures" ng-click="showPictureFullInfo($index)">
                <img ng-src="{{picture.path}}" class="col-sm-12">
            </div>
        </div>
    </div>

    <!--User's Video section-->
        <div class="videoContainer container-fluid" ng-show="isSet(3)">
            <h4 ng-if="variables.videos.length < 1">{{'my_page_empty_info' | translate}}</h4>
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-5 editProfileBtns add-btns" >
                            <div ng-if="variables.user.id == variables.currentUser.id">
                                <div class="" ng-click="createVideo()">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    <div class="edit-btns">{{ 'my_page_user_add_video' | translate }}</div>
                                </div>
                                <div class="" ng-click="createEmbedVideo()">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    <div class="edit-btns">{{ 'my_page_user_add_embed_video' | translate }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-7 memory-bg album-list small" ng-if="variables.videos.length > 0">
                            <div class="img-layout" ng-class="{'no-thumb': variables.videos[0].type == 0 || (variables.videos[0].type == 1 && (variables.videos[0].embed_type == 'other' || variables.videos[0].embed_type == 'rutube'))}" toggle-class="more-options">

                                <div ng-if="(variables.videos[0].type == 1 && variables.videos[0].embed_type == 'youtube')" class="youtube-img">
                                    <img  ng-if="variables.videos[0].embed_videoID" ng-src="https://img.youtube.com/vi/{{variables.videos[0].embed_videoID}}/sddefault.jpg" class="img-responsive">
                                </div>
                                <div ng-if="(variables.videos[0].type == 1 && variables.videos[0].embed_type == 'vimeo')" class="vimeo-img">
                                    <img ng-if="variables.videos[0].vimeo_thumb" ng-src="{{variables.videos[0].vimeo_thumb}}" class="img-responsive">
                                </div>

                                <div class="layout video-elem-0-4" ng-click="new_width <= mobileWidth || ios ? checkLoadPhotos($event, 0, 4, 0, 'video') : playVideo(0)">
                                    <div class="title less">
                                        <span>{{variables.videos[0].description}}</span>
                                        <span class="play-icon white"></span>
                                    </div>
                                    <div class="title more">
                                        <span>{{variables.videos[0].description}}</span>
                                        <span class="play-icon"></span>
                                        <div class="editAlbumBtns">
                                            <div ng-if="variables.videos[0].type == 0" class="edit-btns">
                                                <a href="{{variables.videos[0].path}}" download target="_new">Download
                                                    <i class="fa fa-download" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            <div ng-if="variables.user.id == variables.currentUser.id && variables.albums.length > 0" class="edit-btns video-elem-0-5" ng-click="new_width <= mobileWidth || ios ? checkLoadPhotos($event, 0, 5, 0, 'video') : checkLoadPhotosDesktop($event, 0, 5)">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                {{ 'my_page_album_picture_info_edit' | translate }}
                                            </div>
                                            <div ng-if="variables.user.id == variables.currentUser.id && variables.albums.length > 0" class="edit-btns video-elem-0-6" ng-click="new_width <= mobileWidth || ios ? checkLoadPhotos($event, 0, 6, 0, 'video') : checkLoadPhotosDesktop($event, 0, 6)">
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                                {{ 'my_page_album_picture_info_remove' | translate }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 memory-bg album-list" ng-repeat="video in variables.videos" ng-if="$index > 0">
                    <div class="img-layout" ng-class="{'no-thumb': video.type == 0 || (video.type == 1 && (video.embed_type == 'other' || video.embed_type == 'rutube'))}" toggle-class="more-options">

                        <div ng-if="video.type == 1 && video.embed_type == 'youtube'" class="youtube-img">
                            <img  ng-if="video.embed_videoID" ng-src="https://img.youtube.com/vi/{{video.embed_videoID}}/sddefault.jpg" class="img-responsive">
                        </div>
                        <div ng-if="video.type == 1 && video.embed_type == 'vimeo' ">
                            <img ng-if="video.vimeo_thumb" ng-src="{{video.vimeo_thumb}}" ng-click="playVideo($index)" class="img-responsive">
                        </div>
                        <div ng-if="video.embed_type == 'other'" >
                            <!--<span class="glyphicon glyphicons-play" aria-hidden="true" ng-click="playVideo($index)"></span>-->
                        </div>

                        <div class="layout video-elem-{{video.embed_videoID}}-4" ng-click="new_width <= mobileWidth || ios ? checkLoadPhotos($event, $index, 4, video.embed_videoID, 'video') : playVideo($index)">
                            <div class="title less">
                                <span>{{video.description}}</span>
                                <span class="play-icon white"></span>
                            </div>
                            <div class="title more">
                                <span>{{video.description}}</span>
                                <span class="play-icon"></span>
                                <div class="editAlbumBtns">
                                    <div ng-if="video.type == 0" class="edit-btns">
                                        <a href="{{video.path}}" download target="_new">Download
                                            <i class="fa fa-download" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div ng-if="variables.user.id == variables.currentUser.id && variables.albums.length > 0" class="edit-btns video-elem-{{video.embed_videoID}}-5" ng-click="new_width <= mobileWidth || ios ? checkLoadPhotos($event, $index, 5, video.embed_videoID, 'video') : checkLoadPhotosDesktop($event, $index, 5)">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        {{ 'my_page_album_picture_info_edit' | translate }}
                                    </div>
                                    <div ng-if="variables.user.id == variables.currentUser.id && variables.albums.length > 0" class="edit-btns video-elem-{{video.embed_videoID}}-6" ng-click="new_width <= mobileWidth || ios ? checkLoadPhotos($event, $index, 6, video.embed_videoID, 'video') : checkLoadPhotosDesktop($event, $index, 6)">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                        {{ 'my_page_album_picture_info_remove' | translate }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
        <!--UserFile Information-->
    <div class="footer-block" ng-if="variables.user.id == variables.currentUser.id || variables.currentUser.role == 1">
        <div class="container">
            <h1>{{ 'my_page_disk_space_is_limited' | translate}}</h1>
            <div class="sideBar limit-info">
                <p ng-class="{'exceeded' : variables.user.fileUsed > variables.user.fileLimit }">{{ 'my_page_disk_space_used' | translate}} {{variables.user.fileUsed}}{{ 'my_page_mb' | translate}}</p>
                <p>{{ 'my_page_disk_space_limit' | translate}} {{variables.user.fileLimit}}{{ 'my_page_mb' | translate}}</p>
            </div>

        </div>
    </div>
</div>
