<div class="modal-header">
    <button type="button" class="close fa fa-times" data-dismiss="modal" ng-click="$close()"></button>
</div>
<div class="modal-body">
    <div class="container-fluid ">
            <form class="form-horizontal" role="form" name="mergeWithTreeForm">
                <h3 class="text-center">{{ 'admin_merge_to_tree' | translate }}</h3>

                <div class="form-group">
                    <div class="">
                        <h4 class="text-center">{{variables.user.first_name}} {{variables.user.last_name}}</h4>
                    </div>
                </div>

                <div class="form-group text-center">
                    <h5 class="">{{ 'admin_select_user_for_merge_tree' | translate }}</h5>
                    <div class="col-sm-12">
                        <select data-placeholder="{{ 'admin_genetic_choose_user' | translate }}" ng-options="relationUser.id as relationUser.name for relationUser in variables.relationUsers" ng-model="variables.related_selected_user_id" id="usersTreeList"  class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required chosen-select-merge" required=""  ></select>
                    </div>
                </div>
                <div class="form-group text-center">
                    <div class="col-sm-12">
                        <button type="submit"  class="btn btn-success" ng-click="submitMergeWithTree()" class="btn btn-success" ng-disabled="!mergeWithTreeForm.$valid">{{ 'register_form_sign_in' | translate }}</button>
                    </div>
                </div>
            </form>
            <script type="application/javascript">
                $(document).ready(function(){
                    setTimeout(function(){
                        $(".chosen-select-merge").chosen();
                    }, 500);
                });
            </script>
    </div>
</div>

