<div class="modal-header">
    <button type="button" class="close fa fa-times" data-dismiss="modal" ng-click="$close()"></button>
</div>
<div class="modal-body">
    <div class="container-fluid ">
        <form class="form-horizontal" role="form" id="newVideoForm" name="newVideoForm">
            <h3 class="text-center" ng-if="variables.mode != 'edit'" class="col-sm-offset-3">{{'my_page_user_add_video' | translate}}</h3>
            <h3 class="text-center" ng-if="variables.mode == 'edit'" class="col-sm-offset-3">{{'my_page_new_album_picture_edit_form_title' | translate}}</h3>

            <div class="row lang-area">
                <div class="col-sm-8 col-xs-8">
                    <p class="description">{{'popup_all_languages_title' | translate}}:</p>
                </div>
                <div class="col-sm-4 col-xs-4">
                    <ul ng-init="tab = 1" class="blueTab lang" >
                        <li ng-class="{active:tab===1}">
                            <a href ng-click="tab = 1">{{ 'lang_en' | translate }}</a>
                        </li>
                        <li ng-class="{active:tab===2}">
                            <a href ng-click="tab = 2">{{ 'lang_ru' | translate }}</a>
                        </li>
                        <li ng-class="{active:tab===3}">
                            <a href ng-click="tab = 3">{{ 'lang_am' | translate }}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="form-group" ng-if="variables.userVideoType == 'upload'">
                <div class="col-sm-12">
                    <input  class="reg-inputfile" placeholder="{{ 'add_video_file_label' | translate }}" ng-if="variables.mode != 'edit'" id="pictureField" type="file" onchange="angular.element(this).scope().setFile(this)" required>
                    <label for="pictureField" >
                      <span>{{ 'register_form_profile_video' | translate }}</span>
                    </label>
                    <span class="inputfile-text" ng-if="variables.fileObject">{{variables.fileObject.name}}</span>
                </div>
            </div>
            <!--embed video part-->
            <div class="form-group" ng-if="variables.userVideoType == 'embed'">
                <div class="col-sm-12">
                    <textarea placeholder="{{ 'add_video_embed_label' | translate }}" ng-model="variables.video.embed_code"  class="form-control"  required></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 info">
                    <p class="help-text" ng-if="variables.userVideoType == 'upload'">{{ 'add_video_help_text' | translate }}</p>
                    <p class="help-text" ng-if="variables.userVideoType == 'upload'">{{ 'add_video_help_text_player_supports' | translate }}</p>
                    <p class="help-text" ng-if="variables.userVideoType == 'embed'">{{ 'add_video_embed_help_text' | translate }}</p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                  <input ng-show="tab == 3" ng-model="variables.video._languageData.am.description"   placeholder="{{ 'my_page_new_album_form_picture_description' | translate }}" class="form-control"  ng-required="scopeModalCheckRequired(variables.video._languageData, ['description'])" >
                  <input ng-show="tab == 2" ng-model="variables.video._languageData.ru.description"   placeholder="{{ 'my_page_new_album_form_picture_description' | translate }}" class="form-control"  ng-required="scopeModalCheckRequired(variables.video._languageData, ['description'])" >
                  <input ng-show="tab == 1" ng-model="variables.video._languageData.en.description"   placeholder="{{ 'my_page_new_album_form_picture_description' | translate }}" class="form-control"  ng-required="scopeModalCheckRequired(variables.video._languageData, ['description'])" >
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit"  class="btn btn-success" ng-click="submitNewVideoForm()" ng-disabled="!newVideoForm.$valid">{{ 'contact_us_form_submit' | translate }}</button>
                </div>
            </div>
        </form>
    </div>
</div>