
<div class="modal-body">
    <div class="container-fluid ">
        <form class="form-horizontal" role="form" name="passwordForm">
            <h3 class="text-center">{{ 'my_page_password_edit' | translate}}</h3>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-12">
                        <input id="passwordField"  ng-model="variables.user.pass" class="form-control" placeholder="{{ 'register_form_password' | translate }}" required >
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input id="confirmPasswordField" type="password" ng-model="variables.confirm_password" class="form-control" placeholder="{{ 'register_form_confirm_password' | translate }}" required data-match="variables.user.pass">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 text-center">
                    <button type="submit"  class="btn btn-success" ng-click="submitForm()" class="btn btn-success" ng-disabled="!passwordForm.$valid">{{ 'register_form_sign_in' | translate }}</button>
                </div>
            </div>
        </form>
    </div>
</div>

