<div class="modal-header">
  <button type="button" class="close fa fa-times" data-dismiss="modal" ng-click="$close()"></button>
</div>
<div class="modal-body">
  <div id="videoInfoPopup" >
    <div id="videoElement"></div>
    <div ng-if="variables.video.type == 0">
        <p id="v-path" ng-model="variables.video.path"></p>
        <script type="text/javaScript">
          var playerInstance = jwplayer("videoElement");
          //var path = '_data_/user_video/4Qyhkm8ois.mp4';
          var path = angular.element($('#v-path')).scope().variables.video.path;
          playerInstance.setup({
            file: '/'+path,
            mediaid: "mid"
          });
        </script>
    </div>
    <div ng-if="variables.video.type == 1">
      <p ng-bind-html="toTrustedHTML(variables.video.embed_code)" class="iframeArea"></p>
      <!--<p ng-bind-html="variables.video.embed_code" class="iframeArea"></p>-->
    </div>

    <h3>{{variables.video.description}}</h3>
  </div>
</div>
