<div class="modal-header">
    <button type="button" class="close fa fa-times" data-dismiss="modal" ng-click="$close()"></button>
</div>
<div class="modal-body">
    <div class="container-fluid ">
        <form class="form-horizontal" role="form" id="newVideoForm" name="newVideoForm">
            <h3 class="text-center" ng-if="variables.mode != 'edit'" class="col-sm-offset-3">{{'my_page_new_album_picture_form_title' | translate}}</h3>
            <h3 class="text-center" ng-if="variables.mode == 'edit'" class="col-sm-offset-3">{{'my_page_new_album_video_edit_form_title' | translate}}</h3>

            <div class="row lang-area">
                <div class="col-sm-8 col-xs-8">
                    <p class="description">{{'popup_all_languages_title' | translate}}:</p>
                </div>
                <div class="col-sm-4 col-xs-4">
                    <ul ng-init="tab = 1" class="blueTab lang" >
                        <li ng-class="{active:tab===1}">
                            <a href ng-click="tab = 1">{{ 'lang_en' | translate }}</a>
                        </li>
                        <li ng-class="{active:tab===2}">
                            <a href ng-click="tab = 2">{{ 'lang_ru' | translate }}</a>
                        </li>
                        <li ng-class="{active:tab===3}">
                            <a href ng-click="tab = 3">{{ 'lang_am' | translate }}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <input  ng-if="variables.mode != 'edit'" id="pictureField" type="file" onchange="angular.element(this).scope().setFile(this)" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                  <input ng-show="tab == 3" ng-model="variables.video._languageData.am.description"   placeholder="{{ 'my_page_new_album_form_picture_description' | translate }}" class="form-control" ng-required="scopeModalCheckRequired(variables.video._languageData, ['description'])" >
                  <input ng-show="tab == 2" ng-model="variables.video._languageData.ru.description"   placeholder="{{ 'my_page_new_album_form_picture_description' | translate }}" class="form-control" ng-required="scopeModalCheckRequired(variables.video._languageData, ['description'])" >
                  <input ng-show="tab == 1" ng-model="variables.video._languageData.en.description"   placeholder="{{ 'my_page_new_album_form_picture_description' | translate }}" class="form-control" ng-required="scopeModalCheckRequired(variables.video._languageData, ['description'])" >
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit"  class="btn btn-success" ng-click="submitNewVideoForm()" ng-disabled="!newVideoForm.$valid">{{ 'contact_us_form_submit' | translate }}</button>
                </div>
            </div>
        </form>
    </div>
</div>