<div id="treePage">
    <div class="pageHeader banner" style="background-image: url(./img/familytree.jpg)">
        <div class="banner-text"><div class="slogan">{{ 'menu_family_tree' | translate}}</div></div>
    </div>
    <div class="container-fluid special-content">
        <!--<h3 class="text-center ">{{ 'menu_family_tree' | translate}}</h3>-->
        <div class="treeContent">
        <div class="formDiv">
            <form  class="search-form col-sm-offset-3 col-sm-6" name="searchForm">
                <div class="form-group has-feedback">
                    <input ng-keyup="$event.keyCode == 13 && searchByName()" type="text" class="form-control" placeholder="{{ 'entertaining_book_search_article' | translate }}"ng-model="searchVariable" ng-minlength="3">
                    <span class="fa fa-search form-control-feedback" ng-click="searchByName()" ></span>
                </div>
            </form>
        </div>
        <div class="tree" id="familyTree">
            <div class="outer-center">
                <div class="inner-center">
                    <ul ng-tree="familyTree" >
                        <li >
                            <div ng-click="loadUserData(item.id)" ng-class="{selected:item.id == treeRootUserID}">
                                <a>
                                    <div class="item-content">
                                        <img  ng-if="item.user_avatar && item.user_avatar != ''" ng-src="{{item.user_avatar}}" width="70" height="70">
                                        <div class="userTreeInfo">
                                            <p class="name"> {{item.first_name + " " + item.last_name}} </p>
                                            <p class="date" ng-if="item.birth_date"> {{item.birth_date| date}} </p>
                                            <p class="date" ng-if="item.dead_date"> {{item.dead_date| date}} </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>

        </div>
    </div>
    </div>

    <div class="footer-block">
        <div class="container">
            <h1>{{'family_tree_footer_block_title' | translate}}</h1>
            <ul>
                <li><a class="btn btn-info" ng-click="changeTab('chat')">{{ 'family_tree_go_to_chat' | translate}}</a></li>
            </ul>
        </div>
    </div>
</div>
<script>
    if(/iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream){
        $('.userTreeInfo').attr("ng-style","{zoom:'{{innerCenterZoom}}'}");
        $('.userTreeInfo').attr("style","zoom:{{innerCenterZoom}}");
        $('.userTreeInfo').attr("ng-class","{{innerCenterZoom}}");
        $('.inner-center').attr("ng-style","{zoom:'{{innerCenterZoomParent}}'}");
        $('.inner-center').attr("style","zoom:{{innerCenterZoomParent}}");
        $('.inner-center').attr("ng-class","{{innerCenterZoomParent}}");
    }
    else {
        $('.inner-center').attr("ng-style","{zoom:'{{innerCenterZoom}}'}");
        //$('.inner-center').attr("style","zoom:{{innerCenterZoom}}");
        $('.inner-center').attr("ng-class","{{innerCenterZoom}}");
    }
</script>