<div id="searchUserPopup"  >
    <div class="modal-header">
        <button class="close fa fa-times"  data-dismiss="modal" ng-click="close()"></button>
    </div>
    <div class="modal-body">
        <table class="table" id="searchUsersTable" ng-if="variables.users.length != 0">
            <thead>
                <tr>
                    <th></th>
                    <th>{{'admin_user_table_name' | translate}}</th>
                    <th>{{'my_page_user_birth_date' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in variables.users" ng-click="loadUserTree(user.user_id)" >
                    <td><img  ng-if="user.profile_picture" ng-src="{{user.user_avatar}}" width="50"></td>
                    <td> {{user.first_name}}  {{'zargaryan' | translate}}</td>
                    <td> {{user.birth_date | date}} </td>
                </tr>
            </tbody>
        </table>
        <div class="no-result">
            <span ng-if="variables.users.length == 0">{{ "family_tree_search_no_result" | translate}}</span>
        </div>
    </div>

</div>