<div id="treeUserPopup">
    <div class="modal-header">
        <button class="close fa fa-times"  data-dismiss="modal" ng-click="close()"></button>
    </div>
    <div class="modal-body">
        <div>
            <img  ng-if="variables.user.user_avatar && variables.user.user_avatar != ''" ng-src="{{variables.user.user_avatar}}">
            <h3>{{variables.user.first_name}} {{variables.user.last_name}}</h3>
            <!--p ng-if="variables.user.city !=''"><span class="fieldName col-sm-4">{{ 'my_page_user_city' | translate }} :</span><span class="fieldContent  col-sm-8">{{variables.user.city}}</span></p>
            <p ng-if="variables.user.countryName !=''"><span class="fieldName col-sm-4">{{ 'my_page_user_country' | translate }} :</span><span class="fieldContent  col-sm-8">{{variables.user.countryName}}</span></p-->
            <p ng-if="variables.user.profession !=''"><span class="fieldName col-sm-4">{{ 'my_page_user_profession' | translate }} :</span><span class="fieldContent  col-sm-8">{{variables.user.profession}}</span></p>
            <!--p ng-if="variables.user.education !=''"><span class="fieldName col-sm-4">{{ 'my_page_user_education' | translate }} :</span><span class="fieldContent  col-sm-8">{{variables.user.education}}</span></p-->
            <p ng-if="variables.user.biography !=''"><span class="fieldName col-sm-4">{{ 'my_page_user_biography' | translate }} :</span><span class="fieldContent  col-sm-8">{{variables.user.biography}}</span></p>
        </div>
        <button  class="btn btn-success" ng-click="viewProfile()" class="btn btn-success">{{ 'admin_user_view_profile' | translate }}</button>
    </div>
</div>